<div class="outertitle"><div class="columntitle">
</div></div>

<% gray = true %>
<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
<% $Continuous["filter"].each do |feat| %>
<div class="cell <%= gray ? "graybg" : "whitebg" %>">
	<% gray = !gray %>
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<!-- If the interesting feature should be displayed then display -->
		<b><%= contspecs[feat].to_s + " (" + t("products.#{feat}unit") %>)</b>		
	<% else %>
		<%= contspecs[feat].to_s + " (" + t("products.#{feat}unit") %>)
	<% end %>
	</div>
<% end %>
<% $Categorical["filter"].each do |feat| %>
<div class="cell <%= gray ? "graybg" : "whitebg" %>">
	<% gray = !gray %>
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<!-- If the interesting feature should be displayed then display -->
		<b><%= catspecs[feat].to_s if catspecs[feat] %></b>		
	<% else %>
		<%= catspecs[feat].to_s if catspecs[feat] %>
	<% end %>
	</div>
<% end %>
<% $Binary["filter"].each do |feat| %>
<div class="cell <%= gray ? "graybg" : "whitebg" %>">
	<% gray = !gray %>
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<!-- If the interesting feature should be displayed then display -->
		<b><%= binspecs[feat].to_s if binspecs[feat] %></b>		
	<% else %>
		<%= binspecs[feat].to_s if binspecs[feat] %>
	<% end %>
	</div>
<% end %>
