<% if type == "cont" %>
<div class="cell <%= gray ? "graybg" : "whitebg" %><%=' spec_column_' + column_number.to_s %>">
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<!-- If the interesting feature should be displayed then display -->
		<b><%= t("#{Session.product_type}.specs.#{feat}.preunit", :default => "") %><%= spec.to_s + " " + t("#{Session.product_type}.specs.#{feat}.unit", :default => "") %></b>		
	<% else %>
		<%= t("#{Session.product_type}.specs.#{feat}.preunit", :default => "") %><%= spec.to_s + " " + t("#{Session.product_type}.specs.#{feat}.unit", :default => "") %>
	<% end %>
</div>
<% elsif type == "cat" %>
<div class="cell <%= gray ? "graybg" : "whitebg" %><%=' spec_column_' + column_number.to_s %>">
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<!-- If the interesting feature should be displayed then display -->
		<b><%= spec.to_s if spec %></b>		
	<% else %>
		<%= spec.to_s if spec %>
	<% end %>
</div>
<% else #Binary -- might need to add another elsif clause for text specs later %> 
<div class="cell <%= gray ? "graybg" : "whitebg" %><%=' spec_column_' + column_number.to_s %>">
	<% if numberofproducts > 1 && (@bestvalue[feat] != nil && (@bestvalue[feat] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[feat]))) %>
		<%# If the interesting feature should be displayed then display... as of Feb 24, 2011, this just puts a bold tag on an image, doing nothing %>
		<b><%= spec ? image_tag("checkmark.png", :height => "16px") : image_tag("x.png", :height => "16px")%></b>
	<% else %>
		<%= spec ? image_tag("checkmark.png", :height => "16px") : image_tag("x.png", :height => "16px")%>
	<% end %>
	&nbsp;
</div>
<% end %>
