<div class="<%='thumbnailcell spec_column_' + column_number.to_s %>">
		<div class="first">
			<%= link_to image_tag(catspecs["imgmurl"], :"data-id" => thumbnails.id, :class => "compareimg"), product_path(:name => thumbnails.descurl, :id => thumbnails.id), {:class => 'easylink', :'data-id' => thumbnails.id} %>
 		</div>
	<div class="thumbnaillabel">
   	<%= link_to thumbnails.small_title, product_path(:name => thumbnails.descurl, :id => thumbnails.id), :class => 'easylink', :'data-id' => thumbnails.id %>
	<div class="thumbnaildetails">
    	<% if binspecs["onsale"] %>
    		On Sale: $<%= "%.2f" % contspecs["saleprice"] %>
    	<% else %>
    		$<%= "%.2f" % contspecs["price"] %>
    	<% end %>
	</div>
	<%= link_to 'Add To Cart', 'javascript:return false;' %>
	</div>
</div>