<div class="thumbnailcell spec_column_<%= column_number.to_s %><%= " reduce-one" if last %>">
		<div class="first">
			<%= link_to image_tag(catspecs["imgmurl"], :"data-id" => thumbnails.id, :class => "compareimg"), product_path(:name => thumbnails.descurl, :id => thumbnails.id), {:class => 'easylink', :'data-id' => thumbnails.id} %>
 		</div>
	<div class="thumbnaillabel">
	<div style="height: 65px">
   	<%= link_to thumbnails.small_title, product_path(:name => thumbnails.descurl, :id => thumbnails.id), :class => 'easylink', :'data-id' => thumbnails.id %>
	<div class="thumbnaildetails">
    	<% if binspecs["onsale"] %>
    		On Sale: $<%= "%.2f" % contspecs["saleprice"] %>
    	<% else %>
    		$<%= "%.2f" % contspecs["price"] %>
    	<% end %>
	</div>
	</div>
	<%= link_to image_tag("bestbuy_addtocart#{fr?}.gif"), "http://www.bestbuy.ca/order/addtocart.ashx?accessories=#{thumbnails.sku}" %>
	</div>
</div>