<div class="thumbnailcell">
		<div class="first">
			<% if $model.name == "Flooring" %>
				<%= image_tag("http://www.builddirect.com" + CGI.unescapeHTML(thumbnails.imagelink.to_s), :width => 100, :height => 100, :onClick => "fadeout('/compare/show/' + #{thumbnails.id}+'?plain=true');") %>
			<% elsif $model.name == "Laptop" %>
				<%= image_tag(thumbnails.imgurl, :width => 100, :height => 100) %>
			<% else %>
				<% if FileTest.exist?(RAILS_ROOT + "/public/images/"+ $model.name.downcase+"s/" + thumbnails.id.to_s + "_m.jpg") %>
		 			<%= image_tag("/images/"+$model.name.downcase+"s/" + thumbnails.id.to_s + "_m.jpg", :width => 100, :onClick => "fadeout('/compare/show/' + #{thumbnails.id}+'?plain=true');", :style => "cursor: pointer;") %>
				<% end %>
			<% end %>
 		</div>
	<div class="thumbnaillabel">
   	<%= finalDisplay(thumbnails, "brand") %> <%= finalDisplay(thumbnails, "model") %>
	<div class="thumbnaildetails">	<%= finalDisplay(thumbnails, "price") %> </div>
	</div>
</div>