<div class="bb_poptitle"><%=t "compare.index.title"%>
    <% link_to "close", :class => "compare bb_quickview_close" do %>
		Close Window <%= image_tag("closepopup.png") %>
	<% end %>
</div>

<div id="basic_matrix" class="comparisonmatrix" style="width: <%= box_width %>px">

    <%# Rows are like this: %>
    <%# remove buttons %>
    <%# pictures (thumbnail partial) %>
    <%# "product details" %>
    <%# then featurename, data, data %>

    <div class="compare_row">
        <div class="outertitle leftmostcolumn leftmostoutertitle"><div class="columntitle leftmostcolumn leftmostcolumntitle"></div></div>

    	<% @products.each_with_index do |product, i| %>
            <div class="<%= 'outertitle spec_column_' + i.to_s %>"><div class="columntitle">
    				<%= link_to image_tag('remove.png', :style => "vertical-align: text-top;")+" "+t('compare.index.remove'), "", :"data-name" => product.id, :class => 'remove spec_column_' + i.to_s %>
    		</div></div>
		<% end %>
    </div>
    <% spec_hash = {} %>
    <div class="compare_row">
        <div class="thumbnailcell leftmostcolumn tabletitle" style="padding-right:3px;"> <%# the style information is here because IE can't handle .class.otherclass CSS declarations %>
			<%= t('compare.index.tabletitle') %>
		</div>
		<% @products.each_with_index do |product,i| %>
    		<% contspecs = ContSpec.cache_all(product.id) %>
    		<% catspecs = CatSpec.cache_all(product.id) %>
    		<% binspecs = BinSpec.cache_all(product.id) %>
    		<% spec_hash[product.id] = contspecs.merge(catspecs).merge(binspecs) %>
    		<%= render :partial => 'thumbnails', :object => product, :locals => {:contspecs => contspecs, :catspecs => catspecs, :binspecs => binspecs, :column_number => i} %>
        <% end %>
    </div>

    <div class="compare_row">
        <div class="outertitle leftmostoutertitle"><div class="columntitle leftmostcolumntitle">
        	<%=t 'compare.index.proddetails'%>
        </div></div>

		<% @products.each_with_index do |product, i| %>
            <div class="<%= 'outertitle spec_column_' + i.to_s %>"><div class="columntitle">&nbsp;</div></div>
        <% end %>
    </div>
	<% gray = false %>
        <% {@s.continuous["show"] => "cont", @s.categorical["show"] => "cat", @s.binary["show"] => "bin"}.each_pair do |feat_list, feat_type| %>
            <% feat_list.each do |feat| %>
            <div class="<%= t("#{Session.product_type}.specs.#{feat}.name").length < 20 ? "compare_row" : "double_height_compare_row" %>">
        		<div class="cell <%= gray ? "graybg" : "whitebg" %> leftmostcolumn leftcolumntext">
        			<%= t("#{Session.product_type}.specs.#{feat}.name") %>:
        		</div>
        		<% @products.each_with_index do |product, i| %>
            		<% allspecs = spec_hash[product.id] %>
            		<%= render :partial => 'featurevalues', :locals => {:product => product, :numberofproducts => @products.count, :spec => allspecs[feat], :gray => gray, :feat => feat, :type => feat_type, :column_number => i} %>
                <% end %>
        		<% gray = !gray %>
            </div>
            <% end %>
        <% end %>
</div>

<div class="spacer" style="text-align:center; padding-bottom:5px;"><%= link_to '#', :class => 'toggle_specs' do %>
	More Specs&nbsp;
	<%= image_tag "downarrow.png" %>
<% end %>
</div>
<div class="comparisonmatrix" id="hideable_matrix" style="width: <%= box_width %>px">
	Loading...
</div>
<br style="clear: both;">