<div class="poptitle"><%=t "compare.index.title"%></div>

<div id="comparisonmatrix">
	<div class="column">
		<div class="outertitle leftmostcolumn leftmostoutertitle"><div class="columntitle leftmostcolumn leftmostcolumntitle"></div></div>
		<div class="thumbnailcell leftmostcolumn">								
			<div class="tabletitle leftcolumntext"> <%= t('compare.index.tabletitle') %> </div>
		</div>
		<%= render :partial => 'featurenames', :locals => {:featurelist => (@s.continuous["filter"]+@s.categorical["filter"]+@s.binary["filter"])} %>
		<div class="cell leftmostcolumn"> </div>
	</div>

	<% @products.each do |product| %>
		<div class="column">
			<div class="outertitle"><div class="columntitle">
					<%= link_to image_tag('remove.png', :style => "vertical-align: text-top;")+" "+t('compare.index.remove'), "", :"data-name" => product.id, :class => 'remove' %>
			</div></div>
			<% contspecs = ContSpec.cache_all(product.id) %>
			<% catspecs = CatSpec.cache_all(product.id) %>
			<% binspecs = BinSpec.cache_all(product.id) %>
			<%= render :partial => 'thumbnails', :object => product, :locals => {:contspecs => contspecs, :catspecs => catspecs} %>
			<%= render :partial => 'featurevalues', :locals => {:product => product, :numberofproducts => @products.count, :contspecs => contspecs, :catspecs => catspecs, :binspecs => binspecs} %>
		</div>
	<% end %>
	<div class="bgrow"></div>
	<div class="bgrow" style="top: 225px;"></div>
</div>
