<div class="poptitle"> Feedback Form </div>
<div class="surveyquestions">
<%= form_tag({:controller => "survey", :action => "submit"},:id => "surveyform") do %>
 <%= fields_for "survey" do |form| %>
	<p>Your feedback will be used to make our products better and as testimonials on our website.</p>
	
	First Name <%= form.text_field "firstname" %><br>
	Last Name <%= form.text_field "lastname" %><br>
	
	<p>On a scale from 1 to 5, how would you rate this tool for your shopping experience?<br>
	<% (1..5).each do |i| %>
		<%= form.radio_button "rating", i %> <%= i %>
		<%= "(worst)" if i == 1%>
		<%= "(best)" if i == 5%>
	<% end %></p>
	
	<p>Would you be interested in a follow-up interview on your shopping experience?<br>
	<%= form.check_box "followup" %> Yes, my email is <%= form.text_field "email" %>.</p>
	
	<p>Can you describe your shopping experience? Was browsing easy? What did you like about it?<br>
	<%= form.text_area "experience", :cols => "65", :rows => "5" %></p>
	
	<p>How can we improve your experience? Is there anything you didn't like?<br>
	<%= form.text_area "improvements", :cols => "65", :rows => "5" %></p>
<% end %>
<div style="text-align:right;margin-top:20px;"> <%= submit_tag t('survey.submit'), :id => "surveysubmit" %> </div>
<% end %>
</div>