<h1>Listing amazon_groups</h1>

<table>
  <tr>
	<th>Brand</th>
	<th>Megapixel</th>
	<th>Zoom</th>
	<th>DisplaySize</th>
	<th>ImageStabilization</th>
	<th>ViewFinderType</th>
  </tr>

<% for ag in @amazon_groups %>
  <tr>
	<td><%= ag.brand %></td>
	<td><%= ag.megapixels_range %></td>
	<td><%= ag.opticalZoom_range %></td>
	<td><%= ag.displaySize_range %></td>
	<td><%= ag.imageStabilization %></td>
	<td><%= ag.viewfinderType %></td>
    <td><%= link_to 'Show', ag %></td>
    <td><%= link_to 'Edit', edit_amazon_group_path(ag) %></td>
    <td><%= link_to 'Destroy', ag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New amazon_group', new_amazon_group_path %>
