<h1>Editing welcome</h1>

<% form_for(@welcome) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @welcome %> |
<%= link_to 'Back', welcomes_path %>
