<% k = cat_option.first %>
<% available_count = cat_option.second %>
<% checked = chosen_cats.include?(k) %>
<% intoplist = toplist.empty? || toplist.include?(k) %>
<% display = expanded || intoplist %>
<div class="list_item hanging_indent<%= ' invisible' if available_count == 0 and !checked %><%= ' minor' unless intoplist %>" style="<%= "font-weight:bold;" if checked %><%= "display:none;" unless display %>">
  <%= check_box_tag "categorical[#{f.name}]", k, checked, :disabled => (available_count == 0 && !checked) ? true : false, :class => 'cat_filter', :'data-disabled' => (available_count == 0) ? 'true' : 'false' %>
  <% trans_key = (f.name == "product_type") ? "#{Session.product_type}.filter.#{k}.name" : "cat_option.#{Session.retailer}.#{f.name}.#{k.gsub('.','-')}" %>
  <% d_str = @t[trans_key] || @t["#{k}.name"] || t(trans_key, :default => ["#{k}.name".to_sym, k]) %>
  <%= (available_count == 0) ? d_str : link_to(d_str, "#", :class => "checkbox_text") %>
  <span class="av_count"><%= "(#{available_count})" unless checked %></span>
  <% if checked && f.name == "product_type" %>
    <% optionlist1 = sub_level(k) %>
    <% optionlist1.each do |k1,available_count1| %>
      <% checked1 = chosen_cats.include?(k1) %>
	    <div class="list_item hanging_indent" <%=raw "style='font-weight:normal;'" unless checked1 %> >
        <%= check_box_tag "categorical[#{f.name}]", (k + "+" + k1), checked1, :class => 'cat_filter' %>
	      <%= (available_count1 == 0) ?  @t["#{Session.product_type}.filter.#{k1}.name"] || @t["#{k1}.name".to_sym] || k1 : link_to(@t["#{Session.product_type}.filter.#{k1}.name"] || @t["#{k1}.name".to_sym] || k1, "#", :class => "checkbox_text") %>
        <span class="av_count"><%= "(#{available_count1})" unless checked1 %></span>
      </div>
    <% end %> <%# optionlist1.each %>
  <% end %> <%# if checked %>
</div>
