<div style="margin: 10px">
  <%= product_type_link("B20218", "BB Cameras") %>
  <%= product_type_link("B20243", "BB Drives") %>
  <%= product_type_link("B20352", "BB Laptops") %>
  
  <%= product_type_link("F1127", "FS Cameras") %>
  <%= product_type_link("F30659", "FS Drives") %>
  <%= product_type_link("F1002", "FS Laptops") %>
</div>


