<% k = cat_option.first %>
<% available_count = cat_option.second %>
<% checked = selected.find{|x|x.value == k} %>
<% intoplist = toplist.empty? || toplist.include?(k) %>
<% display = expanded || intoplist || checked %>
<div class="list_item hanging_indent<%= ' invisible' if available_count == 0 and !checked %><%= ' minor' unless intoplist || checked %>" style="<%= "font-weight:bold;" if checked %><%= "display:none;" unless display %>">
  <% check_opts = {class: 'cat_filter'} %>
  <% check_opts[:'data-id'] = checked.data_id if checked %>
  <%= check_box_tag "categorical[#{name}]", k, !!checked, check_opts %>
  <% trans_key = (name == "product_type") ? "#{Session.landing_page}.filter.#{k}.name" : "cat_option.#{Session.retailer}.#{name}.#{k.gsub('.','-')}" %>
  <% d_str = t(trans_key, :default => ["#{k}.name".to_sym, k]) %>
    <%= (available_count == 0) ?  d_str : link_to(d_str, "#", :class => "checkbox_text") %>
  <span class="av_count"><%= "(#{available_count})" unless !!checked %></span>
  <% if checked && name == "product_type" %>
    <%= render partial: "cat_option", collection: sub_level(k), locals: {selected: selected, name: name, expanded: expanded, toplist: toplist} %>
  <% end %>
</div>
