<div style="margin: 10px">
  <%= product_type_link("B20218", "BB Cameras") %>
  <%= product_type_link("B29157", "BB DSLR") %>
  <%= product_type_link("B20352", "BB Laptops") %>
  <%= product_type_link("B20232", "BB Drives") %>
  
  <%= product_type_link("F1127", "FS Cameras") %>
  <%= product_type_link("F23773", "FS Digital SLRs") %>
  <%= product_type_link("F1002", "FS Laptops") %>
  <%= product_type_link("F1084", "FS Hard Drives") %>
  <%= product_type_link("F32511", "FS Hard Drive Accessories") %>
  <%= product_type_link("F23813", "FS USB") %>
  <%= product_type_link("F1082", "FS Optical Drives") %>
  <%= product_type_link("F23033", "FS Blank Discs and Cases") %>

</div>


