	<span style="color:red;" id="error"><%= flash[:error] unless flash[:error].nil? %></span>
	<% if flash[:notice] %>
	<span class="notice"><%= flash[:notice] %></span>
	<% end %>
	<div id="navigator_bar" class="rounded_nav rounded">
		<div class="tl"></div><div class="tr"></div>
	    <%= navtitle %>
		<div class="bl"></div><div class="br"></div>
	<%= '</div>' if !$LineItemView %>
	<div class='<%= $LineItemView ? "lv" : "gv" %>'>
	<% for i in 0..[Session.current.search.cluster_count,$NumGroups].min-1 %>
	  <% if i%(Float($NumGroups)/3).ceil == 0 && !$LineItemView %>
		<div class="rowdiv">
		<% open = true %>
	  <% end %>
	  <!-- Navbox partial to draw boxes -->
	  <%= render :partial => ($LineItemView ? 'listbox' : 'navbox'), :locals => {:i => i, :cluster => Session.current.search.clusters[i] , :group => Session.current.search.clusters[i].size>1} %>
	  <% if i%(Float($NumGroups)/3).ceil == (Float($NumGroups)/3).ceil - 1 && !$LineItemView %>
		</div>
		<% open = false %>
	  <% end %>
	<% end %>
	<%= '</div>' if open && !$LineItemView %>
	</div>
	<%= '</div>' if $LineItemView %>
	<div style="clear:both;"><span id="actioncount" style="display:none"><%= Session.current.searches.count %></span><%= '<span id="tourautostart">&nbsp;</span>' if (Session.current && (Time.now - Session.current.created_at < 3)) %></div>