<% mb = main_boxes #Calculate this before navtitle %>
<div id="navigator_bar">
	<div id="navtitle"><%=raw navtitle %></div>
	<div id="sorting_method_box"><b style='margin-right:20px;'><%= t("products.sortby") %></b><%=raw sortbyList %></div>
</div>
<div id="product_content">
<%= raw mb %>
<%= raw '</div>' if @s.directLayout %>
<div style="clear:both;"></div>
