	<span style="color:red;" id="error"><%= flash[:error] unless flash[:error].nil? %></span>
	<% if flash[:notice] %>
	<span class="notice"><%= flash[:notice] %></span>
	<% end %>
	<div <%= 'class=listview_ungrouped' if @groupings.nil? && @s.directLayout %> >
	<div id="navigator_bar" class="rounded_nav rounded">
		<div class="tl"></div><div class="tr"></div>
	    <%= navtitle %>
	<% if @s.directLayout %>
		<% columntext = columntext(!@groupings.nil?) %>
	<div id="columnheader">
		<div id="firstcolumn">
			<%= columntext[0] %>
		</div>
		<div id="secondcolumn">
			<%= columntext[1] %>
		</div>
		<div id="thirdcolumn">
			<%= columntext[2] %>
		</div>
	</div>
	<% end %>
		<div class="bl"></div><div class="br"></div>
	<%= raw '</div>' if !@s.directLayout %>
	<% if @s.directLayout %>
		<% if @groupings.nil? %>
			<% @products.each_index do |i| %>
				<%= render :partial => 'singlelist', :locals => {:product => Product.cached(@products[i]), :i => i} %>
			<% end %>
		<% else %>
			<% @groupings.each do |grouping| %>
				<%= render :partial => 'grouping', :locals => {:grouping => grouping, :group => true}%>
			<% end %>
		<% end %>
	<% else %>
		<% for i in 0...[@s.search.cluster.numclusters, @s.numGroups].min %>
		  <% if i % (Float(@s.numGroups)/3).ceil == 0 %>
			<div class="rowdiv">
			<% open = true %>
		  <% end %>
		  <!-- Navbox partial to draw boxes -->
		  <%= render :partial => 'navbox', :locals => {:i => i, :cluster => @s.search.cluster.children[i], :group => @s.search.cluster.children[i].size > 1, :product => @s.search.cluster.children[i].representative} %>
		  <% if i % (Float(@s.numGroups)/3).ceil == (Float(@s.numGroups)/3).ceil - 1 %>
			</div>
			<% open = false %>
		  <% end %>
		<% end %>
	<% end %>
	<%= raw '</div>' if open && !@s.directLayout %>
	<%= will_paginate @products if @s.directLayout && @groupings.nil?%>
	</div>
	<%= raw '</div>' if @s.directLayout %>
	<% current_count = Search.count(:conditions => "session_id = #{@s.id}") %>
	<div style="clear:both;"><span id="actioncount" style="display:none"><%= current_count %></span><%= '<span id="tourautostart">&nbsp;</span>' if (current_count <= 1) %></div>
