<%= render "pagination#{'_search' if @search_view}" %>
<ul id="sorting_method_box"><li><strong><%= t("products.sortby") %>: </strong></li>
  <%=raw sortby %>
</ul>
<%= render "spellcheck" if @search_view %>
<div id="product_content">
    <div class='border-content'>	
    <%=raw main_boxes %>
    <span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span>
    </div>
    <%= render partial: "pagination#{'_search' if @search_view}", locals: {bottom: true} %>
</div>
<div style="clear:both;"></div>
