<span style="color:red;" id="error"><%= flash[:error] unless flash[:error].nil? %></span>
<% if flash[:notice] %>
<span class="notice"><%= flash[:notice] %></span>
<% end %>
<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
<div id="navigator_bar">
	<% mb = main_boxes #Calculate mb before navtitle %>
	<div id="navtitle"><%=raw navtitle %></div>
	<div id="sorting_method_box"><%=raw sortbyList %></div>
	<div><%= link_to(t("products.compare.zoomout"), "/zoomout", :class => "zoomout", :rel => "nofollow") unless Session.search.sim_products_size == Session.search.products_size %></div>

<% if @s.directLayout %>
	<% columntext = columntext(!@s.search.groupby.nil?) %>
<div id="columnheader">
	<div id="firstcolumn">
		<%= columntext[0] %>
	</div>
	<div id="secondcolumn">
		<%= columntext[1] %>
	</div>
	<div id="thirdcolumn">
		<%= columntext[2] %>
	</div>
</div>
<% end %>
</div>
<%= raw '</div>' if !@s.directLayout %>
<%= raw mb %>
</div>
<%= raw '</div>' if @s.directLayout %>
<% search_count = @s.searches.size %>
<div style="clear:both;"><span id="actioncount" style="display:none"><%= search_count %></span></div>