<span style="color:red;" id="error"><%= flash[:error] unless flash[:error].nil? %></span>
<% if flash[:notice] %>
<span class="notice"><%= flash[:notice] %></span>
<% end %>
<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
<div id="navigator_bar" class="rounded_nav rounded">
	<div class="tl"></div><div class="tr"></div>
	<% mb = main_boxes #Calculate mb before navtitle %>
	<div id="navtitle"><%=raw navtitle %> <%= link_to("(All #{t(Session.product_type+'.title-plural')})", "/", :class => "reset", :rel => "nofollow") unless Session.search.onlyfiltering %></div>
	<div id="sorting_method_box"><%=raw sortbyList %></div>
	

<% if @s.directLayout %>
	<% columntext = columntext(!@s.search.groupby.nil?) %>
<div id="columnheader">
	<div id="firstcolumn">
		<%= columntext[0] %>
	</div>
	<div id="secondcolumn">
		<%= columntext[1] %>
	</div>
	<div id="thirdcolumn">
		<%= columntext[2] %>
	</div>
</div>
<% end %>
	<div class="bl"></div><div class="br"></div>
<%= raw '</div>' if !@s.directLayout %>
<%= raw mb %>
</div>
<%= raw '</div>' if @s.directLayout %>
<% search_count = @s.searches.size %>
<div style="clear:both;"><span id="actioncount" style="display:none"><%= search_count %></span></div>