<% if Session.bestbuy? || Session.amazon? %>
  <div class='pagination-container'>
    <%= render "pagination" %>
  </div>
  <div id="sorting_method_container">
    <span id="current_sorting_method" style="display:none"><%= Session.search.sortby || "utility_desc" %></span>
    <ul id="sorting_method_box"><li><strong><%= t("products.sortby") %>: </strong></li>
      <%=raw sortby %>
    </ul>
  </div>
<% else %>
  <%= render 'comparison_and_sort' %>
<% end %>
<%= render "spellcheck" if @search_view %>
<div id="product_content">
    <div class='border-content'>	
    <%= raw main_boxes %>
    <span id="actioncount" style="display:none"><%= Session.search.hash_to_embed %></span>
    </div>
    <%= render partial: "navigator_bar", locals: {bottom: true} %>
    <% if Session.futureshop? -%>
      <%= render 'comparison_and_sort' %>
    <% else %>
      <div class='pagination-container bottom'>
        <%= render partial: "pagination", locals: {bottom: true} %>
      </div>
    <% end %>
</div>
<div style="clear:both;"></div>
