<% mb = main_boxes #Calculate this before navtitle %>
<%= render partial: "pagination" %>
<ul id="sorting_method_box"><li><strong><%= t("products.sortby") %>: </strong></li>
  <%=raw sortby %>
</ul>
<div id="product_content">
    <div class='border-content'>	
    <%= raw mb %>
    <%= raw '</div>' if @s.directLayout %>
    </div>
    <%= render partial: "pagination", locals: {bottom: true} %>
</div>
<div style="clear:both;"></div>
