<div class="y_heading">
  <p class="narrow_text">
    <%= image_tag "refine_your_search#{fr?}.gif" %>
    <%= link_to t('products.compare.reset'), "/", :class => "reset regular_reset", :rel =>
  "nofollow", :title => t('products.compare.resetdesc')%>
  </p>
</div>
<form id="filter_form" method="get" action="/compare">
<% Session.features["filter"].sort_by(&:value).each do |f| %>
  <div class="feature">
  <% unless f.feature_type == "Binary" -%>
    <div class="<%= f.style.blank? ? "label" : f.style %>">
      <%=t "#{Session.product_type}.specs.#{f.name}.name" %>
      <% if !(unit = t("#{Session.product_type}.specs.#{f.name}.unit", :default => "")).blank? -%>
      <span class="unitdisp">
        (<%= unit %>)
      </span>
      <% end %>
    </div>
  <% end -%>
  <% case f.feature_type -%>
  <% when "Heading" -%>
    <div style="height: 4px"><!-- --></div>
  <% when "Categorical" -%>
    <% chosen_cats = chosencats(f.name) %>
    <% if f.name == "color" # TODO: should not be hard code here%>
      <div style="margin-right: -4px;margin-top: 4px;">
        <% color_counts = SearchProduct.cat_counts("color",true) %>
        <% %w(Red Orange Yellow Green Blue Purple Pink White Silver Brown Black).each do |color| %>
          <% next if color_counts[color].nil? && !chosen_cats.include?(color) %>
          <div class="swatch<%= " white_swatch" if color == "White" %><%= " selected_swatch" if chosen_cats.include?(color) %>" style="background-color: <%= color %>"></div>
        <% end %>
        <div style="clear: left;">
          <%= hidden_field_tag "categorical[color]", chosen_cats.join("*") %>
        </div>
      </div>
    <% else %>
      <%# Bring the chosen products to the top, while preserving the previous ordering (ordered highest count to lowest) %>
      <% optionlist = SearchProduct.cat_counts(f.name,true,true).to_a.sort{|a,b| (chosen_cats.include?(a[0]) ? -a[1]-1000000 : -a[1]) <=> (chosen_cats.include?(b[0]) ? -b[1]-1000000 : -b[1])} %>
      <div class="categorical">
        <% optionlist.each do |k,available_count| %>
          <% checked = chosen_cats.include?(k) %>
          <div class="list_item hanging_indent <%=raw ' disabled' if available_count == 0 %>" <%=raw "style='font-weight:bold;'" if checked %> >
            <%= check_box_tag "categorical[#{f.name}]", k, checked, :disabled => (available_count == 0) ? true : false, :class => 'cat_filter', :'data-disabled' => (available_count == 0) ? 'true' : 'false' %>
            <%= (available_count == 0) ?  t("#{Session.product_type}.specs.#{k}.name",:default=>k) : link_to(t("#{Session.product_type}.specs.#{k}.name", :default=>k), "#", :class => "checkbox_text") %>
            <span class="av_count"><%= "(#{available_count})" unless checked %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% when "Continuous" %>
    <% distribution_data = getDist(f.name) -%>
    <% next if distribution_data.blank? -%>
    <div style="position:relative">
  	  <div class="hist" data-data="<%= distribution_data.second.join(',') %>"></div>
      <% current = Maybe(Session.search.userdataconts.select{|m|m.name == f.name}.first) -%>
  	  <%= hidden_field_tag "continuous[#{f.name}]", current.min+","+current.max, {:class => 'min'}%>
  	    data-label= '<%= f.name %>'
  	    data-min='<%= format_acceptable_increments(ContSpec.allMinMax(f.name)[0], "down") %>'
  	    data-max='<%= format_acceptable_increments(ContSpec.allMinMax(f.name)[1], "up") %>'
  	    data-startmin='<%= format_acceptable_increments(current.min.nil? ? ContSpec.allMinMax(f.name)[0] : current.min, "down") %>'
  	    data-startmax='<%= format_acceptable_increments(current.max.nil? ? ContSpec.allMinMax(f.name)[1] : current.max, "up") %>'
  	    current-data-min='<%= distribution_data.first.first %>'
  	    current-data-max='<%= distribution_data.first.second %>'
  	    force-int='false'
  	  <%= f.name == 'saleprice' ? 'data-formatting=\'$\'' : ""  %>>
        	<div class="centerofslider"><!-- --></div>
  	  </div>
  	</div>
  <% when "Binary" %>
    <% dobj = @s.search.userdatabins.select{|udb| udb.name == f.name}.first %>
    <% unchecked = dobj.nil? || dobj.value == false %>
    <% available_count = SearchProduct.bin_count(f.name) %>
    <div class="hanging_indent<%= ' disabled' if available_count == 0 %>" <%=raw 'style="font-weight:bold;"' unless unchecked %>>
      <%= check_box_tag "binary[#{f.name}]", "1", !unchecked ,:disabled => (available_count == 0) ? true : false, :class => 'binary_filter' %>
      <%= (available_count == 0) ? t("#{Session.product_type}.specs.#{f.name}.name") : link_to( t("#{Session.product_type}.specs.#{f.name}.name"), "#", :class => "checkbox_text") %>
      <span class="av_count"><%= "(#{available_count})" if unchecked %></span>
    </div>
  <% end %>
  </div>
<% end %>
</form>
<div class="y_bottom">
  <%= link_to t('products.compare.reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :style => "float:right;", :title => t('products.compare.resetdesc') %>
</div>
