<h2><%=t 'products.compare.search' %> <%= link_to "(reset)", "/", :class => "reset", :rel => "nofollow" %></h2>
	<div class="filtersdesc"><%= searchinst %></div>
<%= form_for(Search.new, :html => {:id => 'filter_form'}) do %>
  <!--<%= @s.search.keyword_search.blank? ? text_field_tag('myfilter[search]') : text_field_tag('myfilter[search]', @s.search.keyword_search) %>
	<div class="ui-widget" style="display:inline;">
		<%= submit_tag 'Go', {:id => 'submit_button'} %>
	</div>
  <% if @s.search.keyword_search %>
	<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :class => "removesearch"} %> Search: <%= @s.search.keyword_search %>
	</div>
	<%= hidden_field_tag "previous_search_word", @s.search.keyword_search %>
  <% end %>-->

  <% i = 0 # Yes, I know, this isn't Rails-y, but we need to assign a different UI position to each feature of all kinds, in order. %> 
  <% @s.categorical["filter"].each_with_index do |feat, index| %>
  	<div class='feature'>
  		<div class='label' data-position="<%= i %>">
  			<%= render :partial => 'desc', :locals => {:feat => feat} %>
  			<%= link_to t("#{Session.product_type}.specs.#{feat}.name"), "#", :rel => "nofollow" %>
  			<% if @s.directLayout %>
  				<div id="groupby<%= index %>" class="groupby" data-feat="<%= feat %>" data-position="<%= i %>">See Groups</div>
  			<% end %>
  		</div>
		<% chosen_cats = chosencats(feat) %>
		<% if feat == "color" %>
			<div style="margin-right: -3px">
				<% color_counts = SearchProduct.cat_counts("color",true) %>
				<% %w(Red Orange Yellow Green Blue Purple Pink White Silver Brown Black).each do |color| %>
    				<% next if color_counts[color].nil? && !chosen_cats.include?(color) %>
    				<div class="swatch<%= " white_swatch" if color == "White" %><%= " selected_swatch" if chosen_cats.include?(color) %>" style="background-color: <%= color %>"></div>
				<% end %>
				<div style="clear: left;"></div>
			</div>
		<% else %>
  			<% unless chosen_cats.nil? || chosen_cats.empty? %>
  				<%# At least one item selected %>
				<%= category_select(feat,true) %>
  				<% chosen_cats.each do |b| %>
  					<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :"data-cat" => feat, :class => "removefilter", :"data-id" => b} %> <%= b %>
  					</div>
  				<% end %>
  			<% else %>
  				<%# Nothing selected %>
				<%= category_select(feat,false) %>
  			<% end %>
  		<% end %>
  		<%= hidden_field_tag "myfilter[#{feat}]", chosen_cats.join("*") %>
  	</div>
  	<% i = i + 1 %>
  <% end %>
  <% @s.continuous["filter"].each do |feat| %>
  	<%= render :partial => 'slider', 
  		:locals => {:name => t('products.' + feat),
  		:i => i,
  		:feat => feat,
  		:money_formatting => feat == 'price',
  		:overall_min => ContSpec.allMinMax(feat)[0],
  		:overall_max => ContSpec.allMinMax(feat)[1]} %>
  	<% i = i + 1 %>
  <% end %>
  <% @s.binary["filter"].each do |feat| %>
  	<div>
  		<div class='label' data-position="<%= i %>">
  			<%= render :partial => 'desc', :locals => {:feat => feat} %>
  			<% dobj = Userdatabin.find_by_search_id_and_name(@s.search.id,feat) %>
			<% available_count = SearchProduct.bin_count(feat) %>
  			<%= check_box('myfilter', feat, :disabled => (available_count == 0) ? true : false, :checked => (dobj.nil? || dobj.value == false) ? false : 'checked', :class => 'binary_filter', :'data-disabled' => (available_count == 0) ? 'true' : 'false')%>
  			<%= link_to t("#{Session.product_type}.specs.#{feat}.name"), "#", :rel => "nofollow" %>
			(<%= available_count %>)
  		</div>
  	</div>
  	<% i = i + 1 %>	
  <% end %>
  <%= hidden_field_tag 'myfilter[search_hist]', @s.search.id %>
<% end %>
