<div id="inside_filter">
  <div class="y_heading">
    <% if Session.futureshop? -%>
      <div class="refine_text">
        <!-- -->
        <%= t('products.compare.futureshop_refineyoursearch1') %>
      </div>
      <div class="french_refine_text">
        <!-- -->
        <%= t('products.compare.refineyoursearch2') %>
      </div>
    <% else %>
      <h1><%= t('products.compare.shoph1') + product_title %></h1>
    <% end %>
    <% unless Session.futureshop? -%>
      <div>
        <%= link_to t('products.compare.reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc')%>
      </div>
    <% end -%>
  </div>
  <% grouped_filters = getSearchFilters() %>
  <% unless grouped_filters.empty? %>
    <div id='your_selections' class='feature'>
      <div class="selection_label"><%= t('products.compare.selections') %></div>
      <div id="selections_text" class='categorical'>
        <% grouped_filters.each do |f| -%>
          <% values = f[1] %>
          <% fname = f[0] %>
          <% unless values.nil? %>
            <% if values.count > 0 %>
              <% unless spec_type(values.first) == 'facet' or spec_type(values.first) == 'binary' %>
                <div class='label list_item hanging_margin'>
                  <%= t("#{Session.product_type}.filter.#{fname}.name", :default => fname.capitalize) -%>
                </div>
              <% end %>
              <% rangesShow = showSelectedRanges(values, fname) %>
              <% values.each_with_index do |spec, index| -%>
                <% if spec_type(spec) == 'facet' -%>
                  <div class='label list_item hanging_margin'>
                    <%= t("#{Session.product_type}.filter.#{spec.name}.name", :default => spec.name.capitalize) -%>
                  </div>
                <% else -%>
                  <div class='list_item hanging_margin' data-name='<%= spec_type(spec) %>_<%= spec.name %>' class='current_filter' 
                    <% if spec_type(spec) == 'continuous' %>
                      data-value='<%=spec.min%>;<%=spec.max%>'
                    <% elsif spec_type(spec) == 'categorical' %>
                      data-value='<%= spec.value %>'
                    <% end %>
                      >
                    <%= displaySelectedString(spec, rangesShow[index]) -%>
                    <a class='remove_filter' href='#'><div><!-- --></div> <%= Session.futureshop? ? '' : t('products.compare.undo') %> </a>
                  </div>
                <% end -%>
              <% end -%>
            <% end -%>
          <% end -%> <%# unless values.nil? %>
        <% end -%> <%# grouped.filters.each %>
      </div>
      <% if Session.futureshop? %>
        <span>
          » <%= link_to t('products.compare.futureshop_reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc') %>
        </span>
      <% end %>
    </div>
  <% end %>
  <form id="filter_form" method="get" action="/compare">
    <% #Function that determines which facets to display and pulls up the values needed to display %>
    <% get_active_features().each do |display_feature| -%>
      <% f = display_feature[:f] -%>
      <div class="feature">
        <% case f.feature_type -%>
        <% when "Heading" -%>
          <%= render partial: 'filter_label', object: f %>
        <% when "Categorical" -%>
          <% chosen_cats = chosencats(f.name) %>
          <% if f.name == "color" -%>           
            <% unless display_feature[:no_display] %>
              <%= render partial: 'filter_label', object: f %>
            <%end%>
            <%= render partial: 'colour_filter', collection: display_feature[:display_colours], locals: {chosen_cats: chosen_cats} %>
            <div style="clear: left;">
              <%= hidden_field_tag "categorical[color]", chosen_cats.join("*") %>
            </div>
          <% else %>
            <%# Bring the chosen products to the top, while preserving the previous ordering (ordered highest count to lowest) %>
            <% # TODO: look into the difference between the two tests -- no_display vs optionlist %>
            <% unless display_feature[:all_options].empty? %>
              <% unless display_feature[:no_display] %>
                <%= render partial: 'filter_label', object: f %>
                <div class="categorical">
                  <%= render partial: "cat_option", collection: display_feature[:all_options].to_a, locals: {chosen_cats: chosen_cats, f: f, expanded: display_feature[:expanded], toplist: display_feature[:top_options]} %>
                  <%= link_to t('products.compare.more'), "#", {class: "moreless", style: display_feature[:expanded] ? 'display:none;' : ''} unless display_feature[:top_options].empty? %>
                  <%= link_to t('products.compare.less'), "#", {class: "moreless", style: display_feature[:expanded] ? '' : 'display:none;'} unless display_feature[:top_options].empty? %>
                </div>
                <%= hidden_field_tag "expanded[#{f.name}]", display_feature[:expanded] %>
              <% end %>
            <% else %>
              <!-- -->
            <% end %>
          <% end %> <%# Color If %>
        <% when "Continuous" -%>	
          <% if f.ui == "ranges" -%>
            <% chosen_conts = chosenconts(f.name) -%>
            <% unless display_feature[:no_display] -%>
              <%= render partial: 'filter_label', object: f %>
            <% else -%>
              <!-- -->
            <% end -%>
            <% display_feature[:displayed_ranges].each do |dr| -%>
              <% checked = chosen_conts.include?({:min => dr[:min], :max => dr[:max]}) -%>
              <% available_count = dr[:count] -%>
              <% show_range = (available_count > 0 or checked) %>
              <% if show_range -%>
                <div class="hanging_indent<%= ' disabled' unless show_range %>" <%=raw 'style="font-weight:bold;"' if checked %>>
                  <%= check_box_tag "continuous[#{f.name}]", "#{dr[:min]};#{dr[:max]}", checked ,:disabled => (available_count == 0 and !checked) ? true : false, :class => 'cat_filter', :'data-disabled' => show_range ? 'true' : 'false', :"data-min" => dr[:min], :"data-max" => dr[:max] %>
                  <%= (available_count <= 0) ? dr[:display] : link_to(dr[:display], "#", :class => "checkbox_text") %>
                  <span class="av_count"><%= "(#{available_count})" unless checked %></span>
                </div>
              <% end -%>	
            <% end -%> <%# ranges.each %>
          <% else -%> <%# Use sliders still, not ranges %>
            <% unless display_feature[:no_display] %>
              <%= render partial: 'filter_label', object: f %>
              <% if display_feature[:single_value] %>
                <div class="disabled" style="margin: 4px 0 0 5px"><%= display_feature[:single_value] %> <span class="av_count">(<%=t 'specs.all' %>)</span></div>
              <% else %>
                <% distribution_data = display_feature[:distribution_data] -%>
                <% current, step, datamin, datamax, unit = getSliderSettings(f, distribution_data) -%>
                <%= render partial: 'slider', object: f, :locals => {:distribution_data => distribution_data, :current => current, :step => step, :datamin => datamin, :datamax => datamax, :unit => unit} %>
              <% end %><%# end distribution of more than one %>
            <% else %>
              <!-- -->
            <% end %><%# end checking for non-blank distribution %>
          <% end -%><%# end ranges %>
        <% when "Binary" -%>
          <div class="hanging_indent<%= ' invisible' if display_feature[:no_display] %>" <%=raw 'style="font-weight:bold;"' unless display_feature[:unchecked] %>>
            <%= check_box_tag "binary[#{f.name}]", "1", !display_feature[:unchecked] ,:disabled => display_feature[:no_display], :class => 'binary_filter' %>
            <%= display_feature[:no_display] ? t("#{Session.product_type}.filter.#{f.name}.name", :default => f.name.capitalize) : link_to( t("#{Session.product_type}.filter.#{f.name}.name", :default => f.name.capitalize), "#", :class => "checkbox_text") %>
            <span class="av_count"><%= "(#{display_feature[:available_count]})" if display_feature[:unchecked] %></span>
          </div>
        <% end # End case -%>
      </div>
    <% end # End iterating over features %>
  </form>
  <div class="y_bottom">
    <% if Session.futureshop? %>» <% end %>
    <%= link_to t(Session.futureshop? ? 'products.compare.futureshop_reset' : 'products.compare.reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc') %>
  </div>
</div>
<div class="ie_bottom_curve"><!-- --></div>
<div class="watermark"><%=t('products.compare.powered')%><%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %></div>
