	<% form_tag("",{:id => 'filter_form'}) do %>
<% $Categorical["filter"].each do |feat| %>
	<div class='feature'>
		<!--div class='label'>
			<%=t('products.' + feat)%>
		</div-->
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>			
		</div>
		<% unless chosencats(feat).nil? || chosencats(feat).empty? %>
			<%# At least one item selected %>
			<% chosencats(feat).each do |b| %>
				<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :class => "remove"+feat, :"data-id" => b} %> <%= b %>
				</div>
			<% end %>
			<%= select('myfilter', feat+"1", [t('products.compare.add'+feat)] +catspecs(feat).reject {|b| chosencats(feat).index(b)}, options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>
		<% else %>
			<%# Nothing selected %>
			<%= select('myfilter', feat+"1", [t('products.compare.all'+feat+'s')] + catspecs(feat).map{|f| CGI::unescapeHTML(f) }.uniq, options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>		
		<% end %>

		<%= hidden_field_tag "myfilter[#{feat}]", chosencats(feat).join("*") %>
	</div>
<% end %>
<% $Continuous["filter"].each do |feat| %>
	<%= render :partial => 'slider', 
		:locals => {:name => t('products.' + feat),
		:val => feat,
		:money_formatting => feat == 'price',
		:min => CachingMemcached.minSpec(feat), 
		:max => CachingMemcached.maxSpec(feat)} %>
<% end %>
<% $Binary["filter"].each do |feat| %>
	<div class='feature'>
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<% dobj = Userdatabin.find_by_search_id_and_name(Session.current.search.id,feat) %>
			<%= check_box('myfilter', feat, {:checked => dobj.nil? || dobj.value ? 'checked' : false, :class => 'autosubmitbool'})%>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>
		</div>
	</div>
<% end %>
<% end %>