<div id="inside_filter">
  <div class="y_heading">
    <% if Session.futureshop? -%>
      <div class="refine_text">
        <!-- -->
        <%= t('products.compare.futureshop_refineyoursearch') %>
      </div>
    <% elsif Session.bestbuy? %>
      <h1><%= t('products.compare.shoph1') + product_title %></h1>
    <% elsif Session.amazon? %>
      <h1><%= t('products.compare.filters') %></h1>
    <% end %>
    <% if Session.bestbuy? -%>
      <div>
        <%= link_to t('products.compare.reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc')%>
      </div>
    <% end -%>
  </div>
  
  <%= your_selections %>
  <% last_heading = nil %>

  <form id="filter_form" method="get" action="/compare">
    <% Session.features["filter"].each do |f| %>
      <% next if f.no_display -%>
      <div class="feature">
        <%= render partial: 'filter_label', object: f unless (f.is_a?(Binary) || f.is_a?(Heading)) %>
        <% case f -%>
        <% when Heading %>
          <%# Save for binary filters %>
          <% last_heading = render partial: 'filter_label', object: f %>
        <% when Categorical -%>
          <% if f.name == "color" -%>
            <div class="opt_swatches">
              <%= render partial: 'colour_filter', collection: f.display_colours, locals: {selected: f.selected} %>
            </div>
            <%= hidden_field_tag "categorical[color]", f.selected.map(&:value).join("*"), :'data-id' => "swatchcolor" %>
          <% else -%>
            <div class="categorical">
              <%= render partial: "cat_option", collection: f.optionlist.to_a, locals: {selected: f.selected, name: f.name, expanded: f.expanded, toplist: f.toplist} %>
              <%= link_to t('products.compare.more'), "#", {class: "moreless hanging_margin", style: f.expanded ? 'display:none;' : ''} if f.toplist.size < f.optionlist.size %>
              <%= link_to t('products.compare.less'), "#", {class: "moreless hanging_margin", style: f.expanded ? '' : 'display:none;'} if f.toplist.size < f.optionlist.size %>
            </div>
            <%= hidden_field_tag "expanded[#{f.name}]", f.expanded %>
          <% end -%>
        <% when Continuous %>
          <% if f.ui == "ranges" -%>
            <%= render partial: 'range_option', collection: f.ranges, :locals => {selected: f.selected, name: f.name} %>
          <% else -%> <%# Use sliders still, not ranges %>
            <% if f.single_value %>
              <div class="disabled" style="margin: 4px 0 0 5px"><%= f.single_value %> <span class="av_count">(<%=t 'specs.all' %>)</span></div>
            <% else %>
              <%= render partial: 'slider', object: f, :locals => f.sliderSettings %>
            <% end %>
          <% end -%>
        <% when Binary %>
          <%= last_heading.freeze unless last_heading.frozen? %>
          <div class="hanging_indent" <%=raw 'style="font-weight:bold;"' if f.checked %>>
            <% check_opts = {class: 'binary_filter'} %>
            <% check_opts[:'data-id'] = f.selected.first.data_id if f.checked %>
            <%= check_box_tag "binary[#{f.name}]", "1", f.checked, check_opts %>
            <%= link_to(t("#{Session.product_type}.filter.#{f.name}.name", default: f.name.capitalize), "#", :class => "checkbox_text") %>
            <span class="av_count"><%= "(#{f.count})" unless f.checked %></span>
          </div>
        <% end -%>
      </div>
    <% end %>
  </form>
  <% unless local_assigns[:landing] -%>
    <div class="y_bottom">
      <%= link_to t(Session.futureshop? ? 'products.compare.futureshop_reset' : 'products.compare.reset'), "/", :class => "reset regular_reset", :rel => "nofollow", :title => t('products.compare.resetdesc') %>
    </div>
  <% end -%>
</div>
<div class="watermark"><%=t('products.compare.powered')%><%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %></div>
