	<% form_tag("",{:id => 'filter_form'}) do %>
<% $config["CategoricalFeaturesF"].each do |feat| %>
	<div class='feature'>
		<!--div class='label'>
			<%=t('products.' + feat)%>
		</div-->
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>			
		</div>

		<% unless Session.current.features.send(feat).nil? || Session.current.features.send(feat).empty? %>
			<% Session.current.features.brand.split('*').each do |b| %>
				<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :class => "remove"+feat, :"data-id" => b} %> <%= b %>
				</div>
			<% end %>
			<%= select('myfilter', feat+"1", [t('products.compare.add'+feat)] +catsforfeature(feat), options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>
		<% else %>
			<%= select('myfilter', feat+"1", [t('products.compare.all'+feat+'s')] + DbFeature.featurecache(feat).categories.split('*').map{|f| CGI::unescapeHTML(f) }.uniq, options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>		
		<% end %>

		<%= hidden_field_tag "myfilter[#{feat}]", Session.current.features.brand %>
	</div>
<% end %>
<% $config["ContinuousFeaturesF"].each do |feat| %>
	<%= render :partial => 'slider', 
		:locals => {:name => t('products.' + feat)
		:val => feat
		:money_formatting => feat == 'price',
		:min => DbFeature.featurecache(feat).min, 
		:max => DbFeature.featurecache(feat).max} %>
<% end %>
<% $config["BinaryFeaturesF"].each do |feat| %>
	<div class='feature'>
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= check_box('myfilter', feat, {:checked => Session.current.features.send(feat.intern) ? 'checked' : false, :class => 'autosubmitbool'})%>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>
		</div>
	</div>
<% end %>
<%# if $model::ExtraFeature.values.inject(false){|a,b|a||b} %>
<!--
<div class='changefilters'>
	<% if Session.current.expert %>
	    <%= link_to t('products.compare.morefilters'), "#", :id => "morefilters", :style => "display: none;" %>
	    <%= link_to t('products.compare.lessfilters'), "#", :id => "lessfilters" %>
	<% else %>
	    <%= link_to "More Filters", "#", :id => "morefilters" %>
	    <%= link_to "Less Filters", "#", :id => "lessfilters", :style => "display: none;" %>
	<% end %>
</div>-->
<%# end %>
<% end %>