<% current_search = Session.current.search %>
<% form_tag("/compare/filter",{:id => 'search_form'}) do %>
  <%= current_search.userdatasearches.empty? ? text_field_tag('search') : text_field_tag('search', current_search.userdatasearches[0].keyword) %>
  <%= submit_tag 'Search', {:id => 'submit_button'} %>
  <% if current_search.userdatasearches[0] && current_search.userdatasearches[0].keyword %>
	<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :class => "removesearch"} %> Search: <%= current_search.userdatasearches[0].keyword %>
	</div>
	<%= hidden_field_tag "previous_search_word", current_search.userdatasearches[0].keyword %>
  <% else %>
    <%= hidden_field_tag "previous_search_word", '' %>
  <% end %>
<% end %>

<% form_tag("",{:id => 'filter_form'}) do %>
<% $Categorical["filter"].each_with_index do |feat, index| %>
	<div class='feature <%= "sv" if $SimpleLayout %>'>
		<% chosen_cats = chosencats(feat) %>
		<% if $SimpleLayout %>
			<div id="groupby<%= index %>" class="groupby" data-feat="<%= feat %>">Show Groups</div>
		<% end %>
		<div class='catlabel'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= link_to t('products.' + feat), "#" %>
		</div>
		<% unless chosen_cats.nil? || chosen_cats.empty? %>
			<%# At least one item selected %>
			<% chosen_cats.each do |b| %>
				<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :"data-cat" => feat, :class => "removefilter", :"data-id" => b} %> <%= b %>
				</div>
			<% end %>
			<%= select('superfluous', feat, [t('products.compare.add'+feat)] + CatSpec.all(feat).reject {|b| chosen_cats.index(b)}, options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>
		<% else %>
			<%# Nothing selected %>
			<%= select('superfluous', feat, [t('products.compare.all'+feat+'s')] + CatSpec.all(feat), options={}, {:id => feat+"selector", :class => "selectboxfilter"})%>		
		<% end %>
		
		<%= hidden_field_tag "myfilter[#{feat}]", chosen_cats.join("*") %>
	</div>
<% end %>
<% $Continuous["filter"].each do |feat| %>
	<%= render :partial => 'slider', 
		:locals => {:name => t('products.' + feat),
		:feat => feat,
		:money_formatting => feat == 'price',
		:overall_min => ContSpec.allMinMax(feat)[0],
		:overall_max => ContSpec.allMinMax(feat)[1]} %>
<% end %>
<% $Binary["filter"].each do |feat| %>
	<div class='feature'>
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<% dobj = Userdatabin.find_by_search_id_and_name(current_search.id,feat) %>
			<%= check_box('myfilter', feat, {:checked => dobj.nil? || dobj.value == false ? false : 'checked', :class => 'autosubmitbool'})%>
			<%= link_to t('products.' + feat), "#" %>
		</div>
	</div>
<% end %>
<% end %>