<h2 class="y_heading">
	<label class="narrow_text">
		<%=t 'products.compare.search' %>
	</label>
	<%= link_to "/", :class => "reset awesome_reset global_btn", :rel => "nofollow", :style => "float: right; margin-top:12px", :title => t('products.compare.resetdesc') do %>
		<span><%= t('products.compare.reset') %></span>
	<% end %>
</h2>
<%= form_for(Search.new, :html => {:id => 'filter_form'}) do %>

  <% i = 0 # Yes, I know, this isn't Rails-y, but we need to assign a different UI position to each feature of all kinds, in order. %> 
  <% @s.categorical["filter"].each_with_index do |feat, index| %>
  	<div class='feature'>
  		<div class='label' data-position="<%= i %>">
			<%= t("#{Session.product_type}.specs.#{feat}.name") %>
  			<% if @s.directLayout %>
  				<div id="groupby<%= index %>" class="groupby" data-feat="<%= feat %>" data-position="<%= i %>">See Groups</div>
  			<% end %>
  		</div>
		<% chosen_cats = chosencats(feat) %>
		<% if feat == "color" %>
			<div style="margin-right: -4px">
				<% color_counts = SearchProduct.cat_counts("color",true) %>
				<% %w(Red Orange Yellow Green Blue Purple Pink White Silver Brown Black).each do |color| %>
    				<% next if color_counts[color].nil? && !chosen_cats.include?(color) %>
    				<div class="swatch<%= " white_swatch" if color == "White" %><%= " selected_swatch" if chosen_cats.include?(color) %>" style="background-color: <%= color %>"></div>
				<% end %>
				<div style="clear: left;"></div>
			</div>
		<% else %>
			
			<%# Bring the chosen products to the top, while preserving the previous ordering (ordered highest count to lowest) %>
			<% optionlist = SearchProduct.cat_counts(feat,true,true).to_a.sort{|a,b| (chosen_cats.include?(a[0]) ? -a[1]-1000000 : -a[1]) <=> (chosen_cats.include?(b[0]) ? -b[1]-1000000 : -b[1])} %>
			<div class="categorical">
			<% optionlist.each do |k,available_count| %>
			<% unchecked = unchecked_cat(feat,k) %>
  			<div data-position="<%= i %>" <%=raw 'style="font-weight:bold;"' unless unchecked %>>
	  			<%= check_box 'superfluous', feat, :disabled => (available_count == 0) ? true : false, :checked => unchecked ? false : 'checked', :class => 'cat_filter', :'data-disabled' => (available_count == 0) ? 'true' : 'false', :'data-feat' => feat, :'data-opt' => k %>
	  			<%= k %> <%= "(#{available_count})" if unchecked %>
	  		</div>
			<% end %>
			</div>
  		<% end %>
  		<%= hidden_field_tag "myfilter[#{feat}]", chosen_cats.join("*") %>
  	</div>
  	<% i = i + 1 %>
  <% end %>
  <% @s.continuous["filter"].each do |feat| %>
  	<%= render :partial => 'slider', 
  		:locals => {:name => t('products.' + feat),
  		:i => i,
  		:feat => feat,
  		:money_formatting => feat == 'price',
  		:overall_min => ContSpec.allMinMax(feat)[0],
  		:overall_max => ContSpec.allMinMax(feat)[1]} %>
  	<% i = i + 1 %>
  <% end %>
  <% @s.binarygroup.each_pair do |heading,features| %>
	<div class="feature"><div class="label"><%= t('products.compare.'+heading) %></div></div>
	<% features.each do |feat| %>
		<% dobj = @s.search.userdatabins.select{|udb| udb.name == feat}.first %>
		<% unchecked = dobj.nil? || dobj.value == false %>
		<% available_count = SearchProduct.bin_count(feat) %>
  		<div class="feature<%= " disabled" if available_count == 0 %>" data-position="<%= i %>" <%=raw 'style="font-weight:bold;"' unless unchecked %>>
  			<%= check_box_tag "myfilter[#{feat}]", "1", !unchecked ,:disabled => (available_count == 0) ? true : false, :class => 'binary_filter' %>
  			<%= link_to t("#{Session.product_type}.specs.#{feat}.name"), "#", :class => "binary_filter_text" %>
			<%= "(#{available_count})" if unchecked %>
  		</div>
  	<% i = i + 1 %>	
	<% end %>
  <% end %>
  <% @s.binarygroup.each_pair do |heading,features| %>
	<div class="label"><a href="#"><%= heading %></a></div>
	<% features.each do |feat| %>
		<% dobj = @s.search.userdatabins.select{|udb| udb.name == feat}.first %>
		<div class="filterbutton<%= " selected_button" unless (dobj.blank? || dobj.value == false) %><%= " disabled" if SearchProduct.bin_count(feat) == 0 %>">
			<%= t("#{Session.product_type}.specs.#{feat}.name") %>
			<%= hidden_field_tag "myfilter[#{feat}]", (dobj.nil? || dobj.value == false) ? 0 : 1 %>
		</div>
  	<% i = i + 1 %>
	<% end %>
  <% end if false%>
  <%= hidden_field_tag 'myfilter[search_hist]', @s.search.id %>
<% end %>
<div style="clear:both; height: 0"><!-- --></div>
