<div class="navigator_box <%= group ? "nbgroup" : 'nbsingle' %>">
	<div class="title">
		<div class="group_title">
			<% if grouping[:min] == grouping[:max] %>
				<%= withunit(grouping[:min],@s.search.groupby) %>
			<% else %>
			<%= withunit(grouping[:min],@s.search.groupby) %><div style="font-size: 8pt;">to</div><%= withunit(grouping[:max],@s.search.groupby) %>
			<% end %>
		</div>
		<% if @s.categorical["all"].index(@s.search.groupby) %>
			<div class='choose_group small awesome' data-min="<%=grouping[:min]%>" data-grouping="<%=@s.search.groupby%>">Show Only<br>This <%= t('products.' + @s.search.groupby).singularize %> (<%= grouping[:size] %>)</div>
		<% else %>
			<div class='choose_cont_range small awesome' data-min="<%=grouping[:min]%>" data-max="<%=grouping[:max]%>" data-grouping="<%=@s.search.groupby%>">Show This<br>Range (<%= grouping[:size] %>)</div>
		<% end %>
		 
	</div>
	<% [grouping[:best],grouping[:cheapest]].each do |product| %>
	<div class="productinfo rounded" data-id="<%= product.id %>">
		<div class="productimg_container">
			<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.small_title, :title => product.small_title) %>
			<% if @s.dragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.', :"data-id" => product.id) %>
			<% end %>
		</div>
		<div class='groupby_title'><%= link_to product.small_title, product_path(:name => product.descurl, :id => product.id), :class => "easylink", :title => "Click for product specifications" %></div>
		<div class="itemfeatures">
			<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
			<% @s.continuous["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => contspecs[f]} %>
			<% end %>
			<% @s.categorical["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => catspecs[f]} %>
			<% end %>
			<% @s.binary["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => binspecs[f]} %>
			<% end %>
		</div>
	</div>
	<% end %>
	<div style="clear:both;"></div>
</div>
