<div class="navigator_box <%= group ? "nbgroup" : 'nbsingle' %>">
	<div class="title">
		<div class="group_title">
			<%= feat %> (<%= @groupings[feat].size %>)
		</div>
		<% if $Categorical.values.flatten.index(@groupedfeature) %>
			<div class='choose_group' data-feat="<%=feat%>" data-grouping="<%=@groupedfeature%>">Show Only This <%= t('products.' + @groupedfeature).singularize %></div>
		<% else %>
			<div class='choose_cont_range' data-feat="<%=feat%>" data-grouping="<%=@groupedfeature%>">Show Only This <%#= t('products.' + @groupedfeature).singularize %> Range</div>
		<% end %>
	</div>
	<% best = cheapest if best.nil? # This happens if the group just has one member in it. %>
	<% [best,cheapest].each do |product| %>
	<div class="productinfo rounded" data-id="<%= product.id %>">
		<div class="productimg_container">
			<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.smlTitle, :title => product.smlTitle) %>
			<% if $DragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
			<% end %>
		</div>
		<div class='groupby_title'><%= product.smlTitle %></div>
		<div class="itemfeatures">
			<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
			<% $Continuous["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => contspecs[f]} %>
			<% end %>
			<% $Categorical["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => catspecs[f]} %>
			<% end %>
			<% $Binary["showList"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => binspecs[f]} %>
			<% end %>
		</div>
	</div>
	<% end %>
	<div style="clear:both;"></div>
</div>
