<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= title %></title>
<% if s.mobileView %>
	<meta name="viewport" content="width=device-width, user-scalable=no, target-densitydpi=device-dpi" />
	<meta name="HandheldFriendly" content="True" />
<% end %>
<meta name="description" content="<%= describe %>" />
<meta name="keywords" content="<%=t "#{Session.product_type}.keywords" %>" />
<meta name="classification" content="<%=t "#{Session.product_type}.classification" %>" />
<meta name="robots" content="index,all,follow" />
<meta name="rating" content="General" />
<meta name="fragment" content="!">
<link rel="shortcut icon" href="/favicon.ico" />
<% if s.mobileView %>
<link rel="apple-touch-icon" href="/images/O.png" />
<% end %>

<% if @indexload %>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
<% end %>
</head>
