<div id="navigator_bar<%= '_bottom' if local_assigns[:bottom] %>" <%= "style='height:99px'" if (local_assigns[:bottom].nil?) %><%= "style='height:80px'"%>>
  <% if local_assigns[:bottom].nil? %>
    <%= render 'pagination_search' %>	
  <% end %>
  <div id="results_title">
    <% if local_assigns[:bottom] %>
      <%= Session.search.products_size %> <%= raw(number_results) %>
    <% else %>
      <div class='available-text'>
        <%= Session.search.products_size %>
        <%= raw(number_results) %>
      </div>
    <% end %>
  </div>
</div>
