<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
	<%mb={}%>
	<% mb['featured'] = landing_main_boxes('featured') #Calculate mb before navtitle %>
	<div id='navigator_bar_top'>
	    <div id='navtitle'><%= Session.search.products_size.to_s + ' ' + raw(navtitle) %></div><%= link_to image_tag("see_all_white#{fr?}.gif"),root_path, :class=>"seeall" %></div>
<div id="hero">
    <%# The hero product is the first featured product in the db %>
    <% hero = Product.find_by_id(Maybe(Session.search.products_landing.first).product_id) || Product.find_by_product_type(Session.product_type) %>
    <%# Cache specs local to the view so as to reduce SQL calls / cache hits / object instantiations %>
    <% cont_specs = ContSpec.cache_all(hero.id); cat_specs = CatSpec.cache_all(hero.id); text_spec = TextSpec.cacheone(hero.id, "productUrl#{fr?}") %>
    <%= image_tag(cat_specs["imglurl"], :class => "productimg", :alt => cat_specs["title#{fr?}"], :title => t('products.compare.clickforspecs'), :'data-id' => hero.id, :'data-sku' => hero.sku) %>
    <div class="heroinfo">

		<%= link_to cat_specs["title#{fr?}"], text_spec, :'data-id' => hero.id, :'data-sku' => hero.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
		<div class="productspecs"><!--7--></div>	
		<% if BinSpec.cache_all(hero.id)["onsale"] %>
			<div class="saleprice">
			<%= t('products.compare.onsale')+(fr?.empty? ? "" : " ")+": "+number_to_currency(cont_specs["saleprice"]) %></div>	
			<div class="save"><%= t('products.compare.save')+(fr?.empty? ? "" : " ")+": "+ number_to_currency(cont_specs["price"]-cont_specs["saleprice"]) %></div>
		    <div class="saleends"><%= t('products.show.saleends')+(fr?.empty? ? "" : " ")+": "%><%= l((Date.parse(cat_specs["saleEndDate"]) - 1.day), :format => :long) if cat_specs["saleEndDate"] %></div>
		<% else %>
			<div class="price">
				<%= t('products.show.ourprice') + ":"%> <%= "$" if fr?.empty? %><%= number_with_delimiter(cont_specs["price"]) %> <%= " $" unless fr?.empty? %>
			</div>	
		<% end %>
		<% if cont_specs["customerRating"] > 0 %>
			<div class="stars" data-stars="<%= cont_specs["customerRating"] %>"></div>
		<% end %>
		<!-- Display sibling products of hero -->
		<% siblings = hero.product_siblings -%>
		<% bundles = hero.product_bundles -%>
		<% unless siblings.empty? && bundles.empty? %>
		<div class="herosiblings">
			<div class="herosiblingslabel"><%=raw siblingslabel(siblings,bundles) %>:</div>
			<div class="siblingdiv">
			<% (siblings+bundles).each do |sibling| -%> 
			  <% sibling_id = sibling.is_a?(ProductSibling) ? sibling.sibling_id : sibling.bundle_id -%>
				<% sibling_cat_specs = CatSpec.cache_all(sibling_id) -%>
				<% sibling_cont_specs = ContSpec.cache_all(sibling_id) -%>
				<% link_to TextSpec.cacheone(sibling_id, "productUrl#{fr?}"), :'data-id' => sibling_id, :class => "herosiblings", :title => sibling.is_a?(ProductSibling) ? sibling_cat_specs["color#{fr?}"] : sibling_cat_specs["title#{fr?}"] do %>
				  <%= image_tag(sibling_cat_specs["imgsurl"], :alt => sibling_cat_specs["color#{fr?}"]) %>
				  <div class="pricediff"><%= "+"+number_to_currency(sibling_cont_specs["saleprice"]-cont_specs["saleprice"], precision: 0) if sibling_cont_specs["saleprice"] != cont_specs["saleprice"] %></div>
				<% end %>
      </div>
			<% end %>
			<div style="clear:left"><!-- --></div>
		</div>
		<% end %>
		    <div style='margin-top: 25px; margin-bottom: 25px'><%= link_to image_tag("shopnow#{fr?}.gif"), text_spec, {:'data-sku' =>hero.sku, :class => 'spacer easylink'} %></div>
	</div>
    <div style='clear:both; width:0;height: 0;'></div>   
</div>


<% if @s.product_type == 'camera_bestbuy' %><div class='showcase_banner_div'><%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), '#', :class => 'showcase_banner', :"product_type" => "camera_bestbuy" %></div><% else %>
<div class='showcase_banner_div'><%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), '#', :class => 'showcase_banner', :"product_type" => "drive_bestbuy" %></div>
<% end %>
<%= raw mb['featured'] %>

<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
