<div id='navigator_bar_top' <%= "style='height:80px'" if request.host == "keyword" %>>
  <div id='navtitle'>
    <%= Session.search.products_size.to_s + ' ' + raw(product_title) + " " + t("products.compare.available") %>
  </div>
  <%= link_to(root_path, {:class=>'seeall'}) do %>
  <%=t 'products.seeall' %> <div><!-- --></div>
  <% end %>
  <% if request.host == "keyword" %>
    <%= form_tag("/search", :method => "post", id: "keyword_search") do %>
    	<% solr_config = YAML.load_file("#{Rails.root}/config/sunspot.yml")[Rails.env] %>
      <%=raw autosuggest_text_field "product", "name", "http://#{solr_config['solr']['hostname']}:#{solr_config['solr']['port']}/solr/", "product_name", size: 68,  value: Session.search.keyword_search || "Keyword or Web Code", onfocus: "javascript:if (this.value == 'Keyword or Web Code') {this.value='';}" %>
    	<%= submit_tag "Search", id: 'keyword_submit' %>
    <% end %>
  <% end %>
</div>
<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
