<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
<div id="navigator_bar">
	<%mb={}%>
	<% mb['featured'] = landing_main_boxes('featured') #Calculate mb before navtitle %>
	<% mb['liked'] =landing_main_boxes('liked') #Calculate mb before navtitle %>
	<% mb['customerRating'] = landing_main_boxes('customerRating')%>
	<div id="navtitle"><%=raw navtitle %></div>
	<div id="sorting_method_box"><%=raw sortbyList %></div>
</div>
</div>
<div id="hero">
    <% hero = Product.find_by_id(Maybe(SearchProduct.find_by_search_id(Product.initial+1)).product_id) || Product.find_by_product_type(Session.product_type) %>
    <%= image_tag(CatSpec.cache_all(hero.id)["imglurl"], :class => "productimg", :alt => hero.small_title, :title => hero.small_title, :'data-id' => hero.id, :'data-sku' => hero.sku) %>
    <div class="heroinfo">
		<%= link_to hero.title, product_path(:name => hero.descurl, :id => hero.id), :'data-id' => hero.id, :'data-sku' => hero.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
    
		<div class="productspecs"><%=featuretext(hero.id) %></div>
		<% if BinSpec.cache_all(hero.id)["onsale"] %>
			<div class="saleprice">
			<%= t('products.compare.onsale')+": "+number_to_currency(ContSpec.cache_all(hero.id)["saleprice"]) %></div>	
			<div class="save"><%= t('products.compare.save')+": "+ number_to_currency(ContSpec.cache_all(hero.id)["price"]-ContSpec.cache_all(hero.id)["saleprice"]) %></div>
		    <div class="saleends"><%= t('products.show.saleends')+": "%><%= l((Date.parse(CatSpec.cache_all(hero.id)["saleEndDate"]) - 1.day), :format => :long) if CatSpec.cache_all(hero.id)["saleEndDate"] %></div>
		<% else %>
			<div class="price">
				$<%= number_with_delimiter(ContSpec.cache_all(hero.id)["price"]) %>
			</div>	
		<% end %>
		<% if ContSpec.cache_all(hero.id)["customerRating"] > 0 %>
			<div class="stars" data-stars="<%= ContSpec.cache_all(hero.id)["customerRating"] %>"></div>
		<% end %>
	</div>
</div>
Featured products:
<%= raw mb['featured'] %>
Best Sellers:
<%= raw mb['orders']%>
Top Rated:
<%= raw mb['customerRating']%>
<a href="/" class="seeall">See All</a>
<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>