<div id='navigator_bar_top' <%= "style='height:80px'" if request.host == "keyword" %>>
  <div id='navtitle'>
    <%= Session.search.products_size.to_s + ' ' + raw(product_title) + " " + t("products.compare.available") %>
  </div>
  <%= link_to(root_path, {:class=>'seeall'}) do %>
  <%=t 'products.seeall' %> <div><!-- --></div>
  <% end %>
  <% if request.host == "keyword" %>
   <%= render 'pagination_search' %>
  <% end %>
</div>
<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
