<% mb = {"featured" => main_boxes(true)} #Calculate mb before navtitle -%>
<div id='navigator_bar_top'>
  <div id='navtitle'>
    <%= Session.search.products_size.to_s + ' ' + raw(navtitle) %>
  </div>
  <%= link_to image_tag("see_all_white#{fr?}.gif"),root_path, :class=>"seeall" %>
</div>
<div id="hero">
  <%# The hero product is the first featured product in the db %>
  <% hero = Product.find_by_id(Maybe(Session.search.products_landing.first).product_id) || Product.find_by_product_type(Session.product_type) %>
  <%# Cache specs local to the view so as to reduce SQL calls / cache hits / object instantiations %>
  <% cont_specs = ContSpec.cache_all(hero.id); cat_specs = CatSpec.cache_all(hero.id); text_spec = TextSpec.cacheone(hero.id, "productUrl#{fr?}") %>
  <%= image_tag(cat_specs["imglurl"], :class => "productimg", :alt => cat_specs["title#{fr?}"], :title => t('products.compare.clickforspecs'), :'data-id' => hero.id, :'data-sku' => hero.sku) %>
  <div style="float: right;">
    <%= render partial: "product_info", locals: {product: hero, cont_specs: cont_specs, cat_specs: cat_specs, no_variations: true} %>
    <div style='margin-top: 25px; margin-bottom: 25px;'>
      <%= link_to image_tag("shopnow#{fr?}.gif"), text_spec, {:'data-sku' =>hero.sku, :class => 'easylink'} %>
    </div>
  </div>
  <div style='clear:both; width:0;height: 0;'></div>
</div>

<% if false && @s.product_type == 'camera_bestbuy' %>
  <%# Disabled camera showcase banner %>
  <div class='showcase_banner_div'>
    <%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), "http://www.bestbuy.ca/#{isfr? ? "fr" : "en"}-CA/category/pc/pc_gifts1.aspx", :class => 'showcase_banner', :"product_type" => "camera_bestbuy" %>
  </div>
<% elsif @s.product_type == 'drive_bestbuy' %>
  <div class='showcase_banner_div'>
    <%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), "http://www.bestbuy.ca/#{isfr? ? "fr":"en"}-CA/research/seagate-goflex-satellite/rc8372.aspx", :class => 'showcase_banner', :"product_type" => "drive_bestbuy" %>
  </div>
<% else %>
  <%# Spacer %>
  <div style="height:15px">
  </div>
<% end %>
<%= raw mb['featured'] %>

<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
