<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
	<%mb={}%>
	<% mb['featured'] = landing_main_boxes('featured') #Calculate mb before navtitle %>
	<div id='navigator_bar_top'>
	    <div id='navtitle'><%= Session.search.products_size.to_s + ' ' + raw(navtitle) %></div><%= link_to image_tag("see_all_white#{fr?}.gif"),root_path, :class=>"seeall" %></div>
<div id="hero">
    <% hero = Product.find_by_id(Maybe(SearchProduct.find_hero).product_id) || Product.find_by_product_type(Session.product_type) %>
    <%= image_tag(CatSpec.cache_all(hero.id)["imglurl"], :class => "productimg", :alt => hero.small_title, :title => hero.small_title, :'data-id' => hero.id, :'data-sku' => hero.sku) %>
    <div class="heroinfo">
	 <%if Session.product_type == "camera_bestbuy"%> 
		<%= link_to "Panasonic DMCZS8K 14.1MP Digital Camera - Black",  TextSpec.cacheone(hero.id, "productUrl#{fr?}"), :'data-id' => hero.id, :'data-sku' => hero.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
    <%else%>
		<%= link_to hero.small_title,  TextSpec.cacheone(hero.id, "productUrl#{fr?}"), :'data-id' => hero.id, :'data-sku' => hero.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
		<div class="productspecs"><%=featuretext(hero.id) %></div>
	<%end%> 	
		<% if BinSpec.cache_all(hero.id)["onsale"] %>
			<div class="saleprice">
			<%= t('products.compare.onsale')+(fr?.empty? ? "" : " ")+": "+number_to_currency(ContSpec.cache_all(hero.id)["saleprice"]) %></div>	
			<div class="save"><%= t('products.compare.save')+(fr?.empty? ? "" : " ")+": "+ number_to_currency(ContSpec.cache_all(hero.id)["price"]-ContSpec.cache_all(hero.id)["saleprice"]) %></div>
		    <div class="saleends"><%= t('products.show.saleends')+": "%><%= l((Date.parse(CatSpec.cache_all(hero.id)["saleEndDate"]) - 1.day), :format => :long) if CatSpec.cache_all(hero.id)["saleEndDate"] %></div>
		<% else %>
			<div class="price">
				$<%= number_with_delimiter(ContSpec.cache_all(hero.id)["price"]) %>
			</div>	
		<% end %>
		<% if ContSpec.cache_all(hero.id)["customerRating"] > 0 %>
			<div class="stars" data-stars="<%= ContSpec.cache_all(hero.id)["customerRating"] %>"></div>
		<% end %>
		    <div style='margin-top: 50px'><%= link_to image_tag("shopnow#{fr?}.gif"), "http://www.bestbuy.ca/order/addtocart.ashx?accessories=#{hero.sku}", {:'data-sku' =>hero.sku, :class => 'spacer shop-now addcart', :'data-name' =>hero.small_title} %></div>
	</div>
    <div style='clear:both; width:0;height: 0;'></div>   
</div>


<% if @s.product_type == 'camera_bestbuy' %><div class='showcase_banner_div'><%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), '#', :class => 'showcase_banner', :"data-brand" => "Canon" %></div><% else %>
<div class='showcase_banner_div'><%= link_to image_tag("#{@s.product_type}-banner#{fr?}.jpg"), '#', :class => 'showcase_banner', :"data-sku" => "10172122" %></div>
<% end %>
<%= raw mb['featured'] %>

<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
