<div <%= 'class="listview_ungrouped"' if @s.search.groupby.nil? && @s.directLayout %> >
<div id="navigator_bar">
	<%mb={}%>
	<% mb['featured'] = landing_main_boxes('featured') #Calculate mb before navtitle %>
	<% mb['orders'] =landing_main_boxes('orders') #Calculate mb before navtitle %>
	<% mb['customerRating'] = landing_main_boxes('customerRating')%>
	<div id="navtitle"><div style="font-size: 30px; float:left; margin-right: 7px;">
	<%= Session.search.products_size %><br><%= Session.search.products_size < ContSpec.all.length ? raw("<div style=\"font-size:0.7em;\">Out of #{ContSpec.all.length} available</div>") : "" %></div><%= raw navtitle %><%= link_to(t(Session.product_type+".compare")+' (0) ', "#", {:class=>'awesome_reset_grey global_btn_grey nav-compare-btn', :id=>'nav_compare_btn'})  %></div>
</div>
<ul id="sorting_method_box" class="optemo_bluesubheading"><li><span style="width: 50px;"><b><%= t("products.sortby") %></b></span></li><%=raw sortbyList %></ul>
</div>

<div id="hero">
    <% hero = Product.find_by_id(Maybe(SearchProduct.find_by_search_id(Product.initial+1)).product_id) || Product.find_by_product_type(Session.product_type) %>
    <%= image_tag(CatSpec.cache_all(hero.id)["imglurl"], :class => "productimg", :alt => hero.small_title, :title => hero.small_title, :'data-id' => hero.id, :'data-sku' => hero.sku) %>
    <div class="heroinfo">
		<%= link_to hero.title,  TextSpec.cacheone(hero.id, "productUrl#{fr?}"), :'data-id' => hero.id, :'data-sku' => hero.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
    
		<div class="productspecs"><%=featuretext(hero.id) %></div>
		<% if BinSpec.cache_all(hero.id)["onsale"] %>
			<div class="saleprice">
			<%= t('products.compare.onsale')+": "+number_to_currency(ContSpec.cache_all(hero.id)["saleprice"]) %></div>	
			<div class="save"><%= t('products.compare.save')+": "+ number_to_currency(ContSpec.cache_all(hero.id)["price"]-ContSpec.cache_all(hero.id)["saleprice"]) %></div>
		    <div class="saleends"><%= t('products.show.saleends')+": "%><%= l((Date.parse(CatSpec.cache_all(hero.id)["saleEndDate"]) - 1.day), :format => :long) if CatSpec.cache_all(hero.id)["saleEndDate"] %></div>
		<% else %>
			<div class="price">
				$<%= number_with_delimiter(ContSpec.cache_all(hero.id)["price"]) %>
			</div>	
		<% end %>
		<% if ContSpec.cache_all(hero.id)["customerRating"] > 0 %>
			<div class="stars" data-stars="<%= ContSpec.cache_all(hero.id)["customerRating"] %>"></div>
		<% end %>
		    <div style='margin-top: 50px'><%= link_to image_tag('shopnow.gif'), "http://www.bestbuy.ca/order/addtocart.ashx?accessories=#{hero.sku}", {:'data-sku' =>hero.sku, :class => 'spacer shop-now addcart', :'data-name' =>hero.small_title} %></div>
	</div>
</div>

<div class='optemo_bluesubheading'>Featured products &nbsp;<a href="#" class="optemo_special_boxes" data-special-boxes="featured">see more</a></div>
<%= raw mb['featured'] %>
<div class='optemo_bluesubheading'>Best Sellers &nbsp;<a href="#" class="optemo_special_boxes" data-special-boxes="bestsellers">see more</a></div>
<%= raw mb['orders']%>
<div class='optemo_bluesubheading'>Top Rated &nbsp;<a href="#" class="optemo_special_boxes" data-special-boxes="toprated">see more</a></div>
<%= raw mb['customerRating']%>
<div id='navigator_bar_bottom'>
    <div id='navtitle'><%= Session.search.products_size.to_s + ' ' + raw(navtitle) %></div><%= link_to(t(Session.product_type+'.compare')+' (0) ', '#', {:class=>'awesome_reset_grey global_btn_grey nav-compare-btn', :id=>'nav_compare_btn_bottom'}) %><%= link_to t(Session.product_type+'.seeall')+' >',root_path, :class=>"seeall" %></div>


<div style="clear:both;"><span id="actioncount" style="display:none"><%= [Session.search.id.to_s].pack("m").chomp %></span></div>
