<div id="box<%= i %>" class="navigator_box <%= group ? "nbgroup" : 'nbsingle' %>">
	<div class='sim'>
		<% if group %>
			<%= link_to(image_tag("plus_line.png")+"<br>#{cluster.size}", 
		  "/compare/sim/#{cluster.id}", :id => "sim#{i}", :class => 'simlinks rounded', 
			  :"data-id" => "#{representative.id}", :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
		<% end %>
	</div>

	<div class="title">
		<%= groupDesc(group,i) %>
	</div>
	
	<div class="productinfo rounded" data-id="<%= representative.id %>">
		<div class="productimg">
			<%= image_tag(imgurl(representative) , :"data-id" => representative.id, :class => "productimg", :alt => representative.smlTitle, :title => representative.smlTitle) %>
			<% if $DragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
			<% end %>
		</div>
		<a href="<%= representative.descurl %>" data-id="<%= representative.id %>" class="easylink" title="Click for product specifications"><%= representative.smlTitle %></a>
		<div class="price">
			<%= number_to_currency(ContSpec.cache(representative.id, "price")) %>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
