<div id="box<%= i %>" class="navigator_box <%= group ? "nbgroup" : 'nbsingle' %>">
	<div class='sim'>
		<% if group %>
			<%= link_to(image_tag("plus_line.png")+"<br>#{cluster.size}", 
		  "/compare/sim/#{cluster.id}", :id => "sim#{i}", :class => 'simlinks rounded', 
			  :"data-id" => "#{product.id}", :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
		<% end %>
	</div>

	<div class="title">
		<%= groupDesc(group,i) %>
	</div>
	
	<div class="productinfo rounded" data-id="<%= product.id %>">
		<div class="productimg_container">
			<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.smlTitle, :title => product.smlTitle) %>
			<% if s.dragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
			<% end %>
		</div>
		<!--<a href="<%= product.descurl %>" rel="nofollow" data-id="<%= product.id %>" class="easylink" title="Click for product specifications"><%= product.smlTitle %></a>-->
		<%= product.smlTitle %>
		<div class="itemfeatures">
			<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
			<% s.categorical["show"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => catspecs[f], :s => s} %>
			<% end %>
			<% s.continuous["show"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => contspecs[f], :s => s} %>
			<% end %>
			<% s.binary["show"].each do |f|%>
			  <%= render :partial => 'featurevalues', :locals => {:f => f, :val => binspecs[f], :s => s} %>
			<% end %>
		</div>
		<div class="price">
			<%= number_to_currency(contspecs["price"]) %>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
