<!-- div id="flags">
	<%= link_to image_tag('us.gif'), url_for_intl('com') %>
	<%= link_to image_tag('ca.gif'), url_for_intl('ca') %>
  </div-->
  <div id="logo">
	<a href="<%= url_for '/' %>" id ="logo" title="laserprinterhub.com"><%= image_tag("printer_lph.jpg")%><span>Home</span></a>
  </div>
 <div id="tagline">
	<%=t "printer_lph.tagline" %>
</div>
 <div id="tourButton"><%= link_to "Launch Tour", '#' %></div>