<!-- div id="flags">
	<%= link_to image_tag('us.gif'), url_for_intl('com') %>
	<%= link_to image_tag('ca.gif'), url_for_intl('ca') %>
  </div-->
  <div id="logo">
	<a href="<%= url_for '/' %>" id ="logo" title="<%=t s.product_type+".url" %>"><%= image_tag("#{s.product_type}.jpg")%><span>Home</span></a>
  </div>
 <div id="tagline">
	<%=t "#{s.product_type}.tagline" %>
</div>
 <div id="tourButton"><%= link_to "Launch Tour", '#' %></div>