<div id="box<%= i %>" class="navigator_box<%=' bordered-product' if (i != 0)%>">
	<div class="navbody">
		<% if group %>
			<div class='sim'>
				<div class="number_in_group <%= ' largegroup' if cluster.size >= 100 %>"><%= cluster.size.to_s %></div>
				<%= image_tag('plus_mobile.png', :"data-id" => "/compare/sim/#{cluster.id}") %>
			</div>
		<% end %>

		<div class="simtext">
			<div class='groupDescription'>
				<%= groupDesc(group,i) %>
			</div>
		</div>

		<div class="productinfo rounded" data-url='<%= cluster.representative.descurl %>'>
			<div class="productimg">
				<%= image_tag(imgsurl(representative) , :"data-id" => representative.id, :class => "productimg", :alt => representative.small_title, :title => representative.small_title) %>
			</div>
			<a href="<%=representative.descurl%>" data-id="<%=representative.id%>" class="easylink" title="Click for product specifications"><%= representative.small_title %></a>
			<div class="price">
				<%= "$" + ("%.2f" % ContSpec.cache_all(representative.id)["price"]) %>
			</div>
		</div>
		
		<% if cluster.size > 1 %>
		<div class="groupinfo">
			<%= featuretext(@s.search,cluster) %>
		</div>
		<% end %>
		<div style='clear:both;'></div>
	</div>
</div>
