<div id="box<%= i %>" class="navigator_box<%= group ? " nbgroup" : " nbsingle" %>" <%= ("style='margin-right:0px'" if i % (Float(@s.numGroups)/3).ceil == (Float(@s.numGroups)/3).ceil - 1) %>>
	<div class="topbar">
		<div class="title">
			<%= groupDesc(group,i) %>
		</div>
		
		<% if @s.dragAndDropEnabled %>
				<div class="image_boundingbox">
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.', :"data-id" => product.id) %>
		<% end %>
		<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.smlTitle, :title => product.smlTitle) %>
		<% if @s.dragAndDropEnabled %>
			</div>
		<% end %>
		<div class="productinfocont">
			<div class="productinfo">
				<a href="<%=product.descurl%>" data-id="<%=product.id%>" class="easylink" title="Click for product specifications">
				<%= product.smlTitle %></a>
		
				<div class="price">
					$<%= ContSpec.cache_all(product.id)["price"] %>
				</div>	
			</div>
		</div>
	</div>

	<div class='bottombar'>
		<% if group %>
    		<div class='sim rounded'>
    	  <%= link_to(image_tag('plus.png')+t("products.compare.similar",:count => cluster.size - 1), 
    	  "/compare/sim/#{cluster_id}-#{i}", :id => "sim#{i}", :class => 'simlinks rounded', 
		  :"data-id" => "#{product.id}", :"data-size" => cluster.size, :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
    		</div>
		<% else %>
		<div style="margin-top: 6px; font-size: 0.8em">
			<%= featuretext(@s.search,cluster) %>
		</div>
		<% end %>
	</div>
</div>
