<%if product && product.id%>
  <% cache "Navbox#{I18n.locale}#{product.id}#{Session.quebec}" do %>
    <div id="box<%= product.id %>" class="navbox">
      <div class="navboxcompare">
        <input type="checkbox" data-sku="<%= product.sku %>" class="optemo_compare_checkbox" />
        <a class="regular_reset optemo_compare_button" href="#" title="<%=t('products.compare.clickforcompare')%>">
          <span><%=t('products.compare.compare')%></span>
        </a>
      </div>
      <%= product_image(product, :medium) %>
      <%= render partial: "product_info", locals: {product: product} %>
    </div>
  <% end %>
<% else # Render a navbox shell so that the rendering is consistent -%>
  <div class="navbox" style="height:240px;">
    &nbsp;
  </div>
<%end%>
