<div id="box<%= i %>" class="navigator_box" <%= ("style='margin-right:0px'" if i % (Float(@s.numGroups)/3).ceil == (Float(@s.numGroups)/3).ceil - 1) %>>
	<div class="topbar">
		<div class="title">
			<%= groupDesc(group,i) %>
		</div>
		
		<% if @s.dragAndDropEnabled %>
				<div class="image_boundingbox">
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
		<% end %>
		<%= image_tag(CatSpec.cache_all(product.id)["img150url"], :class => "productimg", :alt => product.small_title, :title => product.small_title) %>
		<% if @s.dragAndDropEnabled %>
			</div>
		<% end %>
		<div class="productinfo">
			<%= link_to product.small_title, product_path(:name => product.descurl, :id => product.id), :'data-id' => product.id, :'data-sku' => product.sku, :class => "easylink", :title => "Click for product specifications" %>
		
			<div class="price">
				<% if BinSpec.cache_all(product.id)["onsale"] %>
					On Sale: $<%= "%.2f" % ContSpec.cache_all(product.id)["saleprice"] %>
				<% else %>
					$<%= "%.2f" % ContSpec.cache_all(product.id)["price"] %>
				<% end %>
			</div>
			<div class="productspecs"><%= featuretext(product.id) %></div>
		</div>
	</div>

	<div class='bottombar'>
		<% if group %>
    	  <%if Session.continuous["cluster"].include?(@s.search.sortby)%>
    	        <%if cluster.min(@s.search.sortby)==cluster.max(@s.search.sortby)%>
    	            <%link_text =  t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.min(@s.search.sortby).to_s + t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "") + " (" + cluster.size.to_s + ")" %>
    	        <%else%>
    	            <%link_text=t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.min(@s.search.sortby).to_s + t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "")+"-"+ t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.max(@s.search.sortby).to_s+t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "") +" ("+cluster.size.to_s+")"%>   
    	        <%end%>     
    	  <%else%>	
				<!--<%["opticalzoom", "maxresolution"].each do |f|%>
					<%# min = overallmin(f)
					   max = overallmax(f)%>
					<div class="clustertext"><%#cluster.min(f).to_s + "-" + cluster.max(f).to_s%></div>
					<div class="clusterspecs"><div class="leftbox" style="width:<%# ((cluster.min(f)-min)/(max-min))*75 %>px"></div> <div class="rightbox" style="width:<%# (0.98-((cluster.max(f)-min)/(max-min)))*75 %>px"></div></div>
				<%end%>-->
    	        <% link_text = t("products.compare.similar",:count => cluster.size - 1)%>
    	  <%end%>	
    		<div class='sim rounded'>
    		<%= link_to(link_text, cluster_path(cluster.id), {:id => "sim#{i}", :class => 'simlinks rounded', 
    		  :"data-id" => "#{product.id}", :"data-size" => cluster.size, :"title" => cluster.size.to_s + " products in ", :rel => "nofollow"}) %>
    			</div>
		 <%end%>	
	</div>
</div>
