<div id="box<%= i %>" class="navigator_box<%= $LineItemView ? (((i % 2) != 0) ? ' greybg' : '' ) :(group ? " nbgroup" : " nbsingle") %>" <%= $LineItemView ? '' :("style='margin-right:0px'" if i%(Float($NumGroups)/3).ceil == (Float($NumGroups)/3).ceil - 1) %>>
	<% unless $LineItemView %>
	<div class="topbar">
	<% end %>
		<div class="title">
			<%= groupDesc(group,i) %>
		</div>
		<% if $LineItemView %>
		<div class="navbody">
			<div class='sim rounded'>
  	  <%= link_to(image_tag("#{'plus' + ($LineItemView ? ($model == Laptop ? '_line.png' : '_linea.png') : '.png')}")+t("products.compare.similar_line",:count => cluster.size - 1), 
  	  "/compare/sim/#{cluster.id}", :id => "sim#{i}", :class => 'simlinks rounded', 
		  :"data-id" => "#{cluster.representative.id}", :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
  		</div>
		<% end %>
		
		<% if $DragAndDropEnabled %>
			<% if $LineItemView %>
				<div class="productinfo">
			<% end %>
				<div class="image_boundingbox">
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
		<% end %>
		<%= image_tag(imgurl(cluster) , :"data-id" => cluster.representative.id, :class => "productimg", :alt => cluster.representative.smlTitle, :title => cluster.representative.smlTitle) %>				
		<% if $DragAndDropEnabled %>		
			</div>
		<% end %>
		
		<% unless $LineItemView %>
		<div class="productinfocont">
			<div class="productinfo">
				<% end %>
				<a href="<%=cluster.representative.descurl%>" data-id="<%=cluster.representative.id%>" class="easylink" title="Click for product specifications">
				<%= cluster.representative.smlTitle %></a>
		
				<div class="price">
					<%= $region == "us" ? cluster.representative.pricestr : cluster.representative.price_ca_str %>
				</div>
				<% unless $LineItemView %>
			</div>
		<% end %>
		</div>
	</div>
	<% unless $LineItemView %>

	<div class='bottombar'>
		<% if group %>
    		<div class='sim rounded'>
    	  <%= link_to(image_tag('plus.png')+t("products.compare.similar",:count => cluster.size - 1), 
    	  "/compare/sim/#{cluster.id}", :id => "sim#{i}", :class => 'simlinks rounded', 
		  :"data-id" => "#{cluster.representative.id}", :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
    		</div>
		<% else %>
		<div style="margin-top: 6px; font-size: 0.8em">
			<%= featuretext(Session.current.search,cluster) %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
