<%# Cache specs here at the top of navbox partial to save on SQL calls and instantiations. Don't bother with Bin or Text specs since they are only used once each (though this might change in future, be careful) %>
<%if product && product.id%>
  <div id="box<%= product.id %>" class="navbox" style="<%= "margin-right:0px;background:none;" if last_in_row %>">
    <div class="navboxcompare">
      <input type="checkbox" data-sku="<%= product.sku %>" class="optemo_compare_checkbox" />
      <a class="regular_reset optemo_compare_button" href="#" title="<%=t('products.compare.clickforcompare')%>">
        <span><%=t('products.compare.compare')%></span>
      </a>
    </div>
    <%= product_image(product, :medium) %>
    <% info_partial = Session.amazon? ? "short_product_info" : "product_info" %>
    <%= render partial: info_partial, locals: {product: product} %>
  </div>
<% else # Render a navbox shell so that the rendering is consistent -%>
  <div class="navbox" style="<%= "margin-right:0px;background:none;" if last_in_row %> height:240px;">
    &nbsp;
  </div>
<%end%>
