<div id="box<%= i %>" class="navigator_box<%= group ? " nbgroup" : " nbsingle" %>" <%= ("style='margin-right:0px'" if i%(Float($NumGroups)/3).ceil == (Float($NumGroups)/3).ceil - 1) %>>
	<div class="topbar">
		<div class="title">
			<%= groupDesc(group,i) %>
		</div>
		
		<% if $DragAndDropEnabled %>
				<div class="image_boundingbox">
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
		<% end %>
		<%= image_tag(imgurl(cluster.representative) , :"data-id" => cluster.representative.id, :class => "productimg", :alt => cluster.representative.smlTitle, :title => cluster.representative.smlTitle) %>
		<% if $DragAndDropEnabled %>
			</div>
		<% end %>
		<div class="productinfocont">
			<div class="productinfo">
				<a href="<%=cluster.representative.descurl%>" data-id="<%=cluster.representative.id%>" class="easylink" title="Click for product specifications">
				<%= cluster.representative.smlTitle %></a>
		
				<div class="price">
					$<%= ContSpec.cache(cluster.representative.id, "price").value %>
				</div>	
				<% unless $LineItemView %>
		</div>
	</div>

	<div class='bottombar'>
		<% if group %>
    		<div class='sim rounded'>
    	  <%= link_to(image_tag('plus.png')+t("products.compare.similar",:count => cluster.size - 1), 
    	  "/compare/sim/#{cluster.id}", :id => "sim#{i}", :class => 'simlinks rounded', 
		  :"data-id" => "#{cluster.representative.id}", :"title" => "Browse through all " + cluster.size.to_s + " in this group") %>
    		</div>
		<% else %>
		<div style="margin-top: 6px; font-size: 0.8em">
			<%= featuretext(Session.current.search,cluster) %>
		</div>
		<% end %>
	</div>
</div>
