<div id="navigator_bar<%= "_bottom" if local_assigns[:bottom] %>" <%= "style='height:99px'" if (request.host == "keyword" && local_assigns[:bottom].nil?) %><%= "style='height:80px'" if request.host == "keyword" %>>
  <div id="navtitle">
    <% if local_assigns[:landing] %>
      <span class="strong"><%= Session.search.products_size %></span> <%=t "products.compare.available" %>
    <% else %>
      <%=t "products.displaying" %> <span class="strong"><%= page_entries_info(Session.search.paginated_products) %></span>
      <% if Session.futureshop? %>
        of <span class="strong"><%= Session.search.products_size %></span>
      <% end %>
    <% end %>
  </div>
  <% if local_assigns[:landing] %>
    <%= link_to root_path, class: 'seeall btn' do %>
      <%=t "products.seeall#{"_fs" if Session.futureshop?}" %>
      <%= content_tag :div, raw("<!-- -->") unless Session.futureshop? %>
    <% end %>
    <%= render "spellcheck" if @search_view and local_assigns[:bottom].nil? %>
  <% else %>
    <% if Session.futureshop? %>
      <%= render "pagination" %>
    <% else %>
      <%= link_to(t("products.compare.compare")+' (0) ', "#", {:class=>'awesome_reset_grey global_btn_grey nav-compare-btn', :id=>"nav_compare_btn#{'_bottom' if local_assigns[:bottom]}"})  %>
      <%= link_to t('products.compare.clear'), "#", :class => "nav_clear_btn", :id => (local_assigns[:bottom] ? "bottom" : "top"), :rel => "nofollow", :title => t('products.compare.cleardesc') %>
    <% end %>
    <% if request.host == "keyword" && local_assigns[:bottom].nil? %>
    	<%= render 'pagination_search' %>	
    <% end %>	
  <% end %>
</div>
