<div id="box<%= i %>" class="navbox" <%= ("style='margin-right:0px;background:none;'" if i % (Float(@s.numGroups)/3).ceil == (Float(@s.numGroups)/3).ceil - 1) %>>
	<div class="topbar">
		<div class="title">
			<%= groupDesc(group,i) %>
		</div>
		
		<% if @s.dragAndDropEnabled %>
				<div class="image_boundingbox">
				<%= image_tag('hand_and_arrow.png', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
		<% end %>
		<%= image_tag(CatSpec.cache_all(product.id)["img150url"], :class => "productimg", :alt => product.small_title, :title => product.small_title, :'data-id' => product.id, :'data-sku' => product.sku) %>
		<% if @s.dragAndDropEnabled %>
			</div>
		<% end %>
		<div class="productinfo">
			<%= link_to product.small_title, product_path(:name => product.descurl, :id => product.id), :'data-id' => product.id, :'data-sku' => product.sku, :class => "easylink", :title => t('products.compare.clickforspecs') %>
		
			<div class="price">
				<% if BinSpec.cache_all(product.id)["onsale"] %>
					<%= t('products.compare.onsale')+": $" +number_with_delimiter(ContSpec.cache_all(product.id)["saleprice"]) %>
				<% else %>
					$<%= number_with_delimiter(ContSpec.cache_all(product.id)["price"]) %>
				<% end %>
			</div>
			<div class="productspecs"><%=featuretext(product.id) %></div>
		</div>
	</div>

	
	<% if group %>
	<div class='bottombar'>
      <%if Session.continuous["cluster"].include?(@s.search.sortby)%>
		<%if range%>	
            <%if cluster.min(@s.search.sortby)==cluster.max(@s.search.sortby)%>
                <%link_text =  t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.min(@s.search.sortby).to_s + t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "") + " (" + cluster.size.to_s + ")" %>
            <%else%>
                <%link_text=t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.min(@s.search.sortby).to_s + t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "")+"-"+ t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.max(@s.search.sortby).to_s+t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "") +" ("+cluster.size.to_s+")"%>   
            <%end%>
 	     <%else%>
			<%link_text =  t("#{@s.product_type}.specs.#{@s.search.sortby}.preunit", :default => "") + cluster.min(@s.search.sortby).to_s + t("#{@s.product_type}.specs.#{@s.search.sortby}.unit", :default => "") + " "+ t("products.compare.likethis") +" (" + cluster.size.to_s + ")" %>
       <%end%>
     <%else%>   
		<% link_text = t("products.compare.similar",:count => cluster.size)%>
     <%end%>	
      <div style="padding:3px 17px;">
      <%= link_to cluster_path(cluster.id), {:id => "sim#{i}", :class => 'simlinks awesome_reset global_btn', :"data-id" => "#{product.id}", :"data-size" => cluster.size, :"title" =>  t('products.compare.seegroup'), :rel => "nofollow"} do %>
		<span><%= link_text %></span>
	  <% end %>
      </div>
	  <%# Distribution ranges %>
	  <% unless true || Session.continuous["cluster"].include?(@s.search.sortby)%>	
		<%["opticalzoom", "maxresolution"].each_with_index do |f,i|%>
			<% min = overallmin(f)
			   max = overallmax(f)%>
			<div class="clustertext" style="float:<%= i%2==0 ? "left" : "right"%>;">
			<div class="clusterspecs"><div class="leftbox" style="width:<%= ((cluster.min(f)-min)/(max-min))*75 %>px"></div> <div class="rightbox" style="width:<%= (0.98-((cluster.max(f)-min)/(max-min)))*75 %>px"></div><div class="referencebar"> </div></div>
			<%=t "#{Session.product_type}.specs.#{f}.name" %>
			</div>
		<%end%>
		<div style="clear:both;"> </div>
	  <%end%>
	</div>
	<%end%>
</div>
