
<% if Session.search.products_size > SearchProduct.per_page %>
  <% products = Session.search.paginated_products %>
  <div class='pagination-container<%= " bottom" if local_assigns[:bottom] %>'><span class='pagi-info'><%= page_entries_info(products) %></span>
    <%= raw "<b>#{t('products.page')}:</b>" unless Session.futureshop? %>
    <%= will_paginate(products, {:previous_label => (Session.futureshop? ? "« Previous" : image_tag('prev-page.gif')), :next_label => (Session.futureshop? ? "Next »" : image_tag('next-page.gif')), :page_links=>true, :outer_window => -4})%>
    <%= link_to t("products.backtotop"), "#", id: "back-to-top-bottom" if (local_assigns[:bottom] && !Session.futureshop?) %>
  </div>

<% else %>
  <div class='pagination-container<%= " bottom" if local_assigns[:bottom] %>'>
      <%= link_to t("products.backtotop"), "#", id: "back-to-top-bottom" if (local_assigns[:bottom] && !Session.futureshop?) %>
  </div>
<% end %>
