<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
#optemo_embedder .gainlayout { height: 0; }
#optemo_embedder #galleria {display: none;}
#optemo_embedder .mainprodimg {display: block !important;}
#optemo_embedder #loading {width: 86px;}
</style><![endif]-->

<!--[if gte IE 7]><style>
#optemo_embedder .white_swatch {
	width: 11px;
	height: 11px;
	border: 1px solid #ccc;
}
</style><![endif]-->

<!-- Piwik 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analyze.optemo.com/" : "http://analyze.optemo.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>);
piwikTracker.setDocumentTitle('Index');
piwikTracker.setCustomData({'optemo_session':<%= s.id %>, 'filter_type' : "index"});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analyze.optemo.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
-->



<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.optemo.com/" : "http://analytics.optemo.com/");
var piwik_script_tag = document.createElement("script");
piwik_script_tag.setAttribute("src", pkBaseURL + 'piwik.js');
piwik_script_tag.setAttribute("type", "text/javascript");
document.getElementsByTagName("head")[0].appendChild(piwik_script_tag);

if (piwik_script_tag.readyState){  //IE
    piwik_script_tag.onreadystatechange = function(){
        if (piwik_script_tag.readyState == "loaded" ||
                piwik_script_tag.readyState == "complete"){
            piwik_script_tag.onreadystatechange = null;
            piwik_ready(); // Using square bracket notation because the jquery object won't be initialized until later
        }
    };
} else {  //Others
    piwik_script_tag.onload = function(){
        piwik_ready();
    };
}

function piwik_ready() {
//    try {
        window.piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>); // idsite is here
		piwikTracker.setDocumentTitle('Index');
		piwikTracker.setCustomData({'optemo_session':<%= s.id %>, 'filter_type' : "index"});
		piwikTracker.trackPageView();
		// I'm not sure what emptying the title and data do, but it seems like a standard pattern.
		piwikTracker.setDocumentTitle('');
		piwikTracker.setCustomData({});
        piwikTracker.enableLinkTracking();
//    } catch( err ) {}
}

</script><noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
