<% if Session.quebec %>
  <div class="price_breakdown" style="<%= "font-size:0.8em;" if Session.bestbuy? %>">
    <%= number_to_currency(cont_specs["saleprice"]) + " + " + number_to_currency(cont_specs["EHF"], precision: 0) + " " + t('products.compare.environmentalfee') %>
    <%# French translation still needed for "environmental handling fee" -- please make changes in fr.yml %>
  </div>
<% end -%>
<div class="save" style="<%= "color:#BE0027;font-size:1em; padding-bottom: 0px;" if Session.futureshop? %><%=raw "display:none;" if !bin_specs["onsale"] %>">
  <%# <%=raw only_if_onsale(product) %>
  <%= t('products.compare.save')+(fr?.empty? ? "" : " ")+": " %>
  <span><%= number_to_currency(cont_specs["price"]-cont_specs["saleprice"]) %></span>
</div>
<div class="saleends" style="<%= "font-size: 1em;" if Session.futureshop? %><%=raw "display:none;" if !bin_specs["onsale"] || (cat_specs["saleEndDate"] && Time.now > Date.parse(cat_specs["saleEndDate"])) %>">
  <%= t('products.show.saleends')+(fr?.empty? ? "" : " ")+": "%>
  <%= l((Date.parse(cat_specs["saleEndDate"]) - 1.day), :format => :long) if cat_specs["saleEndDate"] %>
</div>
