<% if Session.quebec and cont_specs["EHF"] > 0 %>
  <div class="price_breakdown">
    <%= number_to_currency(cont_specs["saleprice"]) + " + " + number_to_currency(cont_specs["EHF"]) + " " + t('products.compare.environmentalfee') %>
    <%# French translation still needed for "environmental handling fee" -- please make changes in fr.yml %>
  </div>
<% end -%>
<% if bin_specs["onsale"] -%>
  <span class="save" style="<%= "font-size: 12px;" if !fr?.empty? && Session.futureshop? %>">
    <%= t('products.compare.save') %><%= (fr?.empty? ? "" : " ")+": " if Session.bestbuy? %>
    <%= number_to_currency(cont_specs["price"]-cont_specs["saleprice"], precision: 0) %>
  </span>
  <% if cat_specs["saleEndDate"] && Time.now < Date.parse(cat_specs["saleEndDate"]) -%>
    <div class="saleends">
      <%= t('products.show.saleends')+(fr?.empty? ? ": " : "") %>
      <%= l((Date.parse(cat_specs["saleEndDate"]) - 1.day), :format => :long) %>
    </div>
  <% end %>
<% end -%>
