<% cont_specs = ContSpec.cache_all(product.id); cat_specs = CatSpec.cache_all(product.id); text_specs = TextSpec.cache_all(product.id); bin_specs = BinSpec.cache_all(product.id) %>
<%# Real-time price checking should now also take $("div.price_breakdown") into account and change its value based on the feed. This is not done yet and depends on whether the feed has the recycling fee integrated or not. %>
<div class="productinfo" data-sku=<%= product.sku %>>
  <% if Session.futureshop? -%>
    <% if bin_specs['isClearance'] %>
      <span class="finalclearance" style="background-color: #FFDF00; padding: 2px 6px; font-weight: bold; color: #201D00; font-size: 0.8em;"><%=t 'products.compare.finalclearance' %></span>
    <% else %>
      <div style="height: 11px"><!-- --></div>
    <% end %>
    <div class="price" style="background-position:0px 10px; color: #000; font: arial; <%= 'background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAPCAYAAADgbT9oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNpi3Meg7sDAwFAPxIlA%2FIABOwCpmQ9VcwBZwvH%2FDawamJA0ngfiBgbcQAGI9wNxPxALMBAATEhsAajLQRYY4NFTAFXjQKzBMGBAiuv3M2oIEGswDIBcf5%2BAy0Cuvw80PIAUg5FdVo9HDcjF64GGr0d2PSGDkVMFIRCA7HoWBuoCmOsbmRioDxqBabuBWIMvEKEGlHEUQYYSExSgnFgIxB%2BgkYgNfIC6cgKxqQKk0BCIN%2BBRswHqygnoEiw4XIlRJuDwyQZCZQU84KGuPEChT%2BAuvgB15QUCEVhIwFI4AAgwAFb7PyZ8F%2FBvAAAAAElFTkSuQmCC");' unless request.env['HTTP_USER_AGENT'].downcase.index('msie') %> padding-left: 25px; background-repeat: no-repeat; font-family: arial;">
      <span class="dollars" style="font-size: 30px;"><%= dollars(cont_specs[Session.quebec ? "pricePlusEHF" : "saleprice"]) %></span>
      <span class="cents" style="font-size: 18px; position: relative; top: -9px;"><%= cents(cont_specs[Session.quebec ? "pricePlusEHF" : "saleprice"]) %></span>
      <div class="clear"><!-- --></div>
    </div>
    <%= render partial: 'product_savings', locals: {product: product, cont_specs: cont_specs, cat_specs: cat_specs, bin_specs: bin_specs} %>
  <% end %>
  <% title_style = "outline: medium none; font-weight: bold; margin: 7px 7px 0 0; display: block;" %>
  <% title_style += "font-size: 11px; color: #000;" if Session.futureshop? %>
  <% title_style += "color:#039;" if Session.bestbuy? %>
  <%= link_to (text_specs["title#{fr?}"] || text_specs["title"]), (text_specs["productUrl#{fr?}"] || text_specs["productUrl"]), :class => "easylink", :title => t('products.compare.clickforspecs'), style: title_style %>
  <div class="productspecs"><!--&--></div>
  <% if Session.bestbuy? -%>
    <%if !bin_specs["onsale"]%>
    	<div class="price"> 
      		<span style= "font-size:20px; color: #2e3337; font-family: arial black;"><%= number_to_currency(cont_specs[Session.quebec ? "pricePlusEHF" : "saleprice"]) %></span>
    	</div>
    <%else%>	
    	<div class="saleprice" <%=raw only_if_onsale(product) %>>
      		<span style= "font-size:20px; font-color:#da1a36; font-family: arial black;"><%= number_to_currency(cont_specs[Session.quebec ? "pricePlusEHF" : 	"saleprice"]) %></span>
    	</div>
    <%end%>	
    <%= render partial: 'product_savings', locals: {product: product, cont_specs: cont_specs, cat_specs: cat_specs, bin_specs: bin_specs} %>
  <% end -%>
  
  <% if Session.amazon? -%>
    <div class="price" <%=raw only_if_not_onsale(product) %>>
      <%= t('products.show.ourprice')+(fr?.empty? ? "" : " ")+": "%>     
      <span><%= number_to_currency(cont_specs["price"]) %></span>
    </div>
    <div class="saleprice" <%=raw only_if_onsale(product) %>>
      <%= t('products.compare.onsale')+(fr?.empty? ? "" : " ")+": " %>
      <span><%= number_to_currency(cont_specs["saleprice"]) %></span>
    </div>
    <div class="save" <%=raw only_if_onsale(product) %>>
      <%= t('products.compare.save')+(fr?.empty? ? "" : " ")+": " %>
      <% debugger if cont_specs["price"].nil? or cont_specs["saleprice"].nil? %>
      <span><%= number_to_currency(cont_specs["price"]-cont_specs["saleprice"]) %></span>
    </div>
  <% end -%>
  

  <% siblings = product.siblings_cached.map{|s| s if Product.cached(s.sibling_id).instock}.compact -%>
  <!-- Colour swatches -->
  <%# Colour swatches go after customer rating in Future Shop design %>
  <%= render partial: 'compare/color_swatches', :locals => {:siblings => siblings} unless Session.futureshop? %>
 
  <% if cont_specs["customerRating"] && cont_specs["customerRating"] > 0 %>
    <div class="stars"><%=raw stars(cont_specs["customerRating"]) %></div>
  <% end %>
  <%= render partial: 'compare/color_swatches', :locals => {:siblings => siblings, nolabel: true} if Session.futureshop? %>
</div>
