<div id="box<%= i %>" class="navigator_box nbsingle">
	<div class="productinfo rounded" data-id="<%= product.id %>">
		<div class="productimg">
			<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.smlTitle, :title => product.smlTitle) %>
			<% if @s.dragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.', :"data-id" => product.id) %>
			<% end %>
		</div>
		<div class="itemfeatures">
			<div class="itemtitle"><%= product.smlTitle %></div>
			<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
			<% all_specs = {:continuous => contspecs, :categorical => catspecs, :binary => binspecs } %>
			<% all_specs.each do |k,v| %>
				<% @s.send(k)["showList"].each do |f| %>
					<% if v[f] %>
					<div class="fv"><%=t @s.product_type+"."+f, :default => f.capitalize %>: <%= v[f] == v[f].to_i ? v[f].to_i : v[f] %> <%=t @s.product_type+"."+f+"unit", :default => '' %></div>
					<% end %>
				<% end %>
			<% end %>
			
		</div>
		<div class="price">
			<%= number_to_currency(contspecs["price"]) %>
		</div>
		<div class='priceunit'>
			<%= t("#{@s.product_type}.priceunit") unless t("#{@s.product_type}.priceunit") == '$' %>
		</div>
	</div>
</div>
