<div id="box<%= i %>" class="navigator_box nbsingle">
	<div class="productinfo rounded" data-id="<%= product.id %>">
		<div class="productimg">
			<%= image_tag(imgurl(product) , :"data-id" => product.id, :class => "productimg", :alt => product.smlTitle, :title => product.smlTitle) %>
			<% if $DragAndDropEnabled %>
				<%= image_tag('hand_and_arrow.gif', :class => "dragHand", :title => 'Click for product info. Drag to compare with other products.') %>
			<% end %>
		</div>
		<div class="itemfeatures">
			<div class="itemtitle"><%= product.smlTitle %></div>
			<% contspecs = ContSpec.cache_all(product.id); catspecs = CatSpec.cache_all(product.id); binspecs = BinSpec.cache_all(product.id) %>
			<% $Categorical["showList"].each do |f|%>
			  <%= render :partial => 'featurevaluesg', :locals => {:f => f, :val => catspecs[f]} %>
			<% end %>
			<% $Continuous["showList"].each do |f|%>
			  <%= render :partial => 'featurevaluesg', :locals => {:f => f, :val => contspecs[f]} %>
			<% end %>
			<% $Binary["showList"].each do |f|%>
			  <%= render :partial => 'featurevaluesg', :locals => {:f => f, :val => binspecs[f]} %>
			<% end %>
		</div>
		<div class="price">
			<%= number_to_currency(contspecs["price"]) %>
		</div>
		<div class='priceunit'>
			<%= t("#{$product_type}.priceunit") unless t("#{$product_type}.priceunit") == '$' %>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
