<% distribution_data = getDist(feat)%>
<% if distribution_data %>
<% if i == 4 %>
<div class='label-advanced-title' data-position="<%= i %>">
  <%= t('products.compare.AdvancedSearch') %>&nbsp;&gt;
</div>
<% end %>

<div class='feature_slider'>
  <% case i %>
    <% when 0 #add a css class to fix IE6 and IE7 first  label space issue %>
      <% feature_class = 'label without-space space' %>
    <% when 1..3 %>
      <% feature_class = 'label space' %>
    <% else # i > 4 %>
      <% feature_class = 'label-advanced space' %>
  <% end %>
  <div class='<%= feature_class %>' data-position="<%= i %>">
    <%= t("#{Session.product_type}.specs.#{feat}.name") %>
  	<% if i > 3 %>
  	  <span class="unitdisp">(<%=t("#{Session.product_type}.specs.#{feat}.unit", :default=>"") + t("#{Session.product_type}.specs.#{feat}.preunit", :default=>"") %>)</span>
  	<% end %>
  	<%= image_tag "bb_right_facing_carat#{fr?}.gif" if i < 4 %>
  	<% if Session.directLayout %>
  		<div class="groupby" data-feat="<%= feat %>" data-position="<%= i %>">See Groups</div>
  	<% end %>		
  </div>
	<% current = Maybe(Session.search.userdataconts.select{|m|m.name == feat}.first) %>
	
	<div class="hist" data-data="<%= distribution_data.second.join(',') %>"></div>
	<%= hidden_field_tag "myfilter[#{feat}_min]", current.min, {:class => 'min'}%>
	<%= hidden_field_tag "myfilter[#{feat}_max]", current.max, {:class => 'max'}%>
	<div class='slider'
	data-label= '<%= feat %>'
	data-min='<%= format_acceptable_increments(overall_min, "down") %>'
	data-max='<%= format_acceptable_increments(overall_max, "up") %>'
	data-startmin='<%= format_acceptable_increments(current.min.nil? ? overall_min : current.min, "down") %>'
	data-startmax='<%= format_acceptable_increments(current.max.nil? ? overall_max : current.max, "up") %>'
	current-data-min='<%= distribution_data.first.first %>'
	current-data-max='<%= distribution_data.first.second %>'
	force-int='false'
	<%= money_formatting ? 'data-formatting=\'$\'' : ""  %>>
    	<div class="centerofslider"><!-- --></div>
	</div>
</div>
		<div style="clear:both; height: 0"></div>
<% end %>
