<div class='feature'>
	<div class='label space'>
		<%= render :partial => 'desc', :locals => {:feat => feat} %>
		<%= link_to t('products.'+feat), "#" %>
		<span class="unitdisp">(<%= t('products.' + feat+"unit") %>)</span>
		<% if Session.current.lineItemView %>
			<div class="contgroupby" data-feat="<%= feat %>">Show Groups</div>
		<% end %>		
	</div>
	<% start = isnil(Session.current.search.userdataconts.select{|m|m.name == feat}.first){Userdatacont.new("min" => overall_min, "max" => overall_max)} %>
	<% distribution_data = Session.current.search.distribution(feat) %>
	<div class="hist" data-data="<%= distribution_data.second.join(',') %>"></div>
	<% current_min = start.min; current_max = start.max %>
	<%= hidden_field_tag "myfilter[#{feat}_min]", start.name.nil? ? nil : current_min,{:class => 'min'}%>
	<%= hidden_field_tag "myfilter[#{feat}_max]", start.name.nil? ? nil : current_max,{:class => 'max'}%>
	<div class='slider'
	data-label= '<%= feat %>'
	data-min='<%= format_acceptable_increments(overall_min, "down") %>'
	data-max='<%= format_acceptable_increments(overall_max, "up") %>'
	data-startmin='<%= format_acceptable_increments(current_min, "down") %>'
	data-startmax='<%= format_acceptable_increments(current_max, "up") %>'
	current-data-min='<%= distribution_data.first.first %>'
	current-data-max='<%= distribution_data.first.second %>'
	force-int='false'
	<%= money_formatting ? 'data-formatting="$"' : ""  %>>
		<div class="centerofslider">&nbsp;</div>
	</div>
</div>
