<div style="position:relative">
  <div class="hist" data-data="<%= slider.distribution.second.join(',') %>"></div>
  <%= hidden_field_tag "continuous[#{slider.name}]", current.min.to_s+";"+current.max.to_s, {:class => 'range', :'data-id' => "slider#{slider.name}"}%>
  <span class="sliderspn">
    <input 
      class="slider" 
      type="slider" 
      name="superfluous[<%= slider.name %>]"
      value="<%= [(current.min.nil? ? datamin : current.min),(current.max.nil? ? datamax : current.max)].join(";") %>"
      data-step='<%= step %>'
      data-min= '<%= datamin %>'
      data-max= '<%= datamax %>'
      data-distmin='<%= slider.distribution.first[0] %>'
      data-distmax='<%= slider.distribution.first[1] %>'
      <%# Take out data-unit for now. Needs logic for $ before/after, etc. %>
      data-unit='<%= unit %>'
      disabled="disabled"/>
  </span>
</div>