<div class='feature'>
	<div class='label space'>
		<%= render :partial => 'desc', :locals => {:feat => val} %>
		<%= link_to t('products.'+val), "#" %>
		<span class="unitdisp">(<%= t('products.' + val+"unit") %>)</span>
	</div>
	<% start = isnil(Session.current.searches.userdataconts.select{|m|m.name == val}.first){UserDataCont.new("min" => overallmin(val), "max" => overallmax(val))} %>
	<div class="hist" data-data="<%= Session.current.search.distribution(val).join(',') %>"></div>
	<%= hidden_field_tag "myfilter[#{val}_min]", start.name.nil? ? nil : start.min),
	{:class => 'min'}%>
	<%= hidden_field_tag "myfilter[#{val}_max]", start.name.nil? ? nil : start.max),
	{:class => 'max'}%>
	<div class='slider'
	data-label= '<%= val %>'
	data-min='<%= overallmin(val) %>'
	data-max='<%= overallmax(val) %>'
	data-startmin='<%= start.min %>'
	data-startmax='<%= start.max %>'
	data-itof='<%= i2f %>'
	<%= money_formatting ? 'data-formatting="$"' : ""  %>>
		<div class="centerofslider">&nbsp;</div>
	</div>
</div>