<ul id="sorting_method_box"><li><strong><%= t("products.sortby") %>: </strong></li>
  <% if Session.search.sortby=="relevance"  || Session.search.sortby.nil?%>
    <li><%= t("products.relevance") %><span class='seperater'> | </span></li>
  <% else %>
    <li><%= link_to(t("products.relevance"), "#", {:'data-feat'=> "relevance", :class=>"sortby"}) %> <span class='seperater'> | </span></li>
  <% end %>
  <% max_index = Session.continuous["sortby"].size - 1 %>
  <% Session.continuous["sortby"].each_with_index do |f, i| %>
    <% if Session.search.sortby == f %>
      <li><%= t(Session.product_type+".specs."+f+".name") %><% if i !=max_index  %><span class='seperater'> | </span><% end %></li>
      <!-- Add sale price high to low which is not in sort list -->
      <% if f == "saleprice_factor" %>
        <li><%= link_to(t(Session.product_type+".specs.saleprice_factor_high_to_low.name"), "#", {:'data-feat'=>'saleprice_factor_high', :class=>"sortby"}) %><% if i !=max_index  %><span class='seperator'> | </span><% end %></li>
      <% end %>
    <% else %>
      <li><%= link_to(t(Session.product_type+".specs."+f+".name"), "#", {:'data-feat'=>f, :class=>"sortby"}) %><% if i !=max_index  %><span class='seperater'> | </span><% end %></li>
      <!-- Add sale price high to low which is not in sort list -->
      <% if f == "saleprice_factor" %>
        <% if Session.search.sortby == "saleprice_factor_high" %>
          <li><%= t(Session.product_type+".specs.saleprice_factor_high_to_low.name") %><% if i !=max_index  %><span class='seperater'> | </span><% end %></li>
        <% else %>
          <li><%= link_to(t(Session.product_type+".specs.saleprice_factor_high_to_low.name"), "#", {:'data-feat'=>'saleprice_factor_high', :class=>"sortby"}) %><% if i !=max_index  %><span class='seperater'> | </span><% end %></li>
        <% end %>
      <% end %>
      
    <% end %>
  <% end %>
</ul>

