<div class="cell">
	<td style="width:auto;min-width:235px;">
		<div align="left" style="float:left">
			<% num = numberOfStars(@utility[i]) %>
			<% for j in 0..num-1 %>
				<%= image_tag("fullstar.gif", :width => 20, :height => 20, :onClick => "") %>
			<% end %>
			<% if num%1 != 0 %>
				<%= image_tag("halfstar.gif", :width => 20, :height => 20, :onClick => "") %>
			<% end %>
		</div>
		<div align="right">
			<%= link_to image_tag('close.png'), "javascript:removeFromComparison(#{thumbnails.id})", :"data-name" => thumbnails.id, :class => 'deleteXComp', :width => '13' %> 
		</div>
		<div class="comparisonfeature">
			<br>
			<%= displayComparisonFeature(i) %>
		</div>
		<div class="first">	
 			<%= image_tag(thumbnails.imagemurl, :width => thumbnails.imagemw, :height => thumbnails.imagemh, :onClick => "fadeout(#{thumbnails.id});", :style => "cursor: pointer;") %>
 		</div>
	</td>
</div>