<% self.title = "#{@s.product_type.capitalize}" unless @indexload %>
<% main_window = render :partial => 'discoverybrowser' unless @indexload %>
<div class="left-right-wrapper">
<div id="leftbar">
    <!-- The Saved Items box -->
	<div id="savebar" class='leftboxes gainlayout'>
		<h2> <%=t 'products.compare.saved' %> </h2>
		<%= image_tag('hand_and_arrow.png', :id => "draghandexample") %>
		<div id="savesome" class="rounded"> <% if Session.dragAndDropEnabled == true %> <%=t 'products.compare.savesomedrag'%> <% else %> <%=t 'products.compare.savesome'%> <% end %></div>
		<div id="already_added_msg" class="savedmsg"> <%=t 'products.compare.alreadyadded' %> </div>
		<div id="too_many_saved" class="savedmsg"> <%=t 'products.compare.toomanysaved' %> </div>
		<div id="opt_savedproducts">
		</div>
		<!-- Hide if 0 products, show if 1/more. -->
		<%= link_to image_tag("compare#{fr?}.gif"), "", :id => "compare_button", :style => "display:none;" %>
	</div>
	<!-- The Filters section -->
	<div id="filterbar" class="leftboxes">
		<div id="ajaxfilter">
			<% unless @indexload %>
				<%= render :partial => 'filter', :locals => {:s => Session, :current_search => Session.search} %>
			<% end  %>
		</div>
	</div>
	

</div>

<div id="main">
	<% if @indexload %>
		<div id="opt_discovery"></div>
	<% else %>
		<%= main_window %>
	<% end %>
</div>
</div>
<div id="loading"><div id="myspinner" style="float: left;"></div><div style="margin: 7px 0px 0px 60px;">Loading</div></div>
