<% self.title = "#{@s.search.desc} #{@s.product_type.capitalize}" unless @indexload %>
<div id="leftbar">
	<!-- The Filters section -->
	<div id="filterbar" class="leftboxes rounded_bd rounded">
		<div class="tl"></div><div class="tr"></div>
		<h2><%=t 'products.compare.search' %> <%= link_to "(reset)", "/compare/", :id => "staticajax_reset", :class => "reset" %></h2>
			<div class="filtersdesc"><%=t 'products.compare.filtersdesc' %></div>
		<div id="ajaxfilter">
			<% unless @indexload %>
				<%= render :partial => 'filter', :locals => {:s => Session.current, :current_search => Session.current.search} %>
			<% end  %>
		</div>
		<div class="bl"></div><div class="br"></div>
	</div>
	
	<!-- The Saved Items box -->
	<div id="savebar" class='leftboxes gainlayout rounded_bd rounded'>
		<div class="tl"><!-- --></div><div class="tr"><!-- --></div>
		<h2> <%=t 'products.compare.saved' %> </h2>
		<div class="savesome"> <% if @s.dragAndDropEnabled == true %> <%=t 'products.compare.savesomedrag'%> <% else %> <%=t 'products.compare.savesome'%> <% end %></div>
		<div id="savebar_content">
		<div id="already_added_msg" class="savedmsg"> <%=t 'products.compare.alreadyadded' %> </div>
		<div id="too_many_saved" class="savedmsg"> <%=t 'products.compare.toomanysaved' %> </div>
		<div id="opt_savedproducts">
		</div>
		</div>
		<!-- Hide if 0 products, show if 1/more. -->
		<%= link_to image_tag("compare#{fr?}.gif"), "", :id => "compare_button", :style => "display:none;" %>
		<div class="bl"><!-- --></div><div class="br"><!-- --></div>
	</div>
</div>

<div id="main">
	<% if @indexload %>
		<div id="opt_discovery"></div>
	<% else %>
		<%= render :partial => 'discoverybrowser' %>
	<% end %>
</div>
<div id="loading"><div id="myspinner" style="float: left;"></div><div style="margin: 7px 0px 0px 60px;">Loading</div></div>
