<% self.title = "#{@s.product_type.capitalize}" unless @indexload %>
<% main_window = render :partial => 'discoverybrowser' unless @indexload %>

<style type="text/css">
.nbgroup { /* These declarations are here for the embedded view, for speed testing */
	padding: 3px 9px 3px 3px;
    background: url(<%= image_tag("nb-group.png") %>) no-repeat;
	width:224px;
}
.nbsingle {
	padding: 3px 9px 3px 3px;
    background: url(<%= image_tag("nb-single.png") %>) no-repeat;
	width:224px;
}
.centerofslider {
    background: url(<%= image_tag("slider.gif") %>) no-repeat;
	height:13px; 
	overflow:hidden;
}
.ui-slider .ui-slider-handle { 
    background: url(<%= image_tag("diamond.gif") %>) no-repeat;
	font-size: 0.6em;
	color: black;
	height:13px; width:16px;text-decoration:none;outline:none;position:absolute;z-index:2;
}
</style>
<div id="leftbar">
	<!-- The Filters section -->
	<div id="filterbar" class="leftboxes rounded_bd rounded">
		<div class="tl"></div><div class="tr"></div>
		<h2><%=t 'products.compare.search' %> <%= link_to "(reset)", "/", :id => "staticajax_reset", :class => "reset", :rel => "nofollow" %></h2>
			<div class="filtersdesc"><%=t 'products.compare.filtersdesc' %></div>
		<div id="ajaxfilter">
			<% unless @indexload %>
				<%= render :partial => 'filter', :locals => {:s => Session.current, :current_search => Session.current.search} %>
			<% end  %>
		</div>
		<div class="bl"></div><div class="br"></div>
	</div>
	
	<!-- The Saved Items box -->
	<div id="savebar" class='leftboxes gainlayout rounded_bd rounded'>
		<div class="tl"><!-- --></div><div class="tr"><!-- --></div>
		<h2> <%=t 'products.compare.saved' %> </h2>
		<div class="savesome"> <% if Session.current.dragAndDropEnabled == true %> <%=t 'products.compare.savesomedrag'%> <% else %> <%=t 'products.compare.savesome'%> <% end %></div>
		<div id="savebar_content">
		<div id="already_added_msg" class="savedmsg"> <%=t 'products.compare.alreadyadded' %> </div>
		<div id="too_many_saved" class="savedmsg"> <%=t 'products.compare.toomanysaved' %> </div>
		<div id="opt_savedproducts">
		</div>
		</div>
		<!-- Hide if 0 products, show if 1/more. -->
		<%= link_to image_tag("compare#{fr?}.gif"), "", :id => "compare_button", :style => "display:none;" %>
		<div class="bl"><!-- --></div><div class="br"><!-- --></div>
	</div>
</div>

<div id="main">
	<% if @indexload %>
		<div id="opt_discovery"></div>
	<% else %>
		<%= main_window %>
	<% end %>
</div>
<div id="loading"><div id="myspinner" style="float: left;"></div><div style="margin: 7px 0px 0px 60px;">Loading</div></div>
