<% # The Filters section - For Mobile Layout Only %>

<div id="filter_content" class="leftboxes rounded_bd rounded">
	<%= form_tag("/compare/filter",{:id => 'all_filters_form', :method => 'post'}) do %>
		<div class='feature'>
			<div class='label'>
				<%= render :partial => 'desc', :locals => {:feat => "search"} %>
				<%= link_to "Search", "#" %>			
			</div>
			<div class='feature_selectors'>
				<%= text_field_tag('search') %>
			</div>
			<% unless @s.search.userdatasearches.empty? %>
			<div id="previous_search_container" class='selected_options'>
				<a title="Remove search filter" id="removeSearch" href="">
					<img width="13" src="/images/close.png" alt="Close">
				</a>
				Search term: '<%= @s.search.userdatasearches[0].keyword %>'
			</div>
			<%= hidden_field_tag "previous_search_word", @s.search.userdatasearches[0].keyword %>
			<% else %>
			<%= hidden_field_tag "previous_search_word", '' %>
			<% end %>
		</div>
		<%= form_tag("",{:id => 'filter_form'}) do %>
		<% @s.categorical["filter"].each do |feat| %>
			<div class='feature'>
				<!--div class='label'>
					<%=t('products.' + feat)%>
				</div-->
				<div class='label'>
					<%= render :partial => 'desc', :locals => {:feat => feat} %>
					<%= link_to t('products.' + feat), "#" %>			
				</div>
				<% chosen_cats = chosencats(feat) %>
				<% unless chosen_cats.nil? || chosen_cats.empty? %>
					<%# At least one item selected %>
					<% chosen_cats.each do |b| %>
						<div class='selected_cat_features'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :"data-cat" => feat, :class => "removefilter", :"data-id" => b} %> <%= b %>
						</div>
					<% end %>
					<%= select('superfluous', feat, [t('products.compare.add'+feat)] + CatSpec.all(feat).reject {|b| chosen_cats.index(b)}, options={}, {:id => feat+"selector", :class => "selectboxfilter", :"data-id" => feat})%>
				<% else %>
					<%# Nothing selected %>
					<%= select('superfluous', feat, [t('products.compare.all'+feat+'s')] + CatSpec.all(feat), options={}, {:id => feat+"selector", :class => "selectboxfilter", :"data-id" => feat})%>		
				<% end %>

				<%= hidden_field_tag "myfilter[#{feat}]", chosen_cats.join("*") %>
			</div>
		<% end %>
		<% @s.continuous["filter"].each do |feat| %>
			<% name = t('products.' + feat); money_formatting = feat == 'price'; overall_min = ContSpec.allMinMax(feat)[0]; overall_max = ContSpec.allMinMax(feat)[1] %>
				<div class='feature'>
					<div class='label space'>
						<%= render :partial => 'desc', :locals => {:feat => feat} %>
						<%= link_to t('products.'+feat), "#" %>
						<span class="unitdisp">(<%= t('products.' + feat+"unit") %>)</span>
					</div>
					<% start = isnil(@s.search.userdataconts.select{|m|m.name == feat}.first){Userdatacont.new("min" => overall_min, "max" => overall_max)} %>
					<% current_min = start.min; current_max = start.max %>

					<% acceptableincrements = acceptableincrements(overall_min, overall_max) %>
					<div class='feature_selectors' data-label='<%= feat %>'>
					<%= select( "featurerangeone", feat, acceptableincrements, {:selected => current_min.nil? ? '' : current_min.to_f}, {:class => 'featurerangeselect', :name => "myfilter[#{feat}_min]"}) %>&nbsp;&ndash;&nbsp;<%= select( "featurerangetwo", feat, acceptableincrements, {:selected => current_max.nil? ? acceptableincrements[-1] : (acceptableincrements[-1].class == Fixnum ? current_max.to_i : current_max.to_f)}, {:class => 'featurerangeselect', :name => "myfilter[#{feat}_max]"}) %>
					</div>
				</div>
				
		<% end %>
		<% @s.binary["filter"].each do |feat| %>
			<div class='feature'>
				<div class='label'>
					<%= render :partial => 'desc', :locals => {:feat => feat} %>
					<% dobj = Userdatabin.find_by_search_id_and_name(@s.search.id,feat) %>
					<%= check_box('myfilter', feat, {:checked => dobj.nil? || dobj.value == false ? false : 'checked', :class => 'autosubmitbool'})%>
					<%= link_to t('products.' + feat), "#" %>
				</div>
			</div>
		<% end %>
		<div style="clear:both; text-align:center; padding-top: 10px">
			<%= link_to "(reset)", "/", {:id => "staticajax_reset", :class => "staticajax reset"} %>
			<%= submit_tag("Submit", {:id => 'submit_button'}) %>
		</div>
		<% end %>

	<% end %>
</div>
<span id="actioncount" style="display:none"><%= @s.searches.count %></span>
