<% self.title = "Product Comparison" %>
<br>&lt;&lt;&nbsp;<%= link_to 'Go back to navigation', @navigationUrl, {:class => 'backToNavigation', :style => 'position:relative'}%>

<center><h1>Product Comparison</h1></center>			
<table id="comparisonTable" height="100%" width="100%" border="1" cellspacing="0" cellpadding="5">
	<tr id= "firstRow" class="nodrag nodrop">
		<td> 
			<div class="first">								
				<h2>Product Features</h2>
				<div id="preferenceBarVertical">
					<% form_tag("/search/preferenceVertical/#{@c.to_s}",{:id => 'preferenceVertical_form'}) do %>
					        <!-- Preference partial to draw the preference controls -->
					<table boder=0 height=100% width=100%>          
					        <tr>
					                <%= render :partial => 'preferenceVertical' %>                                          
					        </tr>
					</table>
					<% end %>
			</div>
		</td>
		<% for i in 0..@products.count-1%>
			<%= render :partial => 'thumbnails', :object => @products[i], :locals => {:navBack => :back, :i => i} %>			<!-- ToDo: OldBack needs to be used to retain history after Deleting column-->		
		<% end %>
	</tr>
	<!-- The following row is only for testing purposes -->
	<tr class="lowlightfeature">
		<td> 
			Features		
		</td>
		<% for i in 0..@products.count-1%>
			<td>
				<%= @search.clusters[i].description(@session) %>
			</td>
		<% end %>
	</tr>
	<% @preferredDisplayFeatures.each do |column| %>	<!-- @preferredDisplayFeatures array is created from DisplayedFeatures array, by the ReorderFeatures() -->
		<% if @interestingFeatureDisplayed[column[0]] == true %>
			<% if sameFeatureValue(column[0]) == true %>
				<!-- Assign IDs to rows. These IDs are returned by the serialize() function in javascript and is used to record user's preferences-->
				<tr class="lowlightfeature" id='<%= column[0] %>' > 
			<% else %>
				<tr class="regularfeature" id='<%= column[0] %>' > 
			<% end %>
				<!-- To display the name of the feature -->
				<%= render :partial => 'features', :locals => {:column=>column[0]} %>
				<!-- To display the value of each interesting feature -->
				<%= render :partial => 'product', :collection => @products, :locals => {:column=>column[0]} %>
			</tr>
		<% end %>
	<% end %>
</table>
<%# This moves the border to the bottom %>
<div class="clear"></div>