<% self.title = "Product Comparison" %>
<br>&lt;&lt;&nbsp;<%= link_to 'Go back to navigation', :back, {:style => 'position:relative'}%>
<!-- <%= link_to 'Go back to navigation', :back, {:style => 'position:absolute; top:0;left:0;'}%> -->
<%# Descriptions %>
<!-- <div class="cell"> -->

<!-- To display the names of interesting features that are known for at least one saved product-->
<center><h1>Product Comparison</h1></center>			
<table id="comparisonTable" height="100%" width="100%" border="1" cellspacing="0" cellpadding="5">
	<tr id= "firstRow" class="nodrag nodrop">
		<td> 
			<div class="first">								
				<h2>Product Features</h2>
				<div id="preferenceBarVertical">
					<% form_tag("/search/preferenceVertical/#{@c.to_s}",{:id => 'preferenceVertical_form'}) do %>
						<!-- Preference partial to draw the preference controls -->
					<table boder=0 height=100% width=100%>  	
						<tr>
							<%= render :partial => 'preferenceVertical' %>					  	
						</tr>
					</table>
					<% end %>
				</div>
			</div>
		</td>
		<% for i in 0..@products.count-1%>
			<%= render :partial => 'thumbnails', :object => @products[i], :locals => {:oldBack=>:back} %>			<!-- ToDo: OldBack needs to be used to retain history after Deleting column-->		
		<% end %>
	</tr>
	<!-- The following row is only for testing purposes -->
	<tr>
		<td> 
			Utility		
		</td>
		<% for i in 0..@products.count-1%>
			<td>
				<%= @utility[i] %>
			</td>
		<% end %>
	</tr>
	<% countVar = 0%>
																	<!-- <% #session[:productType].constantize::DisplayedFeatures.each do |column| %>-->
	<% @preferredDisplayFeatures.each do |column| %>	    		<!-- @preferredDisplayFeatures array is created from DisplayedFeatures array, by the ReorderFeatures() -->
		<% if @interestingFeatureDisplayed[countVar] == true %>
			<!-- Assign IDs to rows. These IDs are returned by the serialize() function in javascript and is used to record user's preferences-->
			<tr id = <%= column %> > 
				<!-- To display the name of the feature -->
				<%= render :partial => 'features', :locals => {:column=>column[0]} %>
				<!-- To display the value of each interesting feature -->
				<%= render :partial => 'product', :collection => @products, :locals => {:countVar=>countVar, :column=>column[0]} %>
			</tr>
		<% end %>
		<% countVar = countVar + 1 %>
	<% end %>
</table>

<%= @preferredDisplayFeatures%>

<%# This moves the border to the bottom %>
<div class="clear"></div>