<br>&lt;&lt;&nbsp;<%= link_to 'Go back to navigation', :back, {:style => 'position:relative'}%>
<!-- <%= link_to 'Go back to navigation', :back, {:style => 'position:absolute; top:0;left:0;'}%> -->
<%# Descriptions %>
<!-- <div class="cell"> -->

<!-- To display the names of interesting features that are known for at least one saved product-->
<center><h1>Product Comparison</h1></center>			
<table id="comparisonTable" height="100%" width="100%" border="1" cellspacing="0" cellpadding="5">
	<tr class="nodrag nodrop">
		<td> 
			<div class="first">				
				<br><br>
				<h2>Product Features</h2>
			</div>
		</td>
		<% for i in 0..@products.count-1%>
			<%= render :partial => 'thumbnails', :object => @products[i] %>			
		<% end %>
	</tr>
	<% countVar = 0%>
	<% session[:productType].constantize::DisplayedFeatures.each do |column| %>	    
		<% if @interestingFeatureDisplayed[countVar] == true %>
			<tr> 
				<!-- To display the name of the feature -->
				<%= render :partial => 'features', :locals => {:column=>column} %>
				<!-- To display the value of each interesting feature -->
				<%= render :partial => 'product', :collection => @products, :locals => {:countVar=>countVar, :column=>column} %>
			</tr>
		<% end %>
		<% countVar = countVar + 1 %>
	<% end %>
</table>

<%# This moves the border to the bottom %>
<div class="clear"></div>