<div class="showtable_mobile">
	<h3><%= URI.decode(@product.title) %></h3>
	<div id="image">
		<% if @s.product_type == "flooring_builddirect" %>
			<%= image_tag(@imglurl) %>
		<% elsif @s.product_type == "Laptop" %>
			<%= image_tag(@imglurl) %>
		<% elsif FileTest.exist?(RAILS_ROOT + "/public" + @imglurl) %>
			<%= image_tag(@imglurl) %>
		<% else %>
			<br><br>No Image Available
		<% end %>
	</div>
	<div id="features">
	<ul>
		<% (@s.continuous["show"]+@s.categorical["show"]+@s.binary["show"]).each do |f_name| %>
			<% f = @product[f_name] %>
			<% if !f.nil? %>
				<li>
				 	<span class="detail_label"><%=t 'products.'+ f_name %>: </span><%= (@product.display f_name).split('*').join(" ") %><%=' ' + t('products.'+ f_name+'unit', :default => '')%>
				</li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<div style="clear: left; height:5px;"></div>
	<div class="showtable">
	<% if @s.product_type == "flooring_builddirect" %>
		<h3>Available from <a href="http://www.builddirect.com">Build Direct</a></h3>
	<% elsif @s.product_type == "Laptop" %>
		<h3>Available from <a href="http://www.walmart.com">Walmart</a></h3>
	<% else %>
		<h3>Available At The Following Retailers</h3>
	<% end %>
	<% @offerings.each do |offer| %>
		<% next if !offer.stock || offer.priceint.blank? %>
		<div class="left">	
			<%= link_to "#{offer.pricestr}", offer.url, {:itemId => offer.id , :product => offer.product_id, :class => 'buylink', :target => '_blank', :rel => "nofollow"} %>
		</div>
		<div class="right">
			 <%=  link_to image_tag(offer.retailer.image, :alt => offer.retailer.name, :class => 'buyimg'), offer.url, {:itemId => offer.id , :product => offer.product_id, :class => 'buylink', :target => "_blank", :rel => "nofollow"} %>
		</div>
		<div class="spacer">
		</div>
	<% end %>
	</div>
	<div id="reviews">
		<h3>Reviews</h3>
		<% if @review.nil? %>
			<p>There are no reviews for this item yet.</p>
		<% else %>
			<p display="inline"><b><%= @review.summary %></b> <em>from Amazon</em></p>
			<p class="review"><%= @review.content.length > 680 ? @review.content[0..680]+'...' : @review.content %></p>
		<% end %>
	</div>
	<%= flash[:notice] %>
	<div id="betternotfoundmsg" style="padding-left:10px;padding-top:10px;color:green;visibility:hidden;"> There is no better product available for a better price </div>
</div>
