<% if @plain %>
<div class="poptitle"><%=t 'products.show.title'%></div>
<% else %>
<% self.title = "#{@product.title}" %>
<div class="content">
<a href="/" id="browseother">Browse Other Printers</a>
<% end %>
	<h1><%= @product.small_title %></h1>
	<div id="tab_header">
    <ul data-sku='<%= @product.sku %>'>
    	<li id="tab_selected"><a href="#">Product Info</a></li>
    	<li><a href="#" class="fetch_bestbuy_specs">Specs</a></li>
    	<li><a href="#" class="fetch_bestbuy_reviews">Reviews</a></li>
    </ul>
    </div>
    <div id="tabbed_content">
    	<div id="image">
    		<% if @s.product_type == "flooring_builddirect" || @s.product_type == "Laptop" || @s.product_type == "camera_bestbuy" || FileTest.exist?("#{Rails.root}/public" + @imglurl) %>
    			<%= link_to image_tag(@imglurl), @imglurl, :class => "popup" %>
    		<% else %>
    			<br><br>No Image Available
    		<% end %>
    	</div>
		<% (@s.continuous["show"]+@s.categorical["show"]+@s.binary["show"]).each do |f_name| %>
		    <% next if f_name == "price" %>
			<% f = @allspecs[f_name] %>
			<% if !f.nil? %>
				 	<span class="detail_label"><%=t 'products.'+ f_name %>: </span> <%= "$" if f_name == 'price' %><%= (@product.display(f_name, f)).split('*').each(&:strip).uniq.join(" ") %><%=' ' + t('products.'+ f_name+'unit', :default => '') unless f_name == 'price' %>&nbsp;
			<% end %>
		<% end %>

	    <h5>Webcode, Model #</h5>
	    <h5>Description Goes Here</h5>
    </div>
    
	<div id="features">
	<ul>
	    <h2>Our Price: <%= @allspecs["price"] %><br/>
	    <span style="font-size: 0.65em;">Lowest Price Guarantee<br><br></span></h2>
	</ul>
	</div>
	<div style="clear: left; height:5px;"></div>
	<div class="showtable">

	</div>
	

<% if !@plain %><div style="clear: both;"></div></div><% end %>