<% if @plain %>
<div class="poptitle"><div id="tab_header">
<ul data-sku='<%= @product.sku %>'>
	<li id="tab_selected"><a href="#" class="fetch_bestbuy_info">Product Info</a></li>
	<li><a href="#" class="fetch_bestbuy_specs">Specs</a></li>
	<li><a href="#" class="fetch_bestbuy_reviews">Reviews</a></li>
	<li><a href="#" class="fetch_bestbuy_accessories">Accessories</a></li>
</ul>
</div>
<%= link_to image_tag("closepopup#{fr?}_white.gif"), "close", :class => "close"%>
</div>
<% else %>
<% self.title = "#{@product.title}" %>
<div class="content">
<a href="/" id="browseother">Browse Other Printers</a>
<% end %>
	<h1><%= @product.title %></h1>
	<h5 style="margin: 0"><%= "Webcode: #{@product.sku}, Model: #{@product.mpn}" %></h5>
    <div id="tabbed_content">
    	<div id="galleria" style="width: 500px; height: 300px;">
    		<!-- What follows is a Best Buy-specific hack, put in to get "additional media" out prior to a consultation meeting with them

    	    on whether or not we should invest the time to significantly complicate Firehose -->
    	    <% if @s.product_type == "camera_bestbuy" %>
    	        <% additional_media = ActiveSupport::JSON.decode(@allspecs["additionalMedia"].gsub("=>",":")) %>
    	        <% additional_media.each do |a| %>
    	            <%= image_tag("http://www.bestbuy.ca" + a["large"].gsub("500x500", "300x300"), :size => "300x300", :alt => "")  if a["large"] %>
    	        <% end %>
    		<% elsif @s.product_type == "flooring_builddirect" || @s.product_type == "Laptop" || @s.product_type == "camera_bestbuy" || FileTest.exist?("#{Rails.root}/public" + @allspecs["imglurl"]) %>
    			<%= image_tag(@allspecs["imglurl"], :size => "300x300", :alt => "") %>
    			<%= image_tag(@allspecs["imglurl"], :size => "300x300", :alt => "") %>
    		<% else %>
    			<br><br>No Image Available
    		<% end %>
    	</div>
    	<% save = [] %>
		<% (@s.continuous["show"]+@s.categorical["show"]+@s.binary["show"]).each_with_index do |f_name, i| %>
		    <% next if f_name == "price" %>
			<% f = @allspecs[f_name] %>
			<% if !f.nil? %>
				 	<% save[i] = '<span class="detail_label">' + (t 'products.'+ f_name) + ': </span>' + (f_name == 'price' ? "$" : "" ) + ((@product.display(f_name, f)).split('*').each(&:strip).uniq.join(" ")) + ' ' + (f_name == "price" ? "" : t('products.'+ f_name+'unit', :default => '')) %>
			<% end %>
		<% end %>
		<%= raw save.compact.join(", ") %>

	    <h5><%= raw @allspecs["longDescription"] %></h5>
    </div>
    
	<div id="features">
	<ul>
	    <h2>Our Price: <%= @allspecs["price"] %><br/>
	    <span style="font-size: 0.65em;">Lowest Price Guarantee<br><br></span>
	    <span style="color: #f00">Sale Price: $1.99</span><br/>
	    Sale Ends: 01/01/2012</h2>
	    <div class="buttons"><%= image_tag "bestbuy_addtocart.gif" %></div>
	    <div class="buttons"><%= image_tag "bestbuy_add_wishlist.gif" %></div>
	    <div class="buttons" style="margin-bottom: 8px;"><%= image_tag "bestbuy_add_to_pricewatch.gif" %></div>
	    
	    <div><%= image_tag "best_buy_free_shipping.gif" %>Free shipping on orders over <b>$20</b>.</div>
	    <div><%= image_tag "best_buy_instore_pickup.gif" %>Order online and pick up in-store.</div>
	    <div><%= image_tag "best_buy_rewards_card.gif" %>It's free to get into the rewards program.</div>
	</ul>
	</div>
	
	<div id="compare_field">
	    <% link_to "#", "Compare this product against others" %>
    </div>
	<!-- div style="clear: left; height:5px;"></div>
	<div class="showtable">

	</div-- >

<% if !@plain %><div style="clear: both;"></div></div><% end %>

<script>
// Load the classic theme
Galleria.loadTheme('/javascripts/galleria.classic.js');
// Initialize Galleria
jQuery('#galleria').galleria();
</script>
