<% if @plain %>
<div class="poptitle"><%=t 'products.show.title'%><%= link_to t('products.compare.closewindow'), "close", :class => "close"%>
</div>
<% else %>
<% self.title = "#{@product.title}" %>
<div class="content">
<a href="/" id="browseother">Browse Other Printers</a>
<% end %>
	<h1><%= URI.decode(@product.title) %></h1>
	<div id="image">
		<% if @s.product_type == "flooring_builddirect" || @s.product_type == "Laptop" || FileTest.exist?("#{Rails.root}/public" + @imglurl) %>
			<%= link_to image_tag(@imglurl), @imglurl, :class => "popup" %>
		<% else %>
			<br><br>No Image Available
		<% end %>
	</div>
	<div id="features">
	<ul>
		<% (@s.continuous["show"]+@s.categorical["show"]+@s.binary["show"]).each do |f_name| %>
			<% f = @allspecs[f_name] %>
			<% if !f.nil? %>
				<li>
				 	<span class="detail_label"><%=t 'products.'+ f_name %>: </span> <%= "$" if f_name == 'price' %><%= (@product.display(f_name, f)).split('*').each(&:strip).uniq.join(" ") %><%=' ' + t('products.'+ f_name+'unit', :default => '') unless f_name == 'price' %>
				</li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<div style="clear: left; height:5px;"></div>
	<div class="showtable">
		<h3>Available At The Following Retailers</h3>
	</div>
	<div id="reviews" style="display:inline; position:relative;">
		<h3 style="display:inline">Reviews</h3>
		<% if @review.nil? %>
			<p>There are no reviews for this item yet.</p>
		<% else %>
			<p display="inline"><b><%= @review.summary %></b> <em>from Amazon</em></p>
			<p class="review"><%= @review.content.length > 680 ? @review.content[0..680]+'...' : @review.content %></p>
		<% end %>
	</div>
	<%= flash[:notice] %>
<% if !@plain %><div style="clear: both;"></div></div><% end %>
