<% if @plain %>
<div class="poptitle"><%=t 'products.show.title'%></div>
<% else %>
<% self.title = "#{@product.title}" %>
<div class="content">
<a href="/" id="browseother">Browse Other Printers</a>
<% end %>
	<h1><%= URI.decode(@product.title) %></h1>
	<div id="image">

		<% if FileTest.exist?(RAILS_ROOT + "/public" + @imglurl) %>
			<%= link_to image_tag(@imglurl, :width => @product.imagelw, :height => @product.imagelh), @imglurl, :popup => true %>
		<% else %>
			<br><br>No Image Available
		<% end %>
	</div>
	<div id="features">
	<ul>
		<% $model::ShowFeatures.each_index do |i| %>
			<% f_name = $model::ShowFeatures[i] %>
			<% f = @product.send(f_name) %>
			<% if !f.nil? %>
				<li>
					<% if false && @plain && (request.referer.nil? || request.referer.index("compare").nil?) %> <!-- that is, if popup was not called from main navigation page, then show "better" links -->
					<div class="betterlinkdiv">
						<%= link_to "better", "javascript:findBetter('#{@product.id}', '#{f_name}')", :"data-id" => f_name, :class => 'betterlink' %>
					</div>
					<% end %>
				 	<span class="detail_label"><%=t 'products.'+ $model::ShowFeatures[i] %>: </span><%= @product.display f_name %>
				</li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<div style="clear: left"></div>
	<div class="showtable">
		<h3>Available At The Following Retailers</h3>
	<% @offerings.each do |offer| %>
		<% next if !offer.stock || offer.priceint.blank? %>
		<div class="left">	
			<%= link_to "#{offer.pricestr}", offer.url, {:itemId => offer.id , :product => offer.product_id, :class => 'buylink', :target => '_blank', :rel => "nofollow"} %>
		</div>
		<div class="right">
			 <%=  link_to image_tag(offer.retailer.image, :alt => offer.retailer.name, :class => 'buyimg'), offer.url, {:itemId => offer.id , :product => offer.product_id, :class => 'buylink', :target => "_blank", :rel => "nofollow"} %>
		</div>
		<div class="spacer">
		</div>
	<% end %>
	</div>
	<% unless @cartridges.empty? %>
	<div class="accessories">
		<h3>Toner Cartridges</h3>
		<% @cartridges.each_index do |c_i| %>
		<% c = @cartridges[c_i] %>
		<% p = @cartridgeprices[c_i] %>
		<%# Not showing images until they are downloaded %>
		<% if false %><div style="float: left;"><%= image_tag c.imageurl, :width => "50px" %></div><% end %>
		<div class="cartridgeinfo">
		<%= [c.brand,c.model].join(' ') %><br>
		<span class="cartridgespecifics">(Yield: <%= c.yield %> pgs, Shelf Life: <%= c.shelflife %> months, Color: <%= c.color %>)</span>
		<div style="clear:both;"></div>
		<div class="left" style="width:112px">	
			<%= link_to p.pricestr, p.url, :popup => true, :rel => 'nofollow' %>
		</div>
		<div class="right" style="width:154px;">
			 <%=  link_to image_tag(p.retailer.image, :alt => p.retailer.name), p.url, :popup => true, :rel => 'nofollow' %>
		</div>
		<div class="spacer" style="clear:right;"></div>
		</div>
		<% end %>
	</div>
	<% end %>
	<div id="reviews" style="display:inline; position:relative;">
		<h3 style="display:inline">Reviews</h3>
		<% if @review.nil? %>
			<p>There are no reviews for this item yet.</p>
		<% else %>
			<p display="inline"><b><%= @review.summary %></b> <em>from Amazon</em></p>
			<p class="review"><%= @review.content.length > 680 ? @review.content[0..680]+'...' : @review.content %></p>
		<% end %>
	</div>
	<%= flash[:notice] %>
	<div id="betternotfoundmsg" style="padding-left:10px;padding-top:10px;color:green;visibility:hidden;"> There is no better product available for a better price </div>

<% if !@plain %><div style="clear: both;"></div></div><% end %>

<!-- End Piwik Tag -->	