<% if @plain %>
<div class="poptitle"><div id="tab_header">
<ul data-sku='<%= @product.sku %>'><%# These are used in the application javascript "show" and "compare" pages' logic. %>
	<li id="tab_selected"><a href="#" class="fetch_bestbuy_info">Product Info</a></li>
	<li><a href="#" class="fetch_bestbuy_specs">Specs</a></li>
	<li><a href="#" class="fetch_bestbuy_reviews">Reviews</a></li>
</ul>
</div>
<%= link_to "Close Window", "close", :class => "bb_quickview_close"%>
</div>
<% else %>
<% self.title = "#{@product.title}" %>
<div class="content">
<a href="/" id="browseother">Browse Other Printers</a>
<% end %>
	<h1><%= @product.title %></h1>

	<h5 style="margin: 0"><%= "Webcode: #{@product.sku}, Model: #{@product.mpn}" %></h5>
    <div id="tabbed_content">
    	<div id="galleria" style="width: 500px; height: 300px;">
    		<!-- What follows is a Best Buy-specific hack, put in to get "additional media" out prior to a consultation meeting with them

    	    on whether or not we should invest the time to significantly complicate Firehose -->
    	    <% if @s.product_type == "camera_bestbuy" %>
				
    	        <% additional_media = ActiveSupport::JSON.decode(@allspecs["additionalMedia"].gsub("=>",":")) %>
    	        <% additional_media.each do |a| %>
    	            <%= image_tag("http://www.bestbuy.ca" + a["url"].gsub("500x500", "300x300"), :size => "300x300", :alt => "")  if a["url"] %>
    	        <% end %>

    		<% elsif FileTest.exist?("#{Rails.root}/public" + @allspecs["imglurl"]) %>
    			<%= image_tag(@allspecs["imglurl"], :size => "300x300", :alt => "") %>
    		<% else %>
    			<br><br>No Image Available
    		<% end %>
    	</div>

	 <% if @s.product_type == "camera_bestbuy" && !(@siblings.blank?) %>
		<div style="display:none;" id="bestbuy_sibling_images"><span style="line-height:47px; float:left">Other Colors: &nbsp;</span>
			<% @siblings.sort{|p| p.sibling_id}.each do |sib_id_and_imgsurl| %>  
    			<% unless sib_id_and_imgsurl.sibling_id == @product.id %>
    			    <% sib_product = Product.cached(sib_id_and_imgsurl.sibling_id)%> 
    			    <%= link_to product_path(:name => sib_product.descurl, :id => sib_product.id), :'data-id' => sib_product.id, :class => "easylink", :title => "Click for product specifications" do %>
    				    <%= image_tag(sib_id_and_imgsurl.value, {:width => "40px", :height => "40px"}) %>
				    <% end %>
    			<% else %>
    			   <%= image_tag(@allspecs["imgsurl"])%>
    			<% end %>
			<% end %>
		</div>
	 <%end%>	
		
    	<% save = [] %>
		<% (@s.continuous["show"]+@s.categorical["show"]+@s.binary["show"]).each_with_index do |f_name, i| %>
		    <% next if f_name == "price" %>
			<% f = @allspecs[f_name] %>
			<% if !f.nil? %>
				 	<% save[i] = '<span class="detail_label">' + (t 'products.'+ f_name) + ': </span>' + (f_name == 'price' ? "$" : "" ) + ((@product.display(f_name, f)).split('*').each(&:strip).uniq.join(" ")) + ' ' + (f_name == "price" ? "" : t('products.'+ f_name+'unit', :default => '')) %>
			<% end %>
		<% end %>
		<%# raw save.compact.join(", ") %>

	    <div style="font-size: 1em; margin-bottom:10px;"><%= raw @allspecs["shortDescription"] %></div>
    </div>
    <div id="other_tabbed_content"></div>
	<div id="features">
	<ul>
		<div style="float:left; margin-top:20px;">
    	    <div class="bbfeatures"><%= image_tag "best_buy_free_shipping.gif" %>Free shipping on orders over <b>$20</b>.</div>
    	    <div class="bbfeatures"><%= image_tag "best_buy_instore_pickup.gif" %>Order online and pick up in-store.</div>
    	    <div class="bbfeatures"><%= image_tag "best_buy_rewards_card.gif" %>It's free to get into the rewards program.</div>
        </div>
        <div style="float:right;">
    		<% if @allspecs["onsale"] %>
    		<div style="font-size: 1.2em; height: 20px;"><span class="left">Our Price:</span><span class="right"><%= @allspecs["price"] %></span></div>
    	    <div style="color: #f00; font-size: 1.5em; font-weight: bold;height: 20px;"><span class="left">Sale Price:</span><span class="right"><%= @allspecs["saleprice"] %></span></div>
    	    <div style = "clear: both;font-weight: bold;height: 18px;"><span class="left">Sale Ends:</span><span class="right"><%# @allspecs["saleEndDate"][/^(\w|\/)+/] %></span></div>
    		<% else %>
    		<div style="font-size: 1.5em; height: 20px;"><span class="left">Our Price:</span><span class="right"><%= @allspecs["price"] %></span></div>
    		<% end %>
    		<div class="left" style="height: 18px;"><a href="http://www.bestbuy.ca/en-CA/help/what-is-your-lowest-price-guarantee/hc1001.aspx?path=27eeec1b59d42df5dfc298ab6993d9dfen15&HelpTitleId=HC1001" class="popup-link">Lowest Price Guarantee</a></div>
    		<div class="spacer" style="border-bottom: 1px solid #ccc; clear: both; margin-bottom: 15px;"></div>

    	    <div class="buttons"><%= link_to image_tag("bestbuy_addtocart.gif"), "http://www.bestbuy.ca/order/addtocart.ashx?accessories=#{@product.sku}" %></div>
    	    <div class="buttons"><%= link_to image_tag("bestbuy_compare.gif"), "#", {:id => 'add_compare', :'data-id' => @product.id, :'data-name' => @product.small_title} %></div>
        </div>
	</ul>
	</div>
	
	<div class="spacer">&nbsp;</div>
	<!-- div style="clear: left; height:5px;"></div>
	<div class="showtable">

	</div-- >

<% if !@plain %><div style="clear: both;"></div></div><% end %>

<script>

</script>
