<div class='label'>Brand</div>
<%= select('myfilter', 'brand', ["All Brands"]+@dbprops.brands.split('*')) %>

<%= render :partial => 'sliderhtml', :locals => {:name => 'Megapixels', :val => 'maximumresolution', :money_formatting => false} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Display Size', :val => 'displaysize', :money_formatting => false} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Optical Zoom', :val => 'opticalzoom', :money_formatting => false} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Price', :val => 'price', :money_formatting => true} %>

<script type="text/javascript" language="javascript">
		// <![CDATA[

			// horizontal slider control
			<%= render :partial => 'sliderjs', :locals => {:val => 'maximumresolution', :min => @dbprops.maximumresolution_min, :max => @dbprops.maximumresolution_max, :money_formatting => false} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'displaysize', :min => @dbprops.displaysize_min, :max => @dbprops.displaysize_max, :money_formatting => false} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'opticalzoom', :min => @dbprops.opticalzoom_min, :max => @dbprops.opticalzoom_max, :money_formatting => false} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'price', :min => @dbprops.price_min/100, :max => @dbprops.price_max/100, :money_formatting => true} %>
			
			var disp = function(v, disp, filter_min, filter_max) {
			$(filter_min).value = Math.round(v[0]*10)/10;
			$(filter_max).value = Math.round(v[1]*10)/10;
			$(disp).innerHTML = $(filter_min).value+"-"+$(filter_max).value;
			};
			
			var disp_money = function(v, disp, filter_min, filter_max) {
			$(filter_min).value = Math.round(v[0]);
			$(filter_max).value = Math.round(v[1]);
			$(disp).innerHTML = "$"+$(filter_min).value+"-$"+$(filter_max).value;
			};
			

		// ]]>
</script>