<div class='label'>Brand</div>
<%= select('myfilter', 'brand', @allcameras.map{|u| u.brand}.compact!.uniq!) %>

<%= render :partial => 'sliderhtml', :locals => {:name => 'Megapixels', :val => 'maximumresolution'} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Display Size', :val => 'displaysize'} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Optical Zoom', :val => 'opticalzoom'} %>
<%= render :partial => 'sliderhtml', :locals => {:name => 'Price', :val => 'price'} %>

<script type="text/javascript" language="javascript">
		// <![CDATA[

			// horizontal slider control
			<%= render :partial => 'sliderjs', :locals => {:val => 'maximumresolution', :min => 0, :max => 10} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'displaysize', :min => 0, :max => 10} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'opticalzoom', :min => 0, :max => 10} %>
			<%= render :partial => 'sliderjs', :locals => {:val => 'price', :min => 0, :max => 5000} %>
			
			var disp = function(v, disp, filter_min, filter_max) {
			$(filter_min).value = Math.round(v[0]*10)/10;
			$(filter_max).value = Math.round(v[1]*10)/10;
			$(disp).innerHTML = $(filter_min).value+"-"+$(filter_max).value;
			};

		// ]]>
</script>