<div class="navigator_box" style="left: <%= (i%3)*247 %>px;">
<div id="box<%=i%>" class="borderbox">
	
	    <% if !@cameras[i].imagemwidth.blank? %>
	    <div class='save'>
			<%= link_to "Save it", "javascript:saveit(#{@cameras[i].id})" %>
		</div>
		<%= image_tag @cameras[i].imagemurl, :width => @cameras[i].imagemw, :height => @cameras[i].imagemh, :onClick => "fadeout(#{@cameras[i].id});", :style => "cursor: pointer;" %> 	
		<div class='rightbar' style='display: none;'>
			MP:<%= @cameras[i].maximumresolution %><br>
			DS:<%= @cameras[i].displaysize %><br>
			OZ:<%= @cameras[i].opticalzoom %><br>
		</div>
	<%end%>
	<a href="/cameras/<%=@cameras[i].id%>" onClick="fadeout(<%=@cameras[i].id%>);return false;">
	<p class="easylink"><%= @cameras[i].smlTitle %></p>
	<p style="font-size: 0.9em">
		<%= description(i) %>
	</p>
	<p><%= @cameras[i].pricestr %>  
		<%# Randomized Product Reviews %>
		<%= rand > 0.5 ? (rand > 0.5 ? image_tag('5star.gif') : image_tag('3star.gif')) : image_tag('4star.gif') %>
	</p>
	</a>
	<div class="bottombar">
		<div class='sim'>
		    <%= sim_link(i) %>
		<%# link_to "See more (#{(rand*20).round+1})", {:id => @cameras[i], :action => 'sim', :controller => 'search', :pos => i}, :class => 'sim' %>
		</div><!--
		<div class="clusterfeatures">
		<% if !@desc[i].nil? %>
		<% @desc[i].each do |item| %>
		    <% next if item[1] == 0 || item[0] == 'cluster_count' %>
			<%# link_to "#{item[0]}#{item[1]>0 ? image_tag('up.gif') : image_tag('down.gif')}", {:action => "#{item[0]}"}, {:class => "#{item[1]>0 ? 'up' : 'down'}"}%>
		<% end %>
		<% end %>
		</div>-->
	</div>
</div>
</div>