<div class='disp' id='<%= val %>disp'>
	<% if money_formatting %>
	$<%= @search.send("#{val}_min".intern).to_i %>-$<%= @search.send("#{val}_max".intern).to_i %>
	<% else %>
	<%= @search.send("#{val}_min".intern) %>-<%= @search.send("#{val}_max".intern) %>
	<% end %>
</div>
<div class='label'>
	<%= name %>
</div>