<div class='feature'>
<div class='disp' id='<%= val %>disp'>
	<% if money_formatting %>
	$<%= @search.send("#{val}_min".intern).to_i %>-$<%= @search.send("#{val}_max".intern).to_i %>
	<% else %>
	<%= @search.send("#{val}_min".intern) %>-<%= @search.send("#{val}_max".intern) %>
	<% end %>
</div>
<div class='label'>
	<%= name %>
</div>
<div id="<%= val %>hist" class="hist"></div>
<%= hidden_field_tag "myfilter[#{val}_min]", @search.send("#{val}_min".intern)%>
<%= hidden_field_tag "myfilter[#{val}_max]", @search.send("#{val}_max".intern)%>
<div class = 'slider' id='<%= val %>slider'>
	<div class='handle' id='<%= val %>handle_min'><%= image_tag 'diamond.gif' %></div>
	<div class='handle' id='<%= val %>handle_max'><%= image_tag 'diamond.gif' %></div>
</div>
</div>