<div id="savebar">
	<h2>Saved Items</h2>
	<div id="savebar_content">
	<% if @picked_cameras.empty? %>
	  <p id="deleteme">Save some cameras to add them to this list</p>
	<% else %>
	  <%= render :partial => 'camera', :collection => @picked_cameras %>
	<% end %>
	</div>
	<%= link_to 'Compare them!', :controller => 'compare' %>
</div>
<div id="filterbar">
	<h2>Navigation Filters</h2>
	<% form_tag ({:controller => 'search', :action => 'filter' }) do %>
	  <%= render :partial => 'filter' %>
	  <%= submit_tag 'Filter' %>
	<% end %>
	
</div>
<div class="tablediv">
	<% for i in 0..8 %>
	<%= i%3 == 0 ? '<div class="rowdiv">' : '' %>
	<div class="navigator_box">
	<div id="box<%=i%>" class="borderbox">
		
		    <% if !@cameras[i].imagemwidth.blank? %>
		    <div class='save'>
				<%= link_to "Save it", "javascript:saveit(#{@cameras[i].id})" %>
			</div>
			<%= image_tag @cameras[i].imagemurl, :width => @cameras[i].imagemw, :height => @cameras[i].imagemh, :onClick => "fadeout(#{@cameras[i].id});" %> 
			<div class='sim'>
			    <%= link_to "See similar", {:id => @cameras[i], :action => 'sim', :pos => i}, :class => 'sim' %>
			</div>
		<%end%>
		<div onClick="fadeout(<%=@cameras[i].id%>);">
		<p><%= @cameras[i].title %></p>
		<p><% if !@cameras[i].salepriceint.blank? %>
			<span style="color: red;"><%= @cameras[i].salepricestr %></span> <span style="text-decoration: line-through;"><%= @cameras[i].listpricestr %></span>
			<% else %>
			<%= @cameras[i].listpricestr %>
			<% end %>
		</p>
		</div>
	</div>
	</div>
	<%= i%3 == 2 ? '</div>' : '' %>
	<% end %>
</div>

	

