<div id="savebar">
	<h2>Saved Items</h2>
	<div id="savebar_content">
	<% if @picked_cameras.empty? %>
	  <p id="deleteme">Save some cameras to add them to this list</p>
	<% else %>
	  <%= render :partial => 'camera', :collection => @picked_cameras %>
	<% end %>
	</div>
	<%= link_to 'Compare them!', :controller => 'compare' %>
</div>
<div id="filterbar">
	<h2>Filters</h2>
	<% form_tag ({:controller => 'search', :action => 'filter' }) do %>
	  <%= render :partial => 'filter' %>
	  <%= submit_tag 'Filter' %>
	<% end %>
	
</div>
<div class="main">
	<% for i in 0..@cameras.length-1 %>
	<%= i%3 == 0 ? '<div class="rowdiv">' : '' %>
	<%= render :partial => 'navbox', :locals => {:i => i} %>
	<%= i%3 == 2 ? '</div>' : '' %>
	<% end %>
	<div class="easynav" style="display:none;">
	  <div class="buttons"><%= link_to 'Higher Resolution' %><%= link_to 'Lower Price' %><%= link_to 'Bigger Display Size' %><%= link_to 'Farther Zoom' %></div>
	  <div class="cont">
		<%= link_to 'Show More Cameras' %>
	  </div>
	</div>
</div>


	

