<div class="tablediv">
	<% for i in 0..8 %>
	<%= i%3 == 0 ? '<div class="rowdiv">' : '' %>
	<div class="navigator_box">
	<div id="box<%=i%>" class="borderbox" onClick="fadeout(<%=@cameras[i].id%>);">
		<div>
			<%= link_to 'Save it', {:id => @cameras[i], :action => 'save'}, :class => 'save' %>
			<%= link_to 'See similar', {:id => @cameras[i], :action => 'sim'}, :class => 'sim' %>
		</div>
		<% if !@cameras[i].imagemwidth.blank? %>
			<%= image_tag @cameras[i].imagemurl, :width => @cameras[i].imagewidth, :height => @cameras[i].imageheight %> 
		<%end%>
		<p><%= @cameras[i].title %></p>
		<p><% if !@cameras[i].salepriceint.blank? %>
			<span style="color: red;"><%= @cameras[i].salepricestr %></span> <span style="text-decoration: line-through;"><%= @cameras[i].listpricestr %></span>
			<% else %>
			<%= @cameras[i].listpricestr %>
			<% end %>
		</p>
	</div>
	</div>
	<%= i%3 == 2 ? '</div>' : '' %>
	<% end %>
</div>

	

