<div id="close" onClick="fadein();">Close</div>
<%= link_to image_tag('close.png', :width => '25', :height => '25'  ), "javascript:fadein();", :id => 'newclose' %>
<div id="container">
	<p style="margin-right: 20px"><%=h @camera.title %></p>
	<div align="center"><%= link_to image_tag(@camera.imagelurl, :width => @camera.imagelw, :height => @camera.imagelh), @camera.imagelurl, :popup => true %></div>
	<ul>
		<li><span class"label">Megapixels: </span><%= @camera.maximumresolution %></li>
		<li><span class"label">Optical Zoom: </span><%= @camera.opticalzoom %> X</li>
		<li><span class"label">Display Size: </span><%= @camera.displaysize %> in.</li>
	</ul>
	<div class="showtable">
	<div class="showcell">
	<% if !@camera.salepriceint.blank? %>
		<span class"label">List Price: </span><span style="text-decoration: line-through;"><%= @camera.listpricestr %></span><br>
		<span class"label">Sale Price: </span><span style="color: red;"><%= @camera.salepricestr %></span>
	<% else %>
		<span class"label">Price: </span><%= @camera.listpricestr %>
	<% end %>
	</div>
	<div class="showcell">
		<%= link_to 'Go to Seller', 'http://amazon.com/o/ASIN/'+@camera.asin, :popup => true %> <iframe src="http://rcm.amazon.com/e/cm?t=optemo-20&o=1&p=41&l=ur1&category=home&banner=0PXNA3R0DT5CZVZA7J02&f=ifr" width="88" height="31" scrolling="no" border="0" marginwidth="0" style="border:none; vertical-align:middle" frameborder="0"></iframe>
	</div>
	</div>
	<%= flash[:notice] %>
<div>
