	<span style="color:red;" id="error"><%= flash[:error] unless flash[:error].nil? %></span>
	<% if flash[:notice] %>
	<span class="notice"><%= flash[:notice] %></span>
	<% end %>
	<div id="navigator_bar" class="rounded_nav rounded">
		<div class="tl"></div><div class="tr"></div>
		<div style="float: left;">
			<%= link_to "< "+t('products.compare.back'), "/#{$model.urlname}/back", :class => "ajaxlink blacklink" , :id => 'backlink' %>
		</div>
	    <%= navtitle %>
		<%= link_to t('products.compare.all')+" >", "/#{$model.urlname}/", :class => "ajaxlink smalllink" , :id => 'allcamslink' %>
		<div class="bl"></div><div class="br"></div>
	</div>
	
	
	<% for i in 0..@s.cluster_count-1 %>
	  <% if i%3 == 0 %>
		<div class="rowdiv">
		<% open = true %>
	  <% end %>
	  <!-- Navbox partial to draw boxes -->
	  <%= render :partial => 'navbox', :locals => {:i => i, :cluster => @s.clusters[i] , :group => @s.clusters[i].size(@session,@s)>1} %>
	  <% if i%3 == 2 %>
		</div>
		<% open = false %>
	  <% end %>
	<% end %>
	<%= '</div>' if open %>
	<div style="clear:both;"></div>
	<% if condition_for_survey(@session) %>
		<div class="showsurveyoption"> </div>
	<% end %>