<div class="outertitle"><div class="columntitle">
</div></div>
<!--<div class="cell whitebg" style="height: 42px;">
	<% num = numberOfStars(3/3) %>
	<% for j in 0..num-1 %>
		<%= image_tag("fullstar.gif", :width => 14, :height => 14, :onClick => "") %>
	<% end %>
	<% if num%1 != 0 %>
		<%= image_tag("halfstar.gif", :width => 14, :height => 14, :onClick => "") %>
	<% end %>
	<div style="margin-top: 3px"> 3 (6 ratings) </div>
</div>-->

<% featurelist.each_index do |column| %>
	<% if numberofproducts > 1 && (@bestvalue[featurelist[column]] != nil && (@bestvalue[featurelist[column]] == product.id || IsPresentAndUniqueInCSV(product.id, @bestvalue[featurelist[column]]))) %>
	<div class="cell greenbg">
		<!-- If the interesting feature should be displayed then display -->
		<b><%= finalDisplay(product, featurelist[column]) %></b>		
	<% else %>
	<div class="cell <%= column%2==0 ? "graybg" : "whitebg" %>">
		<%= finalDisplay(product, featurelist[column]) %>
	<% end %>
	</div>	
<% end %>
