<div class='label' style="margin-top: 0;">Brands</div>
<% if @session.features.brand != "All Brands" %>
	<% @session.features.brand.split('*').each do |b| %>
	<div><%= link_to image_tag('close.png', :width => '13'), "javascript:removeBrand('#{b}');", {:title => "Remove Brand Filter"} %> <%= b %></div>
	<% end %>
	<% selectmsg = "Add Another Brand" %>
<% end %>
<%# debugger %>
<%= select('myfilter', 'brand', [selectmsg.nil? ? "All Brands" : selectmsg] +@dbfeat['brand'].categories.split('*'), options={}, {:onchange => "$('#filter_form').submit()"}) %>
<%= hidden_field_tag "myfilter[Xbrand]"%>

<% $model::ContinuousFeatures.each_index do |i| %>
	<% feat = $model::ContinuousFeatures[i] %>
	<% if feat == 'price' %>
		<%= render :partial => 'slider', 
			:locals => {:name => 'Price', 
			:val => 'price', 
			:money_formatting => true, 
			:ses_name => 'price', 
			:min => @dbfeat['price'].min/100, 
			:max =>(@dbfeat['price'].max.to_f/100).ceil} %>
	<% else %>
		<%= render :partial => 'slider', 
			:locals => {:name => $model::ContinuousFeaturesDisp[i], 
			:val => feat, 
			:money_formatting => false, 
			:ses_name => "f#{i}", 
			:min => @dbfeat[feat].min, 
			:max => @dbfeat[feat].max} %>
	<% end %>
<% end %>
<% $model::BinaryFeatures.each_index do |i| %>
	<% feat = $model::BinaryFeatures[i] %>
	<div class='label' style="margin-top: 0;"><%= check_box('myfilter', feat, {:onchange => "$('#filter_form').submit()", :checked => @session.features.send(feat.intern) ? 'checked' : false})%><%= feat.capitalize %></div>
<% end %>
