<div class='label' style="margin-top: 0;">Brands</div>
<% if @search && @search.brand != "All Brands" %>
	<% @search.brand.split('*').each do |b| %>
	<div><%= link_to image_tag('close.png', :width => '13'), "javascript:removeBrand('#{b}');", {:title => "Remove Brand Filter"} %> <%= b %></div>
	<% end %>
	<% selectmsg = "Add Another Brand" %>
<% end %>
<%= select('myfilter', 'brand', [selectmsg.nil? ? "All Brands" : selectmsg] +@dbprops.brands.split('*'), options={}, {:onchange => "$('#filter_form').submit()"}) %>
<%= hidden_field_tag "myfilter[Xbrand]"%>

<% session[:productType].constantize::MainFeatures.each_index do |i| %>
	<%= render :partial => 'slider', 
		:locals => {:name => session[:productType].constantize::MainFeaturesDisp[i], 
		:val => session[:productType].constantize::MainFeatures[i], 
		:money_formatting => false, 
		:ses_name => "f#{i}", 
		:min => @dbprops.db_features.find_by_name(session[:productType].constantize::MainFeatures[i]).min, 
		:max => @dbprops.db_features.find_by_name(session[:productType].constantize::MainFeatures[i]).max} %>
<% end %>
<%= render :partial => 'slider', 
	:locals => {:name => 'Price', 
	:val => 'price', 
	:money_formatting => true, 
	:ses_name => 'price', 
	:min => @dbprops.price_min/100, 
	:max =>(@dbprops.price_max.to_f/100).ceil} %>