	<% form_tag("",{:id => 'filter_form'}) do %>
<% $model::CategoricalFeaturesF.each do |feat| %>
	<div class='feature<%= " extra" if $model::ExtraFeature[feat] %>' <%= "style='display:none;'" if $model::ExtraFeature[feat] && !@session.expert %>>
		<!--div class='label'>
			<%=t('products.' + feat)%>
		</div-->
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>			
		</div>

		<% unless (@session.features.brand.nil? || @session.features.brand.empty?) %>
			<% @session.features.brand.split('*').each do |b| %>
				<div class='selected_brands'><%= link_to image_tag('close.png', :width => '13'), "", {:title => t('products.compare.rembrandfilter'), :class => "removeBrand", :"data-id" => b} %> <%= b %>
				</div>
			<% end %>
			<%= select('myfilter', feat+"1", [t('products.compare.addbrand')] +catsforfeature(@session,feat), options={}, {:id => "selector"})%>
		<% else %>
			<%= select('myfilter', feat+"1", [t('products.compare.allbrands')] + $dbfeat[feat].categories.split('*'), options={}, {:id => "selector"})%>
		<% end %>
			
		<%= hidden_field_tag "myfilter[#{feat}]", @session.features.brand%>
	</div>
<% end %>
<% $model::ContinuousFeaturesF.each do |feat| %>
	<%= render :partial => 'slider', 
		:locals => {:name => t('products.' + feat), 
		:i2f => $model::ItoF.include?(feat),
		:val => feat, 
		:extra => $model::ExtraFeature[feat],
		:money_formatting => feat == 'price',
		:min => $dbfeat[feat].min, 
		:max => $dbfeat[feat].max} %>
<% end %>
<% $model::BinaryFeaturesF.each do |feat| %>
	<div class='feature<%= " extra" if $model::ExtraFeature[feat] %>' <%= "style='display:none;'" if $model::ExtraFeature[feat] && !@session.expert %>>
		<div class='label'>
			<%= render :partial => 'desc', :locals => {:feat => feat} %>
			<%= check_box('myfilter', feat, {:checked => @session.features.send(feat.intern) ? 'checked' : false, :class => 'autosubmitbool'})%>
			<%= link_to t('products.' + feat).tr(' ',''), "#" %>
		</div>
	</div>
<% end %>
<% if $model::ExtraFeature.values.inject(false){|a,b|a||b} %>
<div class='changefilters'>
	<% if @session.expert %>
	    <%= link_to t('products.compare.morefilters'), "#", :id => "morefilters", :style => "display: none;" %>
	    <%= link_to t('products.compare.lessfilters'), "#", :id => "lessfilters" %>
	<% else %>
	    <%= link_to "More Filters", "#", :id => "morefilters" %>
	    <%= link_to "Less Filters", "#", :id => "lessfilters", :style => "display: none;" %>
	<% end %>
</div>
<% end %>
<% end %>