<div class='label' style="margin-top: 0;">Brands</div>
<% if @session.brand != "All Brands" %>
	<% @session.brand.split('*').each do |b| %>
	<div><%= link_to image_tag('close.png', :width => '13'), "javascript:removeBrand('#{b}');", {:title => "Remove Brand Filter"} %> <%= b %></div>
	<% end %>
	<% selectmsg = "Add Another Brand" %>
<% end %>
<%= select('myfilter', 'brand', [selectmsg.nil? ? "All Brands" : selectmsg] +@dbfeat['brand'].categories.split('*'), options={}, {:onchange => "$('#filter_form').submit()"}) %>
<%= hidden_field_tag "myfilter[Xbrand]"%>

<% session[:productType].constantize::ContinuousFeatures.each_index do |i| %>
	<%= render :partial => 'slider', 
		:locals => {:name => session[:productType].constantize::ContinuousFeaturesDisp[i], 
		:val => session[:productType].constantize::ContinuousFeatures[i], 
		:money_formatting => false, 
		:ses_name => "f#{i}", 
		:min => @dbfeat[session[:productType].constantize::ContinuousFeatures[i]].min, 
		:max => @dbfeat[session[:productType].constantize::ContinuousFeatures[i]].max} %>
<% end %>
<%= render :partial => 'slider', 
	:locals => {:name => 'Price', 
	:val => 'price', 
	:money_formatting => true, 
	:ses_name => 'price', 
	:min => @dbfeat['price'].min/100, 
	:max =>(@dbfeat['price'].max.to_f/100).ceil} %>
<!--><div class='label' style="margin-top: 0;"><%= check_box('myfilter', 'scanner', {:onchange => "$('#filter_form').submit()"})%>Scanner</div>-->
