<div class="navigator_box" style="left: <%= (i%3)*247 %>px;">
<div id="box<%=i%>" class="borderbox">
	<div class='title'><%= @clusterDescs[i] %></div>

	<% if !cluster.representative(@session).imagemwidth.blank? %>
		<%= image_tag cluster.representative(@session).imagemurl, :height => 100, :onClick => "fadeout(#{cluster.representative(@session).id});", :class => "productimg", :alt => cluster.representative(@session).smlTitle %>
	<%end%>

	<p><a href="<%=cluster.representative(@session).descurl%>" onClick="fadeout(<%=cluster.representative(@session).id%>);return false;">
		<span class="easylink"><%= cluster.representative(@session).smlTitle %></span>
	</a></p>
	
	<p><%= $region == "us" ? cluster.representative(@session).pricestr : cluster.representative(@session).price_ca_str %>  
		<%= link_to "&nbsp;Save it&nbsp;", "javascript:saveit(#{cluster.representative(@session).id})", {:class => 'save', :itemId => "#{cluster.representative(@session).id}" } %>
		<%# Randomized Product Reviews %>
		<%# rand > 0.5 ? (rand > 0.5 ? image_tag('5star.gif') : image_tag('3star.gif')) : image_tag('4star.gif') %>
	</p>
	<% if false && RAILS_ENV == 'development' && cluster.clustergraph && cluster.clustergraph[i] %>
	<div class="clustergraph">
		<% cluster.clustergraph[i].each do |u| %>
		<% if u.length == 2 %>
		<div class="featurebar" data-left="<%= u[0] %>" data-width="<%= u[1] %>"></div>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<!--<div class="clustergraph">
		<%# cluster.utility(@session) %>
	</div>-->
	<div class="bottombar" name ="<%= cluster.representative(@session).id %>">
		<%= sim_link(cluster,i, cluster.representative(@session).id) %>
	</div>
	
</div>
</div>