<div id="box<%= i %>" class="navigator_box <%= group ? "nbgroup" : "nbsingle" %>" <%= "style='margin-right:0px'" if i%(Float($NumGroups)/3).ceil == (Float($NumGroups)/3).ceil - 1 %>>
	<div class="topbar">
		<div class='title'>
			<%= groupDesc(group,i) %>
		</div>
		<% unless cluster.representative(@session,@s.searchpids).imagemurl.blank? %>

			<%= image_tag(cluster.representative(@session,@s.searchpids).imagemurl, :width => cluster.representative(@session,@s.searchpids).imagemw, :height => cluster.representative(@session,@s.searchpids).imagemh, :"data-id" => cluster.representative(@session,@s.searchpids).id, :class => "productimg", :alt => cluster.representative(@session,@s.searchpids).smlTitle, :"data-id" => cluster.representative(@session,@s.searchpids).id) %>
		<%end%>
		<div class="product">
			<a href="<%=cluster.representative(@session,@s.searchpids).descurl%>" data-id="<%=cluster.representative(@session,@s.searchpids).id%>" class="easylink">
		<%= cluster.representative(@session,@s.searchpids).smlTitle %></a>
		
		<div class="price">
			<%= $region == "us" ? cluster.representative(@session,@s.searchpids).pricestr : cluster.representative(@session,@s.searchpids).price_ca_str %>
		</div>
		</div>
	</div>

	<div class='bottombar'>
		<% if group %>
    		<div class='sim'>
    	  <%= link_to(image_tag('plus.png')+t("products.compare.similar",:count => cluster.size(@session,@s.searchpids) - 1), 
    	  "/#{$model.urlname}/sim/"+cluster.id.to_s, 
 		  :id => "sim#{i}", :class => 'simlinks', :"data-id" => "#{cluster.representative(@session,@s.searchpids).id}") %>
    		</div>
		<% else %>
			<div class='compare'><%= link_to image_tag("compare#{fr?}.gif"), "javascript:saveProductForComparison(#{cluster.representative(@session,@s.searchpids).id});", {:class => 'save', :itemId => "#{cluster.representative(@session,@s.searchpids).id}" } %>
			</div>
		<% end %>
	</div>
</div>