<div class="navigator_box" style="left: <%= (i%3)*247 %>px;">
<div id="box<%=i%>" class="borderbox">
	<div class='title'><%= (d = @c.desc[i].select{|ii|ii[0]=='descString'}[0][1]).blank? ? "All-Purpose" : d%></div>
	<% if !@c.products[i].imagemwidth.blank? %>
		<%= image_tag @c.products[i].imagemurl, :height => 100, :onClick => "fadeout(#{@c.products[i].id});", :class => "productimg" %> 	<!--:width => @c.products[i].imagemw, :height => @c.products[i].imagemh, -->
	<%end%>

	<p><a href="/products/show/<%=@c.products[i].id%>" onClick="fadeout(<%=@c.products[i].id%>);return false;">
		<span class="easylink"><%= @c.products[i].smlTitle %></span>
	</a></p>
	
	<p style="font-size: 0.9em">
		<% description(i) %>
	</p>
	<p><%= @c.products[i].pricestr %>  <%= link_to "&nbsp;Save it&nbsp;", "javascript:saveit(#{@c.products[i].id})", {:class => 'save'}%>
		<%# Randomized Product Reviews %>
		<%# rand > 0.5 ? (rand > 0.5 ? image_tag('5star.gif') : image_tag('3star.gif')) : image_tag('4star.gif') %>
	</p>
	<% if RAILS_ENV == 'development' && @c.clustergraph && @c.clustergraph[i] %>
	<div class="clustergraph">
		<% @c.clustergraph[i].each do |u| %>
		<% if u.length == 2 %>
		<div class="featurebar" data-left="<%= u[0] %>" data-width="<%= u[1] %>"></div>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<div class="bottombar">
		<%= sim_link(i) %><!--# remove this
		<div class="clusterfeatures">
		<%# if !@c.desc[i].nil? %>
		<%# @c.desc[i].each do |item| %>
		    <%# next if item[1] == 0 || item[0] == 'cluster_count' %>
			<%# link_to "#{item[0]}#{item[1]>0 ? image_tag('up.gif') : image_tag('down.gif')}", {:action => "#{item[0]}"}, {:class => "#{item[1]>0 ? 'up' : 'down'}"}%>
		<%# end %>
		<%# end %>
		</div>-->
	</div>
</div>
</div>