<div class="navigator_box" style="left: <%= (i%3)*247 %>px;">
<div id="box<%=i%>" class="borderbox">
	   <% if !@c.products[i].imagemwidth.blank? %>
		<div class='save'>
			<%= link_to "Save it", "javascript:saveit(#{@c.products[i].id})" %>
		</div>
		<%= image_tag @c.products[i].imagemurl, :width => @c.products[i].imagemw, :height => @c.products[i].imagemh, :onClick => "fadeout(#{@c.products[i].id});", :style => "cursor: pointer;margin-left:-45px" %> 	
	    <%end%>
	<a href="/products/show/<%=@c.products[i].id%>" onClick="fadeout(<%=@c.products[i].id%>);return false;">
	<p class="easylink"><%= @c.products[i].smlTitle %></p>
	<p style="font-size: 0.9em">
		<%= description(i) %>
	</p>
	<p><%= @c.products[i].pricestr %>  
		<%# Randomized Product Reviews %>
		<%# rand > 0.5 ? (rand > 0.5 ? image_tag('5star.gif') : image_tag('3star.gif')) : image_tag('4star.gif') %>
	</p>
	</a>
	<div class="bottombar">
		<%= sim_link(i) %><!--# remove this
		<div class="clusterfeatures">
		<%# if !@c.desc[i].nil? %>
		<%# @c.desc[i].each do |item| %>
		    <%# next if item[1] == 0 || item[0] == 'cluster_count' %>
			<%# link_to "#{item[0]}#{item[1]>0 ? image_tag('up.gif') : image_tag('down.gif')}", {:action => "#{item[0]}"}, {:class => "#{item[1]>0 ? 'up' : 'down'}"}%>
		<%# end %>
		<%# end %>
		</div>-->
	</div>
	<% if @c.clustergraph && @c.clustergraph[i] %>
	<div class="clustergraph">
		<% @c.clustergraph[i].each do |u| %>
		<% if u.length == 2 %>
		<div class="featurebar" data-left="<%= u[0] %>" data-width="<%= u[1] %>"></div>
		<% end %>
		<% end %>
	</div>
	<% end %>
</div>
</div>