<div class='feature'>
<div class='disp'>
	  <%= '$' if money_formatting %><%=(val== 'price' ? @s.ranges(val)[0]/100 : @s.ranges(val)[0]).to_i %>-<%= '$' if money_formatting %><%= (val== 'price' ? @s.ranges(val)[1]/100 : @s.ranges(val)[1]).ceil %> <%= session[:productType].constantize::ContinuousFeaturesLabel[val] %>
</div>
<div class='label space'>
	<%= name %>
</div>
<div class="hist" data-data="<%= @s.distribution(val).join(',') %>"></div>
<% if val == 'price' %>
	<%= hidden_field_tag "myfilter[price_min]", @session.price_min ? @session.price_min/100 : '',{:class => 'min'}%>
	<%= hidden_field_tag "myfilter[price_max]", @session.price_max ? @session.price_max/100 : '',{:class => 'max'}%>
<% else %>
	<%= hidden_field_tag "myfilter[#{val}_min]", @session.send("#{val}_min".intern),{:class => 'min'}%>
	<%= hidden_field_tag "myfilter[#{val}_max]", @session.send("#{val}_max".intern),{:class => 'max'}%>
<% end %>
<div class='slider' 
data-min='<%= dbmin(val)%>'
data-max='<%= dbmax(val)%>'
data-startmin='<%= @session.send("#{val}_min".intern).nil? ? dbmin(val) : (val == 'price') ? @session.send("#{val}_min".intern)/100 : @session.send("#{val}_min".intern) %>'
data-startmax='<%= @session.send("#{val}_max".intern).nil? ? dbmax(val) : (val == 'price') ? @session.send("#{val}_max".intern)/100 : @session.send("#{val}_max".intern)%>'
data-prodmin='<%= val== 'price' ? @s.ranges(val)[0]/100 : @s.ranges(val)[0] %>' 
data-prodmax='<%= val== 'price' ? @s.ranges(val)[1]/100 : @s.ranges(val)[1] %>'
<%= money_formatting ? 'data-formatting="$"' : ""  %>>
</div>
</div>