<% self.title = "#{@allSearches.last.desc unless @allSearches.empty?} #{$model.urlname.capitalize}" %>
<div id="leftbar">
	Browsing <%= @s.result_count %> <%= $model.urlname.capitalize %>
	<% if RAILS_ENV == 'development' %><br/>Session id: <%= session[:user_id] %> <% end %>
	<!-- The Search box -->
	<% form_tag("/search/find",{:id => 'search_form'}) do %>
	  <%= @session.searchterm.blank? ? text_field_tag('search') : text_field_tag('search', @session.searchterm) %>
	  <%= submit_tag 'Search', {:id => 'submit_button'} %>
	  <%= @session.searchterm ? link_to('Clear Search', "/search/delete/", :id => 'clearsearch') : '' %>
	<% end %>
	
	<!-- The Saved Items box -->
	<div id="savebar">
		<h2>Saved Items</h2>
		<div id="savebar_content">
		<div id="already_added_msg" style="display:none">You already added that product!</div>
		<p id="deleteme"
			<% if @picked_products.empty? %> style="display:block" 
			<% else %> style="display:none" <% end %>
			> Save some products to add them to this list</p>
		<% if (@picked_products.empty? == false) %>
		  <%= render :partial => 'product', :collection => @picked_products%>
		<% end %>
		</div>
		<!-- Hide if 0 products, show if 1/more. -->
		<div style = "clear: both;"> <a id="compare_button" 
			<%if @picked_products.empty? %> style="display:none" 
			<% else %> style="display:block" <% end %> 
		 href='/compare'>Compare them!</a></div>
	</div>

<!-- The Filters section -->
<div id="filterbar">
	<h2>Filters</h2>
	<% form_tag("/search/filter",{:id => 'filter_form'}) do %>
		<!-- Filter partial to draw the filter controls -->
	  	<%= render :partial => 'filter' %>
	<% end %>
</div>
<p><%= link_to "Request a Feature", "#", :id => "requestafeature" %></p>
</div>

<div class="main">
	<% if flash[:error] %>
	<span style="color:red;"><%= flash[:error] %></span>
	<% end %>
	<% if flash[:notice] %>
	<span class="notice"><%= flash[:notice] %></span>
	<% end %>
	<div style="text-align: center;"><h1><%= h1title %></h1></div>
	<div class='backlink'>	
	<% unless @allSearches.empty? %>
		<%= link_to "All #{$model.urlname.capitalize}", "/#{$model.urlname}/homepage" %> &lt;&lt;
		<%for l in 0..(@allSearches.size - 1)%>
	 	  <!-- If s>1 then print << -->
          <%if l<@allSearches.size - 1%>
			<%= link_to "#{@allSearches[l].desc}", "/#{$model.urlname}/compare/#{@allSearches[l].to_s}"%>
		  	&lt;&lt;
		
		 <%else%>
			<%= "#{@allSearches[l].desc}"%>
		 <%end%> 
	   <%end %>
	<%end%>	
	</div>
	
	<% for i in 0..@s.cluster_count-1 %>
	  <% if i%3 == 0 %>
		<div class="rowdiv">
		<% open = true %>
	  <% end %>
	  <!-- Navbox partial to draw boxes -->
	  <%= render :partial => 'navbox', :locals => {:i => i, :cluster => @s.clusters[i]} %>
	  <% if i%3 == 2 %>
		</div>
		<% open = false %>
	  <% end %>
	<% end %>
	<%= '</div>' if open %>
	<!--<div class="easynav" style="display:none;">
	  <div class="buttons"><%= link_to 'Higher Resolution' %><%= link_to 'Lower Price' %><%= link_to 'Bigger Display Size' %><%= link_to 'Farther Zoom' %></div>
	  <div class="cont">
		<%= link_to 'Show More products' %>
	  </div>
	</div>-->
	
	<div id="loading">&nbsp;Loading<div id="myspinner" style="float: left;"></div></div>
</div>