<div class="main">
	<h1>Welcome to Laserprinterhub</h1>
	<p>Please choose your intended use for the laser printer to help us find you the right one</p>
	<a href="<%= @link %>" title="Printers for all uses">All-Purpose</a>
	<a href="<%= @link %>" data-name="home_office" class="usecase" title="">Home Office</a><!--smaller width-->
	<a href="<%= @link %>" data-name="corporate" class="usecase" title="">Corporate</a><!--Printserver, larger paper tray, and faster printing(pages per minute)-->
	<a href="<%= @link %>" data-name="small_office" class="usecase" title="">Small Office</a><!--printserver-->
	<a href="<%= @link %>" data-name="photography" class="usecase" title="">Photography</a><!--Higher resolution-->
</div>


	

