<% self.full_title = 'LaserPrinterHub - Find Laser Printers, Compare Prices, then Buy' %>
<div id="leftbar">
	Browsing <%= @s.result_count %> <%= @pt.pluralize.capitalize %>
	<% if RAILS_ENV == 'development' %><br>Session id: <%= session[:user_id] %> <% end %>
	<!-- The Search box -->
	<% form_tag("/search/find/#{@s.to_s}",{:id => 'search_form'}) do %>
	  <%= @session.searchterm.blank? ? text_field_tag('search') : text_field_tag('search', @session.searchterm) %>
	  <%= submit_tag 'Search', {:id => 'submit_button'} %>
	  <%= @session.searchterm ? link_to('Clear Search', "/search/delete/", :id => 'clearsearch') : '' %>
	<% end %>
	
	<!-- The Saved Items box -->
	<div id="savebar">
		<h2>Saved Items</h2>
		<div id="savebar_content">
		<p id="already_added_msg" style="display:none">You already added that product!</p>
		<p id="deleteme"
			<% if @picked_products.empty? %> style="display:block" 
			<% else %> style="display:none" <% end %>
			> Save some products to add them to this list</p>
		<% if (@picked_products.empty? == false) %>
		  <%= render :partial => 'product', :collection => @picked_products%>
		<% end %>
		</div>
		<!-- Hide if 0 products, show if 1/more. -->
		<div style = "clear: both;"> <a id="compare_button" 
			<%if @picked_products.empty? %> style="display:none" 
			<% else %> style="display:block" <% end %> 
		 href='/compare'>Compare them!</a></div>
	</div>

<!-- The Filters section -->
<div id="filterbar">
	<h2>Filters</h2>
	<% form_tag("/search/filter",{:id => 'filter_form'}) do %>
		<!-- Filter partial to draw the filter controls -->
	  	<%= render :partial => 'filter' %>
	  	<br>
	<% end %>
</div>
<div id="preferenceBar">
	<h2>Preferences</h2>
	<% form_tag("/products/preference/",{:id => 'preference_form'}) do %>
		<!-- Preference partial to draw the preference controls -->
	  	<%= render :partial => 'preference' %>
	<% end %>
	<div class="label">
	<%= link_to 'Submit', 'javascript:submitPreferences()' %>
	</div>
</div>
</div>

<div class="main">
	<span style="color:red;"><%= flash[:error] %></span><span class="title"><%= flash[:notice] %></span>
	<div class='backlink'>	
	<% unless @allSearches.empty? %>
		<%(@layer-1).times do |l| %>
	 	  <!-- If s>1 then print << -->
		  <% if l>0 %>
		    <%= link_to "#{$clustermodel.find_by_id(@allSearches[l].parent_id).description(@session)}", "/#{@pt.pluralize.downcase}/list/#{@allSearches[l].to_s}"%>
		  <%else%>
		  	   <%= link_to "All #{@pt.pluralize}", "/#{@pt.pluralize.downcase}/list/#{@allSearches[l].to_s}"%>	
		  <%end%>
		  &lt;&lt;
	   <%end %>
	<% if @layer>1%>
		<%= "#{$clustermodel.find_by_id(@allSearches[-1].parent_id).description(@session)}"%>
	<%end%>
	<%end%>	
	</div>
	
	<% for i in 0..@s.cluster_count-1 %>
	  <% if i%3 == 0 %>
		<div class="rowdiv">
		<% open = true %>
	  <% end %>
	  <!-- Navbox partial to draw boxes -->
	  <%= render :partial => 'navbox', :locals => {:i => i, :cluster => @s.clusters[i]} %>
	  <% if i%3 == 2 %>
		</div>
		<% open = false %>
	  <% end %>
	<% end %>
	<%= '</div>' if open %>
	<!--<div class="easynav" style="display:none;">
	  <div class="buttons"><%= link_to 'Higher Resolution' %><%= link_to 'Lower Price' %><%= link_to 'Bigger Display Size' %><%= link_to 'Farther Zoom' %></div>
	  <div class="cont">
		<%= link_to 'Show More products' %>
	  </div>
	</div>-->
</div>

<% content_for :header do %>
	<% if @product %>
		<div style="float:left">Viewing<br><%= @result_count %> Similar<br>products to:</div>
		<%= render :partial => 'product', :locals => {:nox => true, :product => @product} %>
		<%# @session.msg %>
	<% end %>
<% end %>