<div id="leftbar">
	<%= link_to 'Go Back', 'javascript:history.go(-1)', {:id => 'startover'} %>
	<% form_tag ({:controller => 'search', :action => 'find' }) do %>
	  <%= text_field_tag 'search' %>
	  <%= submit_tag 'Search' %>
	  <% end %>
<div id="savebar">
	<h2>Saved Items</h2>
	<div id="savebar_content">
	<% if @picked_products.empty? %>
	  <p id="deleteme">Save some products to add them to this list</p>
	<% else %>
	  <%= render :partial => 'product', :collection => @picked_products%>
	<% end %>
	</div>
	<div style = "clear: both;"><a href='/compare'>Compare them!</a></div>
</div>
<div id="filterbar">
	<h2>Filters</h2>
	<% form_tag({:controller => 'search', :action => 'filter'},{:id => 'filter_form'}) do %>
	  <%= render :partial => 'filter' %>
	  <br>
	<% end %>
</div>
</div>
<div class="main">
	<span style="color:red;"><%= flash[:error] %></span>
	<% for i in 0..@products.length-1 %>
	  <% if i%3 == 0 %>
		<div class="rowdiv">
		<% open = true %>
	  <% end %>
	  <%= render :partial => 'navbox', :locals => {:i => i} %>
	  <% if i%3 == 2 %>
		</div>
		<% open = false %>
	  <% end %>
	<% end %>
	<%= '</div>' if open %>
	<!--<div class="easynav" style="display:none;">
	  <div class="buttons"><%= link_to 'Higher Resolution' %><%= link_to 'Lower Price' %><%= link_to 'Bigger Display Size' %><%= link_to 'Farther Zoom' %></div>
	  <div class="cont">
		<%= link_to 'Show More products' %>
	  </div>
	</div>-->
</div>

<% content_for :header do %>
	<% if @product %>
		<div style="float:left">Viewing<br><%= @session.result_count %> Similar<br>products to:</div>
		<%= render :partial => 'product', :locals => {:nox => true, :product => @product} %>
		<%# @session.msg %>
	<% end %>
<% end %>


	

