<%= link_to image_tag('close.gif'), "javascript:fadein();", :id => 'close' if @plain%>
<% if !@plain %><div id="outside">
	<% self.title = @product.smlTitle %>
	<span style="float: left;"><%= nav_link %></span>
	<div id="container" style="margin-left: 149px">
<% else %>		
	<div id="container">
	<%= link_to "&nbsp;Save it&nbsp;", "javascript:saveit(#{@product.id})", {:class => 'save'}%>
<% end %>
	<p style="margin: 15px 0px 0px 20px"><%= URI.decode(@product.title) %></p>
	<div id="image">
		<% unless @product.imagelurl.blank? %>
			<%= link_to image_tag(@product.imagelurl, :width => @product.imagelw, :height => @product.imagelh), @product.imagelurl, :popup => true %>
		<% else %>
			<br><br>No Image Available
		<% end %>
	</div>
	<div id="features">
	<ul>
		<% @model::ShowFeatures.each_index do |i| %>
			<% f_name = @model::ShowFeatures[i] %>
			<% f = @product.send(f_name) %>
			<% if !f.nil? %>
				<li><span class="detail_label"><%= @model::ShowFeaturesDisp[i] %>: </span><%= @product.display f_name %></li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<% if !@product.feature.nil? %>
	<div id="textfeatures" style='display: none;'>
		<ul>
		<li><%= @product.feature.gsub("\n",'</li><li>') %></li>
		</ul>
	</div>
	<% end %>
	<div id="reviews">
		<h3>Reviews</h3>
		There are no reviews for this item yet.
		<!--People agree this is a <strong>very good</strong> camera. Reviewers admire the <strong>large display</strong>, <strong>customer service</strong>, and <strong>sharp lens</strong> despite qualms with the video quality and portability. It is recommended if you're comfortable with the video quality and portability. -->
	</div>
	<div class="showtable">
		<h3>Available at the following Retailers</h3>
	<% @offerings.each do |offer| %>
		<% next if !offer.stock || offer.priceint.blank? %>
		<div class="left">	
			<%= link_to "#{offer.pricestr}", {:controller => 'link', :action => 'create', :id => offer.id}, :popup => true %>
		</div>
		<div class="right">
			 <%=  link_to image_tag(offer.retailer.image), {:controller => 'link', :action => 'create', :id => offer.id}, :popup => true %>
		</div>
	<% end %>
	</div>
	<%= flash[:notice] %>
	<div id='full_link'>
	<% if @plain %>
	<%= link_to 'Open as full page', :action => 'show', :id => @product%>
	<% end %>
	</div>
	
</div>
<% if !@plain %></div><% end %>