<%= link_to image_tag('close.gif'), "javascript:fadein();", :id => 'close' if @plain%>
<% if !@plain %><div id="outside">
	<span style="float: left;"><%= nav_link %></span>
	<div id="container" style="margin-left: 149px">
<% else %>		
	<div id="container">
	<div class='save'>
		<%= link_to "Save it", "javascript:saveit(#{@product.id})" %>
	</div>
<% end %>
	<p style="margin: 15px 0px 0px 20px"><%=h @product.title %></p>
	<div id="image"><%= link_to image_tag(@product.imagelurl, :width => @product.imagelw, :height => @product.imagelh), @product.imagelurl, :popup => true %></div>
	<div id="features">
	<ul>
		<% session[:productType].constantize::ShowFeatures.each_index do |i| %>
			<% f_name = session[:productType].constantize::ShowFeatures[i] %>
			<% f = @product.send(f_name) %>
			<% if !f.nil? %>
				<li><span class="detail_label"><%= session[:productType].constantize::ShowFeaturesDisp[i] %>: </span><%= @product.display f_name %></li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<% if !@product.feature.nil? %>
	<div id="textfeatures">
		<ul>
		<li><%= @product.feature.gsub("\n",'</li><li>') %></li>
		</ul>
	</div>
	<% end %>
	<div id="reviews">
		<h3>Reviews</h3>
		There are no reviews for this item yet.
	</div>
	<div class="showtable">
		<h3>Available at the following Retailers</h3>
	<% @offerings.each do |offer| %>
		<% next if !offer.stock || offer.priceint.blank? %>
		<div class="left">	
			<%= link_to "#{offer.pricestr}", 'http://amazon.com/gp/product/'+@product.asin+'?tag=optemo-20&m='+'blah', :popup => true %>
		</div>
		<div class="right">
			 <%=  link_to image_tag(offer.retailer.image), 'http://amazon.com/o/ASIN/'+@product.asin+'?t=optemo-20', :popup => true %>
		</div>
	<% end %>
	</div>
	<%= flash[:notice] %>
	<div id='full_link'>
	<% if @plain %>
	<%= link_to 'Open as full page', :action => 'show', :id => @product%>
	<% end %>
	</div>
	
</div>
<% if !@plain %></div><% end %>