<%= link_to image_tag('close.gif'), "javascript:fadein();", :style => "top:10px;", :id => 'close' if @plain %>
<% if !@plain %><div id="outside">
	<% self.title = @product.smlTitle %>
	<span style="float: left;"><%= nav_link %></span>
	<div id="container" style="margin-left: 149px">
<% else %>		
	<div id="container">
		<img align="right" style="position:relative;top:-7px;right:20px;" src="/images/save.png" onClick="saveit(<%=@product.id%>);" class="save">
<% end %>
	<p style="margin: 15px 0px 0px 20px"><%= URI.decode(@product.title) %></p>
	<div id="image">
		<% unless @product.imagelurl.blank? %>
			<%= link_to image_tag(@product.imagelurl, :width => @product.imagelw, :height => @product.imagelh), @product.imagelurl, :popup => true %>
		<% else %>
			<br><br>No Image Available
		<% end %>
	</div>
	<div id="features">
	<ul>
		<% $model::ShowFeatures.each_index do |i| %>
			<% f_name = $model::ShowFeatures[i] %>
			<% f = @product.send(f_name) %>
			<% if !f.nil? %>
				<li>
					<% if $model::ContinuousFeatures.index($model.SFtoCFdictionary(f_name)) != nil %>
						<% if request.referer.index($model.urlname) == nil %> <!-- that is, if popup was not called from main navigation page, then show "better" links -->
						<div class="betterlinkdiv">
							<%= link_to "better", "javascript:findBetter('#{@product.id}', '#{$model.SFtoCFdictionary(f_name)}')", :"data-id" => f_name, :class => 'betterlink' %>
						</div>
						<% end %>
					<% end %>
				 	<span class="detail_label"><%= $model::ShowFeaturesDisp[i] %>: </span><%= @product.display f_name %>
				</li>
			<% end %>
		<% end %>
	</ul>
	</div>
	<% if !@product.feature.nil? %>
	<div id="textfeatures" style='display: none;'>
		<ul>
		<li><%= @product.feature.gsub("\n",'</li><li>') %></li>
		</ul>
	</div>
	<% end %>
	<div id="reviews">
		<h3>Reviews</h3>
		<% if @review.nil? %>
			There are no reviews for this item yet.
		<% else %>
			<b><%= @review.summary %></b> <em>from Amazon</em>
			<p class="review"><%= @review.content.length > 680 ? @review.content[0..680]+'...' : @review.content %></p>
		<% end %>
		<!--People agree this is a <strong>very good</strong> camera. Reviewers admire the <strong>large display</strong>, <strong>customer service</strong>, and <strong>sharp lens</strong> despite qualms with the video quality and portability. It is recommended if you're comfortable with the video quality and portability. -->
	</div>
	<div class="showtable">
		<h3>Available at the following Retailers</h3>
	<% @offerings.each do |offer| %>
		<% next if !offer.stock || offer.priceint.blank? %>
		<div class="left">	
			<%= link_to "#{offer.pricestr}", {:controller => 'link', :action => 'create', :id => offer.id}, :popup => true, :rel => 'nofollow' %>
		</div>
		<div class="right">
			 <%=  link_to image_tag(offer.retailer.image), {:controller => 'link', :action => 'create', :id => offer.id}, :popup => true %>
		</div>
		<div class="spacer">
		</div>
	<% end %>
	</div>
	<%= flash[:notice] %>
	<div id='full_link'>
	<% if @plain %>
	<%= link_to 'Open as full page', :action => 'show', :id => @product%>
	<% end %>
	</div>	
	<div id="betternotfoundmsg" style="padding-left:10px;padding-top:10px;color:green;visibility:hidden;"> There is no better product available for a better price </div>
</div>
<% if !@plain %></div><% end %>
	
	