<% s = Session %>
<%# raw stylesheet_link_merged(s.directLayout ? :direct : :assist) %>
<!--[if IE]>
<div id="IE">
<![endif]-->
<%# The border and other aspects of the top bar are in the retailer's frame. This just puts the "compare" layout in. %>
<%= yield %>
<div class="watermark"><%=t('products.compare.powered')%><%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %></div>
<div id="silkscreen">&nbsp;</div>
<div id="filter_silkscreen"></div>
<div id="loading"><img src="/images/classic-loader.gif" /><%=t('products.show.loading')%></div>
<div id="outsidecontainer"><div id="info">&nbsp;</div></div>
<!--[if IE]>
</div>
<![endif]-->
<div style="display:none;">
	<% if s %>
	<span id="dragDropEnabled"><%= s.dragAndDropEnabled %></span>
	<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id %></span>
	<span id="modelname"><%= s.product_type %></span>
	<span id="directLayout"><%= s.directLayout %></span>
	<span id="ab_testing_type"><%= s.ab_testing_type %></span>	
	<% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged :base %>

<%= render :partial => "piwik_stub", :locals => {:s => s} %>
<%# render :partial => "tour_stub", :locals => {:s => s} %>
