<% s = Session.current %>	

<div id="mycenter">
   <div class="bd <%= 'rounded_bd ' unless s.directLayout %>rounded">
	<div class="tl"></div><div class="tr"></div>
    <%= yield %>
	<div class="bl"></div><div class="br"></div>
   </div>
</div>
<div id="silkscreen">&nbsp;</div>
<div id="filter_bar_loading">Loading</div>
<div id="outsidecontainer"><%= link_to image_tag("closepopup#{fr?}.gif"), "close", :class => "close"%><div id="info">&nbsp;</div></div>
<div style="display:none;">
	<% if s %>
	<span id="dragDropEnabled"><%= s.dragAndDropEnabled %></span>
	<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id %></span>
	<span id="modelname"><%= s.product_type %></span>
	<span id="version"><%= s.version %></span>
	<span id="directLayout"><%= s.directLayout %></span>
	<% end %>
</div>

<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
.gainlayout { height: 0; }
#info{padding: 0px 20px 0px 20px !important;}
#feedback{position: absolute;}
</style><![endif]-->
 
<!--[if IE 7]><style>
.gainlayout { zoom: 1; }
.hist {left: 15px; }
</style><![endif]-->

<!--[if gte IE 7]><style>
@import url("/stylesheets/welcomeIE.css");
</style><![endif]-->

<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged :base %>
<%= raw stylesheet_link_merged(s.directLayout ? :listview : :gridview) %>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.optemo.com/" : "http://analytics.optemo.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>); // idsite is here
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->

<div id="backgroundPopup"></div>
