<% s = Session %>
<%# raw stylesheet_link_merged(s.directLayout ? :direct : :assist) %>
<!--[if lte IE 6]>
<div id="IE" class="ie6">
<![endif]-->
<!--[if IE 7]>
<div id="IE" class="ie7">
<![endif]-->
<!--[if IE 8]>
<div id="IE" class="ie8">
<![endif]-->
<!--[if gte IE 9]>
<div id="IE">
<![endif]-->

<%# The border and other aspects of the top bar are in the retailer's frame. This just puts the "compare" layout in. %>
<%= yield %>
<div id="silkscreen">&nbsp;</div>
<div id="filter_silkscreen"></div>
<div id="loading"><img src="/images/spinner_white_background.gif" /><%#=t('products.show.loading')%></div>
<div id="outsidecontainer"><div id="info">&nbsp;</div></div>
<!--[if IE]>
</div>
<![endif]-->
<div style="display:none;">
	<% if s %>
	<span id="dragDropEnabled"><%= s.dragAndDropEnabled %></span>
	<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id %></span>
	<span id="piwikid"><%= s.piwikSiteId %></span>
	<span id="modelname"><%= s.product_type %></span>
	<span id="directLayout"><%= s.directLayout %></span>
	<span id="ab_testing_type"><%= s.ab_testing_type %></span>	
	<% end %>
</div>

<% unless @jsonp_version %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged :bb_loader %>
<% end %>

<!-- Piwik -->
<noscript><p><img src="http://analyze.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->