<% s = Session %>	
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, target-densitydpi=device-dpi" />
	<meta name="HandheldFriendly" content="True" />
  <title>Search &amp; Filtering</title>
<%= favicon_link_tag %>
<link rel="apple-touch-icon" href="/images/O.png" />
<%= raw stylesheet_link_merged :mobileview %>
</head>
<body>
<div id="mycenter">
    <%= yield  %>
</div>
<div style="display:none;">
<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id if s %></span>
<span id="ab_testing_type"><%= s.ab_testing_type if s %></span>	
<span id="modelname"><%= s.product_type if s %></span>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!-- jQuery UI 1.8 is included locally because it has only part of the functionality (a much smaller download). See asset_packages.yml -->

</body>
</html>
