<% s = Session %>	
<%= render :partial => "html_and_head", :locals => {:s => s} %>
<body style="background-color: #545454;">
<div id="mycenter">
   <div id="header">
	<div class="logo_container"><%= image_tag 'browsethenbuy_mobile.png', :style => "margin: 0px 0px 5px 2px;" %></div>

    <%= yield  %>

<div id="bottomlinks">
   <%= link_to 'Terms of Use', '/termsofuse', {:title => 'Legal'}  %> |
	Powered by <%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %>
</div>
</div>

<%# This is deprecated in the mobile layout, no? %><div id="outsidecontainer"><%= link_to image_tag("closepopup#{fr?}.gif"), "close", :class => "close"%><div id="info">&nbsp;</div></div>

<div style="display:none;">
<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id if s %></span>
<span id="ab_testing_type"><%= s.ab_testing_type if s %></span>	
<span id="modelname"><%= s.product_type if s %></span>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged(:mobile) %>

<%= render :partial => "piwik_stub", :locals => {:s => s} %>

<noscript><div id="noJavascript" style="position:absolute; top: 40px; left:30px; width:250px; background: #FFFFFF; opacity:0.8"><b>Javascript is disabled.</b>For full functionality of Optemo Mobile, please enable javascript.</div></noscript>
</body>
</html>
