<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <meta name="description" content="<%= describe %>" />
<meta name="keywords" content="laser, printer, printers, buy, prices, price comparison, reviews, recommendation, HP, Canon, Xerox" />
<meta name="robots" content="index,all,follow" />
<meta name="classification" content="Laser Printers" />
<meta name="rating" content="General" />
<link rel="shortcut icon" href="/favicon.ico" >
<%= stylesheet_link_merged :base %>
</head>
<body>
<div id="mycenter">
<div class="dialog">

 <!-- top/right PNG -->
 <div class="content">

  <!-- optional: vertical scroll wrapper -->
  <div class="wrapper">

   <!-- top/left PNG -->
   <div class="t"></div>

   <!-- Your content goes here -->

   <!-- Optional: Standard Module Format (hd/bd/ft)
   for providing semantic, meaningful content.
   Not required for visual effect. -->

   <div class="hd">
	<div id="header">
	  <div id="logo">
		<a href="<%= url_for '/' %>" id ="logo" title="LaserPrinterHub.com"><%= image_tag('logo.jpg') %><span>Home</span></a>
	  </div>
		<a href="<%= url_for '/laserprinters' %>" title="Why to buy a laser printer?" id='whylaser'><%= image_tag('whylaser.jpg') %><span>Click to find out</span></a>
	  <div id="header_buttons">
	    powered by <%= link_to image_tag('optemo.jpg'), 'http://www.optemo.com', {:title => 'Optemo'} %>
	  </div>
	  

	</div>
   </div>
   <div id="headerbar"><!--IE min line height--></div>
	
   <div class="bd">
    <%= yield  %>
   </div>

   <div class="ft"><!--IE min line height--></div>
  <!-- end content -->
  </div>

 <!-- end scroll wrapper -->
 </div>

 <!-- bottom PNG -->
 <div class="b"><div></div></div>
 <div id="bottomlinks">
	<%= link_to 'Home', '/' %> |
	<%= link_to 'Terms of Use', '/termsofuse', {:title => 'Legal'}  %> |
	<%= link_to 'Site Map', '/sitemap', {:title => 'Link to all products'} %> |
	<%= link_to 'About Us', '/about', {:title => 'LaserPrinterHub'} %> |
	<%= link_to 'Contact Us', "znvygb:grnz\100ynfrecevagreuho\056pbz", {:class => 'decrypt', :title => 'Email Us'}%>
 </div>
 <!-- end dialog -->
</div>
</div>
<div id="fade" onClick="fadein();">&nbsp;</div>
<div id="info">&nbsp;</div>
<%= javascript_include_tag 'jquery-1.3.2.min', {:include_google_js => true}%>
<%= javascript_include_tag 'jqueryui-1.7.2.min', {:include_google_js => true}%>
<%= javascript_include_merged :base %>
</body>
</html>
