<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Optemo - <%= controller_name.capitalize %> <%= "- " + @camera.title if controller_name == 'cameras' && action_name == 'show' %> </title>
  <meta name="description" content="Laser Printer Comparison." />
<meta name="keywords" content="laser, printer, printers, price comparison, reviews, recommendation, HP, Canon, Xerox" />
<meta name="robots" content="index,all,follow,NOODP" />
<meta name="classification" content="Laser Printers" />
<meta name="rating" content="General" />
  <%= stylesheet_link_tag 'welcome' %>
  <%= stylesheet_link_tag 'camera' %>
  <%= stylesheet_link_tag 'show' %>
  <%= stylesheet_link_tag 'compare' %>
  <%# stylesheet_link_tag 'smoothness/jquery-ui-1.7.1.custom.css' %>
	<link rel="shortcut icon" href="/favicon.ico" >
  <%# javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%# javascript_include_tag 'slider' %>
  <%= javascript_include_tag 'master_raphael-packed' %>
</head>
<body>
<div id="mycenter">
<div class="dialog">

 <!-- top/right PNG -->
 <div class="content">

  <!-- optional: vertical scroll wrapper -->
  <div class="wrapper">

   <!-- top/left PNG -->
   <div class="t"></div>

   <!-- Your content goes here -->

   <!-- Optional: Standard Module Format (hd/bd/ft)
   for providing semantic, meaningful content.
   Not required for visual effect. -->

   <div class="hd">
	<div id="header">
	  <div id="logo">
		<a href="<%= url_for '/' %>" id ="logo" title="LaserPrinterHub.com"><%= image_tag('logo.png') %><span>Home</span></a>
	  </div>
		<a href="<%= url_for '/laserprinters' %>" title="Why to buy a laser printer?" id='whylaser'><%= image_tag('whylaser.png') %><span>Click to find out</span></a>
	  <div id="header_buttons">
	    powered by <%= link_to image_tag('optemo.png'), 'http://www.optemo.com', {:title => 'Optemo'} %>
	  </div>
	  

	</div>
   </div>
   <div id="headerbar"><!--IE min line height--></div>
	
   <div class="bd">
	<div id = "error_space"><%= flash[:notice] %></div>
    <%= yield  %>
   </div>

   <div class="ft"><!--IE min line height--></div>
  <!-- end content -->
  </div>

 <!-- end scroll wrapper -->
 </div>

 <!-- bottom PNG -->
 <div class="b"><div></div></div>
 <div id="bottomlinks">
	<%= link_to 'Home', '/' %> |
	<%= link_to 'Terms of Use', '/termsofuse', {:title => 'Legal'}  %> |
	<%= link_to 'About Us', '/about', {:title => 'LaserPrinterHub'} %> |
	<%= link_to 'Contact Us', "znvygb:grnz\100ynfrecevagreuho\056pbz", {:class => 'decrypt', :title => 'Email Us'}%>
 </div>
 <!-- end dialog -->
</div>
</div>
<div id="fade" onClick="fadein();">&nbsp;</div>
<div id="info">&nbsp;</div>

</body>
</html>
