<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Optemo </title>
  <%= stylesheet_link_tag 'welcome' %>
  <%= stylesheet_link_tag 'camera' %>
  <%= stylesheet_link_tag 'show' %>
  <%= stylesheet_link_tag 'compare' %>
	<link rel="shortcut icon" href="/favicon.ico" >
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'slider' %>
  <%= javascript_include_tag 'master_raphael-packed' %>
</head>
<body>
<div class="dialog">

 <!-- top/right PNG -->
 <div class="content">

  <!-- optional: vertical scroll wrapper -->
  <div class="wrapper">

   <!-- top/left PNG -->
   <div class="t"></div>

   <!-- Your content goes here -->

   <!-- Optional: Standard Module Format (hd/bd/ft)
   for providing semantic, meaningful content.
   Not required for visual effect. -->

   <div class="hd">
	<br>
	<div id="header">
	  <%= image_tag 'logo.jpg', :width  => 300, :class => 'img' %>
	  <div id="searchbar">
	  <% form_tag ({:controller => 'search', :action => 'find' }) do %>
	  
	  <%= text_field_tag 'search' %>
	  <%= submit_tag 'Search Cameras' %>
	  <% end %>
	</div>
	</div>
	<div id = "header_options"><%= flash[:notice] %> Session: <%= session[:user_id] %> <a href="/" class="link">Home</a> <a class="link" href="/about">About Us</a> <a href="/team" class="link">The Team</a></div>
   </div>

   <div class="bd">
    <%= yield  %>
   </div>

   <div class="ft">
   </div>
  <!-- end content -->
  </div>

 <!-- end scroll wrapper -->
 </div>

 <!-- bottom PNG -->
 <div class="b"><div></div></div>
 <div id="fade" onClick="fadein();">&nbsp;</div>
 <div id="info">&nbsp;</div>
<!-- end dialog -->
</div>

</body>
</html>
