<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Site - Optemo <%= Rails.env %></title>
<meta name="fragment" content="!">
<%= stylesheet_link_tag (Session.futureshop? ? :futureshop : :application) %>
</head>

<body style="font-size:0.75em;font-family: <%= Session.futureshop? ? "Verdana,​Arial,​Helvetica,​sans-serif" : "arial, helvetica, sans-serif" %>;margin:0;">
  <script type="text/javascript">optemo_french = <%= fr? == "_fr" ? "true" : "null" %></script>
  
  <%= yield %>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag :application %>
  
  <script type="text/javascript">window.opt_category_id = "<%= Session.product_type %>";optemo_module.whenDOMready();</script>
</body>
</html>