<% s = Session.current %>	
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <!-- xmlns:fb="http://www.facebook.com/2008/fbml" -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= title %></title>
  <meta name="description" content="<%= describe %>" />
<meta name="keywords" content="laser, printer, printers, buy, prices, price comparison, reviews, recommendation, HP, Canon, Xerox" />
<meta name="robots" content="index,all,follow" />
<meta name="classification" content="Laser Printers" />
<meta name="rating" content="General" />
<link rel="shortcut icon" href="/favicon.ico" />
<%= raw stylesheet_link_merged(s.directLayout ? :listview : :gridview) %>
</head>
<body>
<div id="mycenter">
   <div id="header">
	  <!-- div id="flags">
		<%= link_to image_tag('us.gif'), url_for_intl('com') %>
		<%= link_to image_tag('ca.gif'), url_for_intl('ca') %>
	  </div-->
	  <div id="logo">
		<a href="<%= url_for '/' %>" id ="logo" title="<%=t s.product_type+".url" %>"><%= image_tag("#{s.product_type}.jpg")%><span>Home</span></a>
	  </div>
	 <div id="tagline">
		<%=t "#{s.product_type}.tagline" %>
	</div>
	 <div id="tourButton"><%= link_to "Launch Tour", '#' %></div>
   </div>
   <div class="watermark">Powered by <%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %></div>
   <div class="bd <%= 'rounded_bd ' unless s.directLayout %>rounded">
	<div class="tl"></div><div class="tr"></div>
    <%= yield %>
	<div class="bl"></div><div class="br"></div>
   </div>
</div>
<div id="bottomlinks">
   <%= link_to 'Home', '/' %> |
   <%= link_to 'Terms of Use', '/termsofuse', {:title => 'Legal'}  %> |
   <%= link_to 'Site Map', '/sitemap', {:title => 'Link to all products'} %> |
   <%= link_to 'About Us', '/about', {:title => 'LaserPrinterHub'} %> |
   <%= link_to 'Contact Us', "znvygb:grnz\100ynfrecevagreuho\056pbz", {:class => 'decrypt', :title => 'Email Us'}%>
</div>
<div id="silkscreen">&nbsp;</div>
<div id="filter_bar_loading">Loading</div>
<div id="outsidecontainer"><%= link_to image_tag("closepopup#{fr?}.gif"), "close", :class => "close"%><div id="info">&nbsp;</div></div>
<div id="feedback">
<%= image_tag "feedback#{fr?}.png" %>
</div>
<div style="display:none;">
	<% if s %>
	<span id="dragDropEnabled"><%= s.dragAndDropEnabled %></span>
	<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id %></span>
	<span id="modelname"><%= s.product_type %></span>
	<span id="directLayout"><%= s.directLayout %></span>
	<% end %>
</div>

<!--[if lt IE 7]><style>
/* style for IE6 + IE5.5 + IE5.0 */
.gainlayout { height: 0; }
#info{padding: 0px 20px 0px 20px !important;}
#feedback{position: absolute;}
</style><![endif]-->
 
<!--[if IE 7]><style>
.gainlayout { zoom: 1; }
.hist {left: 15px; }
</style><![endif]-->

<!--[if gte IE 7]><style>
@import url("/stylesheets/welcomeIE.css");
</style><![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged :base %>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.optemo.com/" : "http://analytics.optemo.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= s.piwikSiteId %>); // idsite is here
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.optemo.com/piwik.php?idsite=<%= s.piwikSiteId %>" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->

<% if (s && s.directLayout) #check for existence first, just in case %>
	<%= raw popuptext(1, "Products are sorted by their utility. Click on one to see its specs.") %>
	<%= raw popuptext(2, "Group by features to limit the number of products shown.") %>
	<%= raw popuptext(3, "Slide the filters to constrain your search terms based on a variety of specific criteria.") %>
	<%= raw popuptext(4, "Drag and drop products in here to compare their specs directly.", "Start Browsing") %>
<% else %>
	<%= raw popuptext(1, "Each product shown is a representative of a dynamically created group of similar products. To browse within that group, click &quot;more like this.&quot;") %>
	<%= raw popuptext(2, "Slide the filters to constrain your search terms based on a variety of specific criteria.") %>
	<%= raw popuptext(3, "Drag and drop products in here to compare their specs directly.", "Start Browsing") %>
<% end %>
<div id="backgroundPopup"></div>
<noscript><div id="noJavascript" style="position:absolute; top: 40px; left:30px; width:250px; background: #FFFFFF; opacity:0.8"><b>Javascript is disabled.</b>For full functionality, please enable javascript.</div></noscript>
</body>
</html>
