<% s = Session %>	
<%= render :partial => "html_and_head", :locals => {:s => s} %>
<body>
<div id="mycenter">
	<%= case Session.product_type 
	  when "printer_lph" then render :partial => "lph_header" 
	  when /demo|_us$/ then render :partial => "demo_header"
	  end
	%>
<% if Session.product_type == "printer_lph" %>
	<div class="watermark">Powered by <%= link_to 'Optemo', 'http://optemo.com', :class => "popup" %></div>
	<div id="bottomlinks">
	   <%= link_to 'Home', '/' %> |
	   <%= link_to 'Terms of Use', '/termsofuse', {:title => 'Legal'}  %> |
	   <%= link_to 'Site Map', '/sitemap', {:title => 'Link to all products'} %> |
	   <%= link_to 'About Us', '/about', {:title => 'LaserPrinterHub'} %> |
	   <%= link_to 'Contact Us', "znvygb:grnz\100ynfrecevagreuho\056pbz", {:class => 'decrypt', :title => 'Email Us'}%>
	</div>
<% end %>
   <div class="bd <%= 'rounded_bd ' unless s.directLayout %>rounded">
	<div class="tl"></div><div class="tr"></div>
    <%= yield %>
	<div class="bl"></div><div class="br"></div>
   </div>
</div>
<div id="silkscreen">&nbsp;</div>
<div id="filter_bar_loading">Loading</div>
<div id="outsidecontainer"><div id="info">&nbsp;</div></div>
<div id="feedback">
<%= image_tag "feedback#{fr?}.png" %>
</div>
<div style="display:none;">
	<% if s %>
	<span id="dragDropEnabled"><%= s.dragAndDropEnabled %></span>
	<span id="seshid" session-id="<%= s.id unless s.nil? %>"><%= s.id %></span>
	<span id="modelname"><%= s.product_type %></span>
	<span id="directLayout"><%= s.directLayout %></span>
	<% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<!-- The jquery-ui script is being included locally due to the custom jquery-ui being about 45k instead of 200kb from Google's CDN -->
<%= raw javascript_include_merged :base %>

<%= render :partial => "piwik_stub", :locals => {:s => s} %>
<%= render :partial => "tour_stub", :locals => {:s => s} %>

<div id="backgroundPopup"></div>
<% if @indexload %>
<noscript><div id="noJavascript" style="position:absolute; top: 40px; left:30px; width:250px; background: #FFFFFF; opacity:0.8"><b>Javascript is disabled.</b>For full functionality, please enable javascript.</div></noscript>
<% end %>
</body>
</html>
